








































































































Bibliotecas utilizadas

In [ ]:
import bigframes as bf
import bigframes.pandas as bpd

In [ ]:
bf.options.bigquery.project = "cdle-415809"
bf.options.bigquery.location = "us-central1"

# Visualização de bibliotecas e procura de colunas importantes

In [ ]:
df = bpd.read_gbq("cdle-415809.CDLE.Projeto1")
df

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,89665332,10724,164826,231067,3652,2185-06-10 15:30:00,2185-06-10 16:15:00,16660,98,98,Deg F,<NA>,<NA>,<NA>,NotStopd
1,271155005,40548,168670,260223,223901,2156-08-09 08:00:00,2156-08-09 12:43:00,19463,Obeys Commands,6,<NA>,0,0,<NA>,<NA>
2,85506333,9960,159243,200036,550,2181-08-29 03:00:00,2181-08-29 04:02:00,18592,Universal,<NA>,<NA>,<NA>,<NA>,<NA>,NotStopd
3,183524860,30310,121631,282905,171,2108-11-16 17:00:00,2108-11-16 19:45:00,15630,Cough/DeepBreath,<NA>,<NA>,<NA>,<NA>,<NA>,NotStopd
4,74709283,7731,125193,287285,32,2178-02-28 01:00:00,2178-02-28 03:25:00,21570,Tolerated Well,<NA>,<NA>,<NA>,<NA>,<NA>,NotStopd
5,161747143,25368,146404,233582,618,2128-09-17 17:00:00,2128-09-17 17:02:00,15283,24,24,BPM,<NA>,<NA>,<NA>,NotStopd
6,224304991,31044,184171,204730,5820,2121-05-04 19:00:00,2121-05-04 19:11:00,16302,90,90,%,<NA>,<NA>,<NA>,NotStopd
7,24361814,78532,177956,240761,224150,2159-05-08 03:00:00,2159-05-08 06:45:00,17574,176,176,mmHg,0,0,<NA>,<NA>
8,54287556,3868,157650,269518,211,2125-09-13 07:00:00,2125-09-13 07:30:00,17189,87,87,BPM,<NA>,<NA>,<NA>,NotStopd
9,135859715,19942,190227,213176,683,2164-07-27 12:00:00,2164-07-27 12:04:00,18795,500,500,ml/B,<NA>,<NA>,<NA>,NotStopd
10,252578470,29127,150613,263686,8554,2139-05-14 00:00:00,2139-05-14 00:03:00,17219,100,100,%,<NA>,<NA>,<NA>,NotStopd
11,183897009,30396,125706,236168,159,2180-08-20 01:00:00,2180-08-20 01:15:00,18469,None,<NA>,<NA>,<NA>,<NA>,<NA>,NotStopd
12,78191,665,170157,281431,220339,2119-05-16 12:00:00,2119-05-16 12:32:00,19101,8,8,cmH2O,0,0,<NA>,<NA>
13,11984826,53463,183511,246549,223876,2178-08-09 04:00:00,2178-08-09 04:10:00,19747,20,20,sec,0,0,<NA>,<NA>
14,9789709,48732,196123,224097,220045,2105-11-13 13:00:00,2105-11-13 13:09:00,17250,91,91,bpm,0,0,<NA>,<NA>
15,9554387,48297,103539,230670,224738,2163-06-25 20:00:00,2163-06-25 19:17:00,14371,.8,.8,sec,0,0,<NA>,<NA>
16,159827078,24974,178757,210203,80,2135-02-14 04:00:00,2135-02-14 05:50:00,15996,Active,<NA>,<NA>,<NA>,<NA>,<NA>,NotStopd
17,295514213,64538,127392,228387,224370,2105-02-27 20:00:00,2105-02-27 19:57:00,18999,White,<NA>,<NA>,0,0,<NA>,<NA>
18,40170847,1075,190552,243588,211,2175-02-18 13:00:00,2175-02-18 13:57:00,20781,119,119,BPM,<NA>,<NA>,<NA>,NotStopd
19,239759195,14945,110433,293148,8548,2138-03-17 11:00:00,2138-03-17 11:01:00,19089,20,20,mmHg,<NA>,<NA>,<NA>,NotStopd
20,124921560,17746,131077,276814,3580,2142-06-01 04:30:00,2142-06-01 05:34:00,14425,3.0750000476837158,3.0750000476837158,kg,<NA>,<NA>,<NA>,NotStopd
21,1278811,11993,115213,238732,220210,2186-12-15 09:00:00,2186-12-15 09:07:00,16102,14,14,insp/min,0,0,<NA>,<NA>
22,314301582,83180,196309,244255,224087,2188-01-08 14:00:00,2188-01-08 14:00:00,17735,AtmosAir Mattress,<NA>,<NA>,0,0,<NA>,<NA>
23,257968568,58871,114864,207932,227292,2197-12-16 00:10:00,2197-12-16 00:10:00,16284,1,1,<NA>,0,0,<NA>,<NA>
24,225351508,32253,156847,279303,440,2137-07-22 07:00:00,2137-07-22 07:14:00,16356,6,6,<NA>,<NA>,<NA>,<NA>,NotStopd

Ao visualizar a tabela dos CHARTEVENTS deparamo-nos com colunas que têm ligação a outras tabelas, logo incluimos essas colunas na nossa tabela de dados importantes chamada Data. Para além dessas colunas acrescentamos a coluna VALUE que contem informações sobre o valor medido com o item do ITEMID

In [ ]:
query = """

CREATE OR REPLACE TABLE cdle-415809.CDLE.Data AS
SELECT
  SUBJECT_ID,HADM_ID, ICUSTAY_ID, ITEMID, VALUE
FROM
  cdle-415809.CDLE.Projeto1

"""
df = bpd.read_gbq(query,use_cache=False)
df

   SUBJECT_ID HADM_ID ICUSTAY_ID  ITEMID               VALUE
0         234  188399     252814     787                  26
1         250  124271     205951     861                16.8
2       31917  154591     238303  224828                   3
3       31917  154591     238303  224828                   3
4       31917  154591     238303  224828                   3
5       31917  154591     238303  224828                   3
6       32170  168196     270044     466           C Surg RN
7       32170  168196     270044     466           C Surg RN
8       32170  168196     270044     466           C Surg RN
9       32170  168196     270044     466           C Surg RN
10      32170  168196     270044     466           C Surg RN
11      32170  168196     270044     466           C Surg RN
12      32170  168196     270044     466           C Surg RN
13      32170  168196     270044     466           C Surg RN
14      32170  168196     270044     466           C Surg RN
15      32170  168196     270044     466           C Surg RN
16      32170  168196     270044     466           C Surg RN
17      32170  168196     270044     466           C Surg RN
18      32170  168196     270044     466           C Surg RN
19      32170  168196     270044     466           C Surg RN
20      32170  168196     270044     466           C Surg RN
21      32170  168196     270044     466           C Surg RN
22      18471  150976     290711     814  9.6000003814697266
23       4066  153642     277388    1529                 124
24       4066  153642     277388    1529                 124
...

[330712484 rows x 5 columns]

Antes de prosseguir para outras tabelas limpamos os valores nulos da tabela data

In [ ]:
query ="""DELETE FROM cdle-415809.CDLE.Data
WHERE SUBJECT_ID IS NULL OR ICUSTAY_ID IS NULL or ITEMID IS NULL OR VALUE IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

   SUBJECT_ID HADM_ID ICUSTAY_ID  ITEMID               VALUE
0         234  188399     252814     787                  26
1         250  124271     205951     861                16.8
2       31917  154591     238303  224828                   3
3       31917  154591     238303  224828                   3
4       31917  154591     238303  224828                   3
5       31917  154591     238303  224828                   3
6       32170  168196     270044     466           C Surg RN
7       32170  168196     270044     466           C Surg RN
8       32170  168196     270044     466           C Surg RN
9       32170  168196     270044     466           C Surg RN
10      32170  168196     270044     466           C Surg RN
11      32170  168196     270044     466           C Surg RN
12      32170  168196     270044     466           C Surg RN
13      32170  168196     270044     466           C Surg RN
14      32170  168196     270044     466           C Surg RN
15      32170  168196     270044     466           C Surg RN
16      32170  168196     270044     466           C Surg RN
17      32170  168196     270044     466           C Surg RN
18      32170  168196     270044     466           C Surg RN
19      32170  168196     270044     466           C Surg RN
20      32170  168196     270044     466           C Surg RN
21      32170  168196     270044     466           C Surg RN
22      18471  150976     290711     814  9.6000003814697266
23       4066  153642     277388    1529                 124
24       4066  153642     277388    1529                 124
...

[328346483 rows x 5 columns]

Após a limpeza procuramos colunas importantes na tabela dos D_ITEMS

In [ ]:
query="""
SELECT
  *
FROM
  cdle-415809.CDLE.Itens

"""

df = bpd.read_gbq(query,use_cache=False)

df

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,14366,225929,ProBalance (Full),ProBalance (Full),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,<NA>
1,4881,8418,Inc #3 [Appearance],<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
2,13689,225312,ART BP mean,ART BP mean,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,<NA>
3,10152,45902,SSC30NG,<NA>,carevue,inputevents_cv,Free Form Intake,<NA>,<NA>,<NA>
4,15060,227962,Restraints (Violent),Restraints (Violent),metavision,chartevents,Restraint/Support Systems,<NA>,Text,<NA>
5,4451,6952,Aprotinen,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
6,2634,6238,propofol,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
7,9349,46169,free water bolus.,<NA>,carevue,inputevents_cv,Free Form Intake,<NA>,<NA>,<NA>
8,4555,7209,COUGH/DEEP BREATHING,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
9,12950,221212,"Saline 0,18%","Saline 0,18%",metavision,inputevents_mv,Fluids - Other (Not In Use),mL,Solution,<NA>
10,13473,224956,Impaired Skin Width #7,Site Width #7,metavision,chartevents,Skin - Impairment,cm,Numeric,<NA>
11,14958,227613,Impaired Skin Type #10,Type #10,metavision,chartevents,Skin - Impairment,<NA>,Text,<NA>
12,9035,44003,floor out,<NA>,carevue,outputevents,<NA>,<NA>,<NA>,<NA>
13,8922,43856,urine cc/k/ghr,<NA>,carevue,outputevents,<NA>,<NA>,<NA>,<NA>
14,15368,228586,Dressing Status,Dressing Status,metavision,chartevents,Skin - Impairment,<NA>,Text,<NA>
15,12155,45430,potassium Chl 40meq,<NA>,carevue,inputevents_cv,Free Form Intake,<NA>,<NA>,<NA>
16,695,775,Amylase,<NA>,carevue,chartevents,Enzymes,<NA>,<NA>,<NA>
17,2574,6175,Coag bld wk,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
18,11845,43882,FoleyIrrigant,<NA>,carevue,inputevents_cv,Free Form Intake,<NA>,<NA>,<NA>
19,10349,46575,GB drain,<NA>,carevue,outputevents,<NA>,<NA>,<NA>,<NA>
20,12736,220181,Non Invasive Blood Pressure mean,NBPm,metavision,chartevents,Routine Vital Signs,mmHg,Numeric,<NA>
21,684,735,Wound Care,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
22,12052,46397,Neosure 22,<NA>,carevue,inputevents_cv,Free Form Intake,<NA>,<NA>,<NA>
23,13363,224446,GI #3 Tube Drainage,GI #3 Tube Drainage,metavision,chartevents,GI/GU,<NA>,Text,<NA>
24,7162,43178,Repogle Tube OGT,<NA>,carevue,outputevents,<NA>,<NA>,<NA>,<NA>

De todas as tabelas as que consideramos mais importantes foram as de Label e Category uma vez que indicam de uma forma mais detalhada o tipo de Item que estamos a utilizar. Com isto na tabela Data criamos duas colunas novas para receberem os dados novos

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN ITEM_LABEL STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN CATEGORY STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query ="""

UPDATE cdle-415809.CDLE.Data AS t1
SET t1.Category = t2.CATEGORY,
t1.Item_label = t2.LABEL
FROM cdle-415809.CDLE.Itens AS t2
WHERE t1.ITEMID = CAST(t2.ITEMID AS STRING)

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY
0,30112,159590,257809,220546,9.4,WBC,Labs
1,92405,166823,268822,220045,71,Heart Rate,Routine Vital Signs
2,17526,193493,253399,813,25.799999237060547,Hematocrit,Hematology
3,26012,104482,265571,1126,7.38,Art.pH,ABG
4,91217,179553,227042,220179,155,Non Invasive Blood Pressure systolic,Routine Vital Signs
5,91217,179553,227042,220179,155,Non Invasive Blood Pressure systolic,Routine Vital Signs
6,3283,161444,231755,704,Side to Side,Turn,<NA>
7,3283,161444,231755,704,Side to Side,Turn,<NA>
8,3283,161444,231755,704,Side to Side,Turn,<NA>
9,3283,161444,231755,704,Side to Side,Turn,<NA>
10,3283,161444,231755,704,Side to Side,Turn,<NA>
11,3283,161444,231755,704,Side to Side,Turn,<NA>
12,3283,161444,231755,704,Side to Side,Turn,<NA>
13,3283,161444,231755,704,Side to Side,Turn,<NA>
14,3283,161444,231755,704,Side to Side,Turn,<NA>
15,3283,161444,231755,704,Side to Side,Turn,<NA>
16,3283,161444,231755,704,Side to Side,Turn,<NA>
17,3283,161444,231755,704,Side to Side,Turn,<NA>
18,15816,174599,248928,707,Indwelling Cath,Urine Source,<NA>
19,15816,174599,248928,707,Indwelling Cath,Urine Source,<NA>
20,15816,174599,248928,707,Indwelling Cath,Urine Source,<NA>
21,15816,174599,248928,707,Indwelling Cath,Urine Source,<NA>
22,15816,174599,248928,707,Indwelling Cath,Urine Source,<NA>
23,15816,174599,248928,707,Indwelling Cath,Urine Source,<NA>
24,15816,174599,248928,707,Indwelling Cath,Urine Source,<NA>

Como existe uma outra tabela de Items, mais especificamente relacionada com items de laboratorio resolvemos explorá-la também.

In [ ]:
query="""
SELECT
  *
FROM
  cdle-415809.CDLE.LabItens

"""

df = bpd.read_gbq(query,use_cache=False)

df

,ROW_ID,ITEMID,LABEL,FLUID,CATEGORY,LOINC_CODE
0,641,51441,Bands,Pleural,Hematology,<NA>
1,20,50819,PEEP,Blood,Blood Gas,20077-4
2,22,50821,pO2,Blood,Blood Gas,11556-8
3,403,51203,Factor IX,Blood,Hematology,3188-0
4,279,51079,"Cocaine, Urine",Urine,Chemistry,3397-7
5,542,51342,Wright Giemsa,Bone Marrow,Hematology,10355-6
6,386,51186,CD5 Absolute Count,Blood,Hematology,<NA>
7,634,51434,Other Cell,Other Body Fluid,Hematology,<NA>
8,516,51316,CD22,Bone Marrow,Hematology,<NA>
9,338,51138,Anticardiolipin Antibody IgG,Blood,Hematology,8065-5
10,497,51297,Thrombin,Blood,Hematology,3243-3
11,535,51335,FMC-7,Bone Marrow,Hematology,<NA>
12,266,51066,24 hr Calcium,Urine,Chemistry,6874-2
13,231,51031,"Cholesterol, Body Fluid",Other Body Fluid,Chemistry,12183-0
14,96,50895,Calculated TBG,Blood,Chemistry,3027-0
15,607,51407,CD38,Other Body Fluid,Hematology,51299-6
16,213,51013,"Chloride, CSF",Cerebrospinal Fluid (CSF),Chemistry,<NA>
17,124,50923,Fax,Blood,Chemistry,<NA>
18,69,50868,Anion Gap,Blood,Chemistry,1863-0
19,709,51509,Urine Comments,Urine,Hematology,<NA>
20,591,51391,CD11c,Other Body Fluid,Hematology,51232-7
21,363,51163,CD16/56%,Blood,Hematology,<NA>
22,175,50974,Prostate Specific Antigen,Blood,Chemistry,2857-1
23,683,51483,Hyphenated Yeast,Urine,Hematology,41865-7
24,21,50820,pH,Blood,Blood Gas,11558-4

Antes de fazer a correspondência dos dados resolvemos verificar se existe algum valor que provoque essa correspondência

In [ ]:
query="""
SELECT
    COUNT(*) AS total_ocorrencias
FROM
    cdle-415809.CDLE.LabItens AS t1
JOIN
    cdle-415809.CDLE.Data AS t2
ON
    cast(t1.ITEMID as STRING) = t2.ITEMID
"""

df = bpd.read_gbq(query,use_cache=False)

df

   total_ocorrencias
0                  0

[1 rows x 1 columns]

Como foi possivel ver não existem itens de laboratório associado por isso ignoramos por completo esta tabela. Passando então para a tabela da ICUSTAYS

In [ ]:
query="""

SELECT *
FROM cdle-415809.CDLE.ICUSTAYS

"""

df = bpd.read_gbq(query,use_cache=False)
df

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,11127,8744,175078,230090,carevue,NICU,NICU,56,56,2137-01-22 22:20:47+00:00,2137-01-23 00:57:15+00:00,0.1087
1,5359,4223,122294,227863,carevue,MICU,MICU,52,52,2152-04-07 20:05:14+00:00,2152-04-09 18:04:39+00:00,1.9163
2,59268,93362,187375,234826,metavision,CSRU,CSRU,12,12,2134-01-18 10:56:44+00:00,2134-01-19 15:48:39+00:00,1.2027
3,5045,3977,111024,203161,carevue,MICU,MICU,15,15,2141-05-04 18:55:56+00:00,2141-05-06 17:33:04+00:00,1.9425
4,9239,7255,180181,293531,carevue,CCU,CCU,57,57,2173-06-21 14:21:11+00:00,2173-06-25 19:00:47+00:00,4.1942
5,23434,18490,166658,211034,carevue,MICU,MICU,50,50,2105-07-23 03:50:56+00:00,2105-07-24 15:02:32+00:00,1.4664
6,46837,56116,131774,254007,metavision,TSICU,TSICU,14,14,2121-01-22 14:29:09+00:00,2121-01-23 18:01:45+00:00,1.1476
7,53805,76736,113085,212477,metavision,MICU,MICU,52,52,2168-03-26 03:04:39+00:00,2168-03-26 19:43:53+00:00,0.6939
8,3703,2948,158914,263205,carevue,MICU,MICU,12,12,2129-11-12 00:21:25+00:00,2129-11-14 18:06:28+00:00,2.7396
9,36184,28557,178081,296366,carevue,CSRU,CSRU,15,12,2129-05-18 11:22:43+00:00,2129-05-19 10:51:58+00:00,0.9786
10,1315,1010,128495,229123,carevue,MICU,MICU,52,23,2179-05-07 06:34:44+00:00,2179-05-08 18:35:59+00:00,1.5009
11,52070,71527,118552,203970,metavision,SICU,SICU,57,57,2141-10-04 12:26:58+00:00,2141-10-05 11:31:09+00:00,0.9612
12,2243,1778,126694,213469,carevue,MICU,MICU,52,52,2129-07-06 01:18:24+00:00,2129-07-16 19:26:46+00:00,10.7558
13,43577,46733,170387,202706,metavision,SICU,TSICU,57,14,2101-12-29 20:51:33+00:00,2102-01-02 20:23:51+00:00,3.9808
14,29868,23582,105770,203633,carevue,CCU,CCU,7,7,2197-12-01 12:00:44+00:00,2197-12-02 17:28:14+00:00,1.2274
15,6224,4917,190071,288592,carevue,CSRU,CSRU,14,14,2175-03-16 11:07:08+00:00,2175-03-19 17:25:28+00:00,3.2627
16,38948,30788,120198,282982,carevue,NICU,NICU,56,56,2193-11-14 10:43:23+00:00,2193-11-16 14:59:38+00:00,2.178
17,1307,1006,189081,209730,carevue,SICU,SICU,57,57,2159-05-19 16:07:18+00:00,2159-05-23 19:06:22+00:00,4.1244
18,27969,22063,186846,250161,carevue,TSICU,TSICU,14,14,2151-06-30 14:08:10+00:00,2151-07-01 18:46:03+00:00,1.193
19,54170,77804,102018,228189,metavision,SICU,SICU,33,33,2102-06-17 13:14:50+00:00,2102-06-19 18:05:17+00:00,2.2017
20,18556,14617,132697,287150,carevue,MICU,MICU,52,52,2111-10-01 20:20:56+00:00,2111-10-02 22:21:44+00:00,1.0839
21,33788,26634,169063,219965,carevue,NICU,NICU,56,56,2141-03-19 04:34:12+00:00,2141-03-20 09:02:22+00:00,1.1862
22,24325,19176,197312,212591,carevue,NICU,NICU,56,56,2128-03-25 03:08:00+00:00,2128-03-25 05:30:00+00:00,0.0986
23,40105,31791,189622,217948,carevue,TSICU,TSICU,14,14,2127-08-19 19:23:36+00:00,2127-08-23 23:56:11+00:00,4.1893
24,8037,6317,122673,273720,carevue,MICU,MICU,52,52,2138-08-07 18:59:25+00:00,2138-08-20 10:17:21+00:00,12.6375

In [ ]:
query="""

SELECT
    SUBJECT_ID,
    HADM_ID,
    ICUSTAY_ID,
    COUNT(*) as count
FROM
    cdle-415809.CDLE.ICUSTAYS
GROUP BY
    SUBJECT_ID,
    HADM_ID,
    ICUSTAY_ID



"""

df = bpd.read_gbq(query,use_cache=False)
df

    SUBJECT_ID  HADM_ID  ICUSTAY_ID  count
0        66483   178107      234528      1
1        29665   175645      226839      1
2        52598   197463      217274      1
3        81560   180763      205872      1
4        83641   111403      216446      1
5        78729   198023      230604      1
6        56635   155645      206958      1
7        24563   148292      227419      1
8        42271   135534      212269      1
9        90720   151648      219723      1
10       22616   154094      214814      1
11       84479   140242      293841      1
12       15719   182653      277309      1
13        9498   186431      219104      1
14       30906   126000      248673      1
15       32377   178842      253269      1
16       29082   186718      204801      1
17       19756   108314      248331      1
18       11753   160746      273578      1
19       86421   135304      232590      1
20       63327   116562      260520      1
21       16454   188598      270922      1
22       52779   150851      239145      1
23       24397   194822      229434      1
24       48314   129631      234465      1
...

[61532 rows x 4 columns]

Com a análise da tabela é possivel verificar que as colunas importantes seriam as INTIME, OUTTIME, LOS, uma vez que a SUBJECT_ID, ICUSTAYS_ID são únicas. No entanto, ao visualizar a explicação de cada coluna reparamos que a coluna LOS é a diferença de tempo em frações de dias entre o INTIME e OUTTIME, ficando assim com o LOS = Length of Stay. Com isto apenas utilizamos essa coluna.

In [ ]:
query="""
ALTER TABLE `cdle-415809.CDLE.Data` ADD COLUMN LOS FLOAT64
"""
df = bpd.read_gbq(query,use_cache=False)

query ="""

UPDATE cdle-415809.CDLE.Data AS t1
SET t1.LOS = t2.LOS
FROM cdle-415809.CDLE.ICUSTAYS AS t2
WHERE t1.ICUSTAY_ID = CAST(t2.ICUSTAY_ID AS STRING) and t1.SUBJECT_ID = CAST(t2.SUBJECT_ID AS STRING) and t1.HADM_ID = CAST(t2.HADM_ID AS STRING)

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS
0,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
1,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
2,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
3,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
4,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
5,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
6,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
7,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
8,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
9,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
10,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
11,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
12,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
13,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
14,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
15,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
16,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
17,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
18,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
19,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
20,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
21,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
22,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
23,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
24,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473

A correspondência podia ser feita usando apenas o ICUSTAY_ID, mas utilizamos os 3 indicadores de forma a ter a certeza da correspondência correta. Com isto fica terminada a primeira extração das colunas importantes.

# Visualização dos dados criados

In [ ]:
query ="""

select * from cdle-415809.CDLE.Data

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS
0,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
1,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
2,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
3,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
4,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
5,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
6,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
7,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
8,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
9,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
10,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
11,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
12,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
13,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
14,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
15,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
16,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
17,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
18,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
19,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
20,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
21,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
22,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
23,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
24,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473

Estes dados isolados não chegam para se prever corretamente os tempos de estadia, uma vez que tirando os indicadores únicos a cada paciente/item só temos equipamentos usados e tempo de estadia.

Resolvemos então criar uma nova tabela com os diagnósticos de cada paciente, mantendo uma ligação com a coluna criada anteriormente

Para esta fase 2 tabelas são importantes, a D_ICD_DIAGNOSES com os nomes dos diagnósticos e a DIAGNOSES_ICD responsável pela ligação do paciente ao nome do diagnóstico.

In [ ]:
df = bpd.read_gbq("cdle-415809.CDLE.Diagnoses")
df

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,3968,36253,Cystoid macular degen,Cystoid macular degeneration
1,7447,82390,Fx tibia NOS-open,Open fracture of unspecified part of tibia alone
2,8447,71292,Cryst arthrop NOS-up/arm,"Unspecified crystal arthropathy, upper arm"
3,11765,8700,Lac eyelid skn/perioculr,Laceration of skin of eyelid and periocular area
4,10292,81200,Fx up end humerus NOS-cl,Closed fracture of unspecified part of upper e...
5,12364,99709,Surg comp nerv systm NEC,Other nervous system complications
6,10199,V4983,Await organ transplnt st,Awaiting organ transplant status
7,169,01161,TB pneumonia-no exam,"Tuberculous pneumonia [any form], bacteriologi..."
8,5750,6254,Premenstrual tension,Premenstrual tension syndromes
9,6137,53989,Ot comp ot bariatrc proc,Other complications of other bariatric procedure
10,5734,6239,Noninflam dis vagina NOS,Unspecified noninflammatory disorder of vagina
11,10674,E8414,Aircraf acc-occ comm NEC,"Accident to powered aircraft, other and unspec..."
12,9975,7318,Bone involv in oth dis,Other bone involvement in diseases classified ...
13,11614,E8584,Acc poison-gi agent,Accidental poisoning by agents primarily affec...
14,408,09181,Acute syphil meningitis,Acute syphilitic meningitis (secondary)
15,6022,53100,Ac stomach ulcer w hem,"Acute gastric ulcer with hemorrhage, without m..."
16,3885,36041,Blind hypotensive eye,Blind hypotensive eye
17,4397,4162,Chr pulmonary embolism,Chronic pulmonary embolism
18,13394,E8736,Nonadmin necess medicine,Nonadministration of necessary drug or medicin...
19,6602,6390,Postabortion gu infect,Genital tract and pelvic infection following a...
20,3442,3410,Neuromyelitis optica,Neuromyelitis optica
21,5957,5264,Inflammation of jaw,Inflammatory conditions of jaw
22,1481,1225,Echinococ multiloc liver,Echinococcus multilocularis infection of liver
23,6449,64804,Diabetes-postpartum,"Diabetes mellitus of mother, complicating preg..."
24,6358,59659,Oth func dsdr bladder,Other functional disorder of bladder

In [ ]:
df = bpd.read_gbq("cdle-415809.CDLE.coddiagnos")
df

    ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE  row_num
0   565234       80880   143855        3      6040        1
1   191817       17197   143824        1     80022        1
2   319791       28222   118843        1     42823        1
3   380600       40347   124573       29     E8889        1
4   285723       25512   102762        6     77081        1
5   629796       95372   166743        9     49390        1
6   459850       57572   141317       35     04186        1
7    62032        5544   116545       28     45182        1
8   138553       12286   139519        3      V502        1
9   220632       19787   144745        3      3480        1
10  179241       16112   139553       12     28529        1
11   91211        8152   160458       11     E8798        1
12  441394       53596   169111        3     73314        1
13   12882        1112   192293        7     42731        1
14   27147        2414   106238        8     V1251        1
15  346530       30207   106900        6      2762        1
16  232614       20836   199617       11     25000        1
17  129963       11563   144409       11      5768        1
18  211815       19029   129896        4     03849        1
19   29122        2589   192317       10      2809        1
20  227645       20400   105707        5      9974        1
21  310510       27543   113974        8     99812        1
22  301318       26898   187225        3      4019        1
23  204923       18404   130468        1       431        1
24  597287       88124   156475        5      5859        1
...

[650987 rows x 6 columns]

In [ ]:
query = """
SELECT SUBJECT_ID, HADM_ID, ICD9_CODE,SEQ_NUM, COUNT(*) AS count
FROM cdle-415809.CDLE.coddiagnos
GROUP BY HADM_ID, ICD9_CODE,SUBJECT_ID,SEQ_NUM
HAVING COUNT(*) > 1
ORDER BY count DESC
"""


df = bpd.read_gbq(query, use_cache=False)
df

Empty DataFrame
Columns: [SUBJECT_ID, HADM_ID, ICD9_CODE, SEQ_NUM, count]
Index: []

[0 rows x 5 columns]

É possivel verificar que não existem dados repetidos.

In [ ]:
query="""
CREATE OR REPLACE TABLE cdle-415809.CDLE.patient_codes_diag
AS
SELECT SUBJECT_ID, HADM_ID, SEQ_NUM as SEQ_NUM_DIAG,ICD9_CODE as CODE_DIAG
FROM cdle-415809.CDLE.coddiagnos;
"""

df = bpd.read_gbq(query,use_cache=False)

df

    SUBJECT_ID  HADM_ID  SEQ_NUM_DIAG CODE_DIAG
0          776   102794             8      2859
1        32418   193289             1     V3000
2        26855   112153             4     51919
3        30754   164006            11     56210
4        80856   123598             3     34830
5        51874   151466            13       496
6        83603   124154             4      7103
7        29971   100021             2     99649
8        62946   191485            11      4019
9        25807   133844             3     76528
10       71707   175959            30     73390
11       19098   147256             2     51881
12       65427   197665            13     53081
13       71322   175149             3      4019
14        5850   181227             3     03849
15       57562   138145            11      2724
16       18301   145048             7     E8889
17       17617   121325             3      4254
18       91635   196160            12      5859
19       48231   152796             6       412
20       21892   170426            11      V103
21        7184   187463            11     28522
22       97560   128116            19      5990
23         563   120209             4     49390
24       17045   192188             6      E956
...

[651047 rows x 4 columns]

Após criada a tabela fazemos a ligação ao com a tabela D_ICD_DIAGNOSES para obtermos os nomes desses diagnósticos

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.patient_codes_diag ADD COLUMN DIAG_NAME STRING
"""
df = bpd.read_gbq(query,use_cache=False)

df

    SUBJECT_ID  HADM_ID  SEQ_NUM_DIAG CODE_DIAG DIAG_NAME
0        27694   185673            12     04100      <NA>
1        18182   119847             5      6201      <NA>
2        46880   182925             9      4280      <NA>
3        23409   140978             1     V3001      <NA>
4        54690   191976             6      4254      <NA>
5        63219   194579             1     41401      <NA>
6        10478   138728            15      3051      <NA>
7        13872   125082             1     V3000      <NA>
8         3002   185653            10      5119      <NA>
9        68389   165355            13      2724      <NA>
10       46608   180052            18      4168      <NA>
11        9352   167713             1     57510      <NA>
12         907   133125             6      5859      <NA>
13       23150   171705             5     40390      <NA>
14       32247   131903            24     28521      <NA>
15       22063   186846             4     78039      <NA>
16       31326   161806             6      7742      <NA>
17       98342   107047            21      2724      <NA>
18       64884   146330             2     78552      <NA>
19       22352   141238             2     75679      <NA>
20       98634   131717             5     34690      <NA>
21       93031   125979             3      5845      <NA>
22       18934   148283             5      5119      <NA>
23       67480   102135            13     34690      <NA>
24       86516   193789             8     V1051      <NA>
...

[651047 rows x 5 columns]

In [ ]:
query ="""

UPDATE cdle-415809.CDLE.patient_codes_diag AS t1
SET t1.DIAG_NAME = t2.SHORT_TITLE
FROM cdle-415809.CDLE.Diagnoses AS t2
WHERE t1.CODE_DIAG = t2.ICD9_CODE

"""
df = bpd.read_gbq(query,use_cache=False)

df

    SUBJECT_ID  HADM_ID  SEQ_NUM_DIAG CODE_DIAG                 DIAG_NAME
0        31901   124470             4     53081         Esophageal reflux
1        17667   124466            14      5859    Chronic kidney dis NOS
2        30943   138180             8     E9342    Adv eff anticoagulants
3        10377   151426            11     41071  Subendo infarct, initial
4        19213   147367             7      5363             Gastroparesis
5         7118   129158            15      5859    Chronic kidney dis NOS
6        27450   152177            14      5738       Liver disorders NEC
7        19940   198694             1     99859    Other postop infection
8         8152   160458             9      5789   Gastrointest hemorr NOS
9        92873   134362             1      4414     Abdom aortic aneurysm
10       17802   136091            15      2749                  Gout NOS
11       27410   144127             3      V290    NB obsrv suspct infect
12        3830   116521            17      7866  Chest swelling/mass/lump
13       10628   152850             4       496   Chr airway obstruct NEC
14       17528   191826             1      4920        Emphysematous bleb
15       56069   195834            10      5715    Cirrhosis of liver NOS
16       90992   181692             3     51852  Ot pul insuf fol trm/srg
17       96591   105668            14      2859                Anemia NOS
18        7219   126758             4     99859    Other postop infection
19       31418   180543            10      2884  Hemophagocytic syndromes
20       22976   143800             2      1550    Mal neo liver, primary
21       26277   172510             5      2761             Hyposmolality
22       44318   177554             3     42731       Atrial fibrillation
23       59392   193878            14      4280                   CHF NOS
24       84908   144258             4      5849  Acute kidney failure NOS
...

[651047 rows x 5 columns]

# Limpeza das tabelas criadas

Após termos criado as duas tabelas iremos fazer uma limpeza dos dados nulos das tabelas mais importantes para não haver problemas na altura de alimentar o modelo com dados

Da tabela Data verificamos se existiam nulos em todas as colunas exceto na das categorias uma vez que esta não apresenta um valor significativo apenas informa a categoria do item utilizado.

In [ ]:
query ="""select * FROM cdle-415809.CDLE.Data
WHERE SUBJECT_ID IS NULL OR ICUSTAY_ID IS NULL or ITEMID IS NULL OR VALUE IS NULL or HADM_ID IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

Empty DataFrame
Columns: [SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, VALUE, ITEM_LABEL, CATEGORY, LOS]
Index: []

[0 rows x 8 columns]

In [ ]:

query ="""select * FROM cdle-415809.CDLE.Data
WHERE ITEM_LABEL IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

   SUBJECT_ID  HADM_ID  ICUSTAY_ID  ITEMID  VALUE ITEM_LABEL CATEGORY   LOS
0  SUBJECT_ID  HADM_ID  ICUSTAY_ID  ITEMID  VALUE       <NA>     <NA>  <NA>

[1 rows x 8 columns]

In [ ]:
query ="""select * FROM cdle-415809.CDLE.Data
WHERE  LOS IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS
0,5246,119872,229922,456,67,NBP Mean,<NA>,<NA>
1,14219,102096,219572,51,86,Arterial BP [Systolic],<NA>,<NA>
2,18605,144751,264352,646,98,SpO2,<NA>,<NA>
3,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
4,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
5,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
6,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
7,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
8,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
9,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
10,11438,154602,227666,8388,Oral,GI Intub #1 [Site],<NA>,<NA>
11,6912,130891,298739,1162,7,BUN,<NA>,<NA>
12,73770,196446,258599,220635,1.7,Magnesium,Labs,<NA>
13,11438,154602,227666,51,137,Arterial BP [Systolic],<NA>,<NA>
14,65351,116062,269757,220235,47,Arterial CO2 Pressure,Labs,<NA>
15,61084,194201,245040,220645,138,Sodium (serum),Labs,<NA>
16,21828,158874,268775,8555,90,Arterial BP #2 [Diastolic],<NA>,<NA>
17,30940,110368,209887,422,3.1730799674987793,LCWI,<NA>,<NA>
18,23843,109653,226881,8467,Fully Dilated,Pupil Size [Left],<NA>,<NA>
19,23843,109653,226881,8467,Fully Dilated,Pupil Size [Left],<NA>,<NA>
20,25256,112635,223115,220635,1.6,Magnesium,Labs,<NA>
21,67906,122154,299820,227465,64.3,Prothrombin time,Labs,<NA>
22,23523,187872,252742,161,None,Ectopy Type,<NA>,<NA>
23,23523,187872,252742,161,None,Ectopy Type,<NA>,<NA>
24,23523,187872,252742,161,None,Ectopy Type,<NA>,<NA>

Após a verificam dos nulos eliminamos todas as linhas que têm na nossa coluna target valores nulos, assim como os items cujo nome é desconhecido

In [ ]:
query ="""DELETE FROM cdle-415809.CDLE.Data
WHERE ITEM_LABEL IS NULL OR LOS IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS
0,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
1,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
2,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
3,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
4,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
5,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
6,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
7,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
8,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
9,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
10,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
11,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
12,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
13,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
14,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
15,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
16,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
17,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
18,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
19,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
20,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
21,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
22,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
23,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473
24,55337,164768,257015,227969,Lines and tubes concealed,Safety Measures_U_1,Restraint/Support Systems,29.0473

Após a eliminação desses dados verificamos se foi bem feita

In [ ]:
query ="""select * FROM cdle-415809.CDLE.Data
WHERE ITEM_LABEL IS NULL OR LOS IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

Empty DataFrame
Columns: [SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, VALUE, ITEM_LABEL, CATEGORY, LOS]
Index: []

[0 rows x 8 columns]

Verificando que não existem mais dados nulos passamos para a outra tabela dos diagnósticos

In [ ]:

query ="""select * FROM cdle-415809.CDLE.patient_codes_diag
WHERE SUBJECT_ID IS NULL OR HADM_ID IS NULL OR SEQ_NUM_DIAG IS NULL OR CODE_DIAG IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

    SUBJECT_ID  HADM_ID  SEQ_NUM_DIAG CODE_DIAG DIAG_NAME
0         7880   184025          <NA>      <NA>      <NA>
1        28700   104588          <NA>      <NA>      <NA>
2         4023   170307          <NA>      <NA>      <NA>
3         9035   188023          <NA>      <NA>      <NA>
4        19092   186323          <NA>      <NA>      <NA>
5         7544   116945          <NA>      <NA>      <NA>
6         3369   126808          <NA>      <NA>      <NA>
7        29096   182322          <NA>      <NA>      <NA>
8         4791   159800          <NA>      <NA>      <NA>
9        29175   152368          <NA>      <NA>      <NA>
10         937   177274          <NA>      <NA>      <NA>
11       11519   123220          <NA>      <NA>      <NA>
12       24188   163059          <NA>      <NA>      <NA>
13       30405   154166          <NA>      <NA>      <NA>
14       11245   148742          <NA>      <NA>      <NA>
15       12607   190435          <NA>      <NA>      <NA>
16       28388   173766          <NA>      <NA>      <NA>
17        1490   135580          <NA>      <NA>      <NA>
18       26690   196643          <NA>      <NA>      <NA>
19        9998   108282          <NA>      <NA>      <NA>
20       11740   129620          <NA>      <NA>      <NA>
21       11438   154602          <NA>      <NA>      <NA>
22       14219   102096          <NA>      <NA>      <NA>
23         417   102633          <NA>      <NA>      <NA>
24         690   174817          <NA>      <NA>      <NA>
...

[47 rows x 5 columns]

In [ ]:
query ="""select * FROM cdle-415809.CDLE.patient_codes_diag
WHERE SUBJECT_ID IS NULL OR HADM_ID IS NULL OR SEQ_NUM_DIAG IS NULL OR CODE_DIAG IS NULL OR DIAG_NAME IS NULL """

df = bpd.read_gbq(query,use_cache=False)
df

    SUBJECT_ID  HADM_ID  SEQ_NUM_DIAG CODE_DIAG DIAG_NAME
0        30931   113566             5      7793      <NA>
1         7709   151800            17      3488      <NA>
2        63059   194465             8      2874      <NA>
3        55878   176165             9      7863      <NA>
4         9396   106469             7      6000      <NA>
5        21223   147729             5      2765      <NA>
6         7104   123775             5      V721      <NA>
7        32406   172002             3      9973      <NA>
8        27536   127047             3      9974      <NA>
9        26134   154883             1      3580      <NA>
10       15275   114904             7      2880      <NA>
11        9815   127504             7      5997      <NA>
12        9528   129489             5      7793      <NA>
13        1770   158667             6      2874      <NA>
14        2957   176028             6      5118      <NA>
15       15858   155180             4      5191      <NA>
16       31462   194869             6      4538      <NA>
17       16200   120009             5      2874      <NA>
18        3217   199064             6      2874      <NA>
19       57774   106996            12      2740      <NA>
20       22393   107410             9      5997      <NA>
21       26224   128258             3      5672      <NA>
22       23181   186977             4      5128      <NA>
23        2312   153254             5      7793      <NA>
24       25580   192528             5      9973      <NA>
...

[16338 rows x 5 columns]

Os dados que não apresentam código serão eliminados. Contudo surgiu a dúvida sobre a importancia dos dados que não têm nome. Uma vez que pretendemos separar os dados por tipo de doença, o nome torna-se um fator importante de visualização. Dito isto, optamos por eliminar os dados que não apresentem nome

In [ ]:
query ="""DELETE FROM cdle-415809.CDLE.patient_codes_diag
WHERE CODE_DIAG IS NULL OR DIAG_NAME IS NULL"""

df = bpd.read_gbq(query,use_cache=False)
df

    SUBJECT_ID  HADM_ID  SEQ_NUM_DIAG CODE_DIAG                 DIAG_NAME
0        31901   124470             4     53081         Esophageal reflux
1        17667   124466            14      5859    Chronic kidney dis NOS
2        30943   138180             8     E9342    Adv eff anticoagulants
3        10377   151426            11     41071  Subendo infarct, initial
4        19213   147367             7      5363             Gastroparesis
5         7118   129158            15      5859    Chronic kidney dis NOS
6        27450   152177            14      5738       Liver disorders NEC
7        19940   198694             1     99859    Other postop infection
8         8152   160458             9      5789   Gastrointest hemorr NOS
9        92873   134362             1      4414     Abdom aortic aneurysm
10       17802   136091            15      2749                  Gout NOS
11       27410   144127             3      V290    NB obsrv suspct infect
12        3830   116521            17      7866  Chest swelling/mass/lump
13       10628   152850             4       496   Chr airway obstruct NEC
14       17528   191826             1      4920        Emphysematous bleb
15       56069   195834            10      5715    Cirrhosis of liver NOS
16       90992   181692             3     51852  Ot pul insuf fol trm/srg
17       96591   105668            14      2859                Anemia NOS
18        7219   126758             4     99859    Other postop infection
19       31418   180543            10      2884  Hemophagocytic syndromes
20       22976   143800             2      1550    Mal neo liver, primary
21       26277   172510             5      2761             Hyposmolality
22       44318   177554             3     42731       Atrial fibrillation
23       59392   193878            14      4280                   CHF NOS
24       84908   144258             4      5849  Acute kidney failure NOS
...

[634709 rows x 5 columns]

Após feita a eliminação verificamos se esta tinha sido bem feita

In [ ]:
query ="""select * FROM cdle-415809.CDLE.patient_codes_diag
WHERE SUBJECT_ID IS NULL OR HADM_ID IS NULL OR SEQ_NUM_DIAG IS NULL OR CODE_DIAG IS NULL OR DIAG_NAME IS NULL """

df = bpd.read_gbq(query,use_cache=False)
df

Empty DataFrame
Columns: [SUBJECT_ID, HADM_ID, SEQ_NUM_DIAG, CODE_DIAG, DIAG_NAME]
Index: []

[0 rows x 5 columns]

# Agrupar por tipos de Doenças

Uma vez que já temos os dados mais importantes e as tabelas limpas iremos agrupar os dados em tabelas diferentes mas por tipo de doenças.

Para isso vamos começar por verificar que tipos de doenças diferentes temos.

In [ ]:
query ="""select Distinct(DIAG_NAME) FROM cdle-415809.CDLE.patient_codes_diag
"""

df = bpd.read_gbq(query,use_cache=False)
df

                   DIAG_NAME
0   Heredit hemorr telangiec
1   Benign hyp ht dis w/o hf
2   Opn skl fx NEC/cereb lac
3   Suprcondyl fx humerus-cl
4      Ca in situ skin trunk
5    Myoneural disorders NEC
6     Congenital ureterocele
7      Acc poison-plants NEC
8     Dislocat site NEC-open
9   Elb/forearm/wrst inj NOS
10  Mal neo access sinus NOS
11  Infundib pulmon stenosis
12     Myasthenia in oth dis
13       Trifascicular block
14      Hx of physical abuse
15  Poison-medicinal agt NEC
16  Malignant pleural effusn
17  Cl skull fx NEC-brf coma
18       Exostosis, site NOS
19            Septicemia NEC
20       Insulin pump status
21  Brain hem NEC-proln coma
22   NB intraven hem,grade i
23      Bone infect NEC-mult
24  Electrolyt/fluid dis NEC
...

[6770 rows x 1 columns]

In [ ]:
query ="""select Distinct(CODE_DIAG) FROM cdle-415809.CDLE.patient_codes_diag
"""

df = bpd.read_gbq(query,use_cache=False)
df

   CODE_DIAG
0      36500
1      20502
2      40511
3       7776
4       5670
5       9212
6       5370
7      44771
8       3824
9       5819
10     V0253
11     81612
12      1703
13      4548
14     80473
15     90254
16     48231
17      8795
18      8840
19      4320
20     29614
21     30789
22     44022
23     70711
24     81403
...

[6841 rows x 1 columns]

In [ ]:
query="""
select * from cdle-415809.CDLE.Diagnoses

"""

df = bpd.read_gbq(query,use_cache=False)
df

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,3968,36253,Cystoid macular degen,Cystoid macular degeneration
1,7447,82390,Fx tibia NOS-open,Open fracture of unspecified part of tibia alone
2,8447,71292,Cryst arthrop NOS-up/arm,"Unspecified crystal arthropathy, upper arm"
3,11765,8700,Lac eyelid skn/perioculr,Laceration of skin of eyelid and periocular area
4,10292,81200,Fx up end humerus NOS-cl,Closed fracture of unspecified part of upper e...
5,12364,99709,Surg comp nerv systm NEC,Other nervous system complications
6,10199,V4983,Await organ transplnt st,Awaiting organ transplant status
7,169,01161,TB pneumonia-no exam,"Tuberculous pneumonia [any form], bacteriologi..."
8,5750,6254,Premenstrual tension,Premenstrual tension syndromes
9,6137,53989,Ot comp ot bariatrc proc,Other complications of other bariatric procedure
10,5734,6239,Noninflam dis vagina NOS,Unspecified noninflammatory disorder of vagina
11,10674,E8414,Aircraf acc-occ comm NEC,"Accident to powered aircraft, other and unspec..."
12,9975,7318,Bone involv in oth dis,Other bone involvement in diseases classified ...
13,11614,E8584,Acc poison-gi agent,Accidental poisoning by agents primarily affec...
14,408,09181,Acute syphil meningitis,Acute syphilitic meningitis (secondary)
15,6022,53100,Ac stomach ulcer w hem,"Acute gastric ulcer with hemorrhage, without m..."
16,3885,36041,Blind hypotensive eye,Blind hypotensive eye
17,4397,4162,Chr pulmonary embolism,Chronic pulmonary embolism
18,13394,E8736,Nonadmin necess medicine,Nonadministration of necessary drug or medicin...
19,6602,6390,Postabortion gu infect,Genital tract and pelvic infection following a...
20,3442,3410,Neuromyelitis optica,Neuromyelitis optica
21,5957,5264,Inflammation of jaw,Inflammatory conditions of jaw
22,1481,1225,Echinococ multiloc liver,Echinococcus multilocularis infection of liver
23,6449,64804,Diabetes-postpartum,"Diabetes mellitus of mother, complicating preg..."
24,6358,59659,Oth func dsdr bladder,Other functional disorder of bladder

Como verificamos que haviam várias doenças diferentes e muitos pacientes tinham mais que uma doença diagnosticada resolvemos tentar fazer um modelo apenas para uma das doenças, começando assim a verificar qual a doença tinha maior numero de pacientes.

In [ ]:
query="""
SELECT
  p.SUBJECT_ID,
  p.LOS,
  d.CODE_DIAG
FROM
  `cdle-415809.CDLE.Data` AS p
JOIN
  `cdle-415809.CDLE.patient_codes_diag` AS d
ON
  p.SUBJECT_ID = cast(d.SUBJECT_ID as STRING)
WHERE
  d.CODE_DIAG = '82390';

"""

df = bpd.read_gbq(query,use_cache=False)
df

   SUBJECT_ID     LOS CODE_DIAG
0       13200  3.5184     82390
1       13200  3.5184     82390
2       13200  3.5184     82390
3       13200  3.5184     82390
4       13200  3.5184     82390
5       13200  3.5184     82390
6       13200  3.5184     82390
7       13200  3.5184     82390
8       13200  3.5184     82390
9       13200  3.5184     82390
10      13200  3.5184     82390
11      13200  3.5184     82390
12      13200  3.5184     82390
13      13200  3.5184     82390
14      13200  3.5184     82390
15      13200  3.5184     82390
16      13200  3.5184     82390
17      13200  3.5184     82390
18      13200  3.5184     82390
19      13200  3.5184     82390
20      13200  3.5184     82390
21      13200  3.5184     82390
22      13200  3.5184     82390
23      13200  3.5184     82390
24      13200  3.5184     82390
...

[18417 rows x 3 columns]

In [ ]:
query="""

SELECT
  d.CODE_DIAG,
  COUNT(Distinct(p.SUBJECT_ID)) AS Num_Pacientes
FROM
  `cdle-415809.CDLE.Data` AS p
JOIN
  `cdle-415809.CDLE.patient_codes_diag` AS d
ON
  p.SUBJECT_ID = cast(d.SUBJECT_ID as STRING)
GROUP BY
  d.CODE_DIAG;

"""

df = bpd.read_gbq(query,use_cache=False)
df

   CODE_DIAG  Num_Pacientes
0      34982            622
1       6821             42
2       6214              2
3      E8508              9
4      90141              2
5      E9353             35
6       9170              2
7       9881              3
8      56781             20
9       8786              1
10      5513              2
11       452            237
12      4552             96
13     E8212              3
14     45989             28
15     V0739              1
16      6238             45
17     V8524              7
18     04189             70
19     71509              5
20     82129             10
21      2707              3
22     80122             68
23     74569              9
24      3952              5
...

[6835 rows x 2 columns]

In [ ]:
query="""

SELECT
  d.CODE_DIAG,
  COUNT(Distinct(p.SUBJECT_ID)) AS Num_Pacientes
FROM
  `cdle-415809.CDLE.Data` AS p
JOIN
  `cdle-415809.CDLE.patient_codes_diag` AS d
ON
  p.SUBJECT_ID = cast(d.SUBJECT_ID as STRING)
GROUP BY
  d.CODE_DIAG
ORDER BY
  Num_Pacientes DESC
LIMIT 5;
"""

df = bpd.read_gbq(query,use_cache=False)
df

  CODE_DIAG  Num_Pacientes
0      5849           7683
1     41401          10765
2     42731          10260
3      4019          17587
4      4280           9834

[5 rows x 2 columns]

In [ ]:
query="""
select * from cdle-415809.CDLE.Diagnoses
where ICD9_CODE="4019"

"""

df = bpd.read_gbq(query,use_cache=False)
df

   ROW_ID ICD9_CODE       SHORT_TITLE                          LONG_TITLE
0    4304      4019  Hypertension NOS  Unspecified essential hypertension

[1 rows x 4 columns]

Ao visualizar os pacientes com cada tipo de diagnóstico decidimos escolher o diagnostico com maior numero de pacientes de forma a fazermos um modelo para prever melhor o tempo de espera.

# Outras variáveis importantes para prever o "Length of stay"

Com o decorrer da analise reparamos que existiam variáveis que poderiam ser importantes para prever o tempo de estadia, entre elas a idade, usando a data de nascimento, a sua etnia, o genero e o tipo de urgencia com que fez a admissão.

Para isso foi usada as tabelas Patients e Admissions

In [ ]:
query="""
select * from cdle-415809.CDLE.Admissions

"""
df = bpd.read_gbq(query,use_cache=False)
df

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,13085,10699,131811,2185-05-31 10:20:00+00:00,2185-07-11 12:15:00+00:00,<NA>,NEWBORN,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Private,<NA>,CATHOLIC,<NA>,WHITE,<NA>,<NA>,NEWBORN,0,1
1,5542,4587,198345,2150-05-19 11:01:00+00:00,2150-05-21 15:01:00+00:00,2150-05-21 15:01:00+00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,<NA>,CATHOLIC,MARRIED,WHITE,2150-05-19 03:19:00+00:00,2150-05-19 10:45:00+00:00,SEPSIS;HYPOXIA,1,1
2,28638,23467,101328,2169-08-02 17:08:00+00:00,2169-08-04 16:14:00+00:00,<NA>,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,<NA>,JEWISH,<NA>,WHITE,<NA>,<NA>,NEWBORN,0,1
3,27285,22362,148514,2117-01-21 12:54:00+00:00,2117-01-28 13:20:00+00:00,<NA>,NEWBORN,CLINIC REFERRAL/PREMATURE,SHORT TERM HOSPITAL,Medicaid,<NA>,PROTESTANT QUAKER,<NA>,WHITE,<NA>,<NA>,NEWBORN,0,1
4,51357,76116,170491,2164-10-08 12:36:00+00:00,2164-10-12 16:30:00+00:00,<NA>,EMERGENCY,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,Private,ENGL,PROTESTANT QUAKER,MARRIED,BLACK/AFRICAN AMERICAN,2164-10-08 08:40:00+00:00,2164-10-08 13:05:00+00:00,STROKE;TELEMETRY;TRANSIENT ISCHEMIC ATTACK,0,1
5,35700,29277,111703,2167-10-17 11:15:00+00:00,2167-10-19 13:15:00+00:00,<NA>,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Government,ENGL,CHRISTIAN SCIENTIST,SINGLE,BLACK/AFRICAN AMERICAN,<NA>,<NA>,NEWBORN,0,1
6,25534,20925,133360,2139-04-02 07:15:00+00:00,2139-04-15 13:20:00+00:00,<NA>,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,<NA>,PROTESTANT QUAKER,MARRIED,WHITE,<NA>,<NA>,BLADDER CA/SDA,0,1
7,9568,7809,149867,2133-01-07 04:14:00+00:00,2133-01-11 16:58:00+00:00,<NA>,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicaid,ENGL,PROTESTANT QUAKER,DIVORCED,BLACK/AFRICAN AMERICAN,2133-01-06 23:22:00+00:00,2133-01-07 05:54:00+00:00,DIABETIC KETOACIDOSIS,0,1
8,7252,5921,128142,2159-01-01 01:51:00+00:00,2159-01-11 19:03:00+00:00,<NA>,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicaid,CAPE,<NA>,SINGLE,UNKNOWN/NOT SPECIFIED,2159-01-01 00:06:00+00:00,2159-01-01 02:30:00+00:00,S/P MOTOR VEHICLE ACCIDENT,0,1
9,36849,30253,170829,2150-08-20 12:02:00+00:00,2150-08-26 13:42:00+00:00,<NA>,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,2150-08-20 09:08:00+00:00,2150-08-20 13:28:00+00:00,HYPOGLYCEMIA,0,1
10,31148,25467,197320,2156-12-04 12:20:00+00:00,2156-12-12 10:57:00+00:00,<NA>,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,CATHOLIC,SINGLE,WHITE,<NA>,<NA>,NEWBORN,0,1
11,5794,4787,189443,2125-10-16 17:21:00+00:00,2125-10-23 14:27:00+00:00,<NA>,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,JEWISH,MARRIED,WHITE,2125-10-16 12:06:00+00:00,2125-10-16 18:06:00+00:00,SEPSIS,0,1
12,20761,16984,117392,2124-08-11 22:13:00+00:00,2124-08-14 18:00:00+00:00,<NA>,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,<NA>,EPISCOPALIAN,<NA>,WHITE,<NA>,<NA>,NEWBORN,0,1
13,18588,15209,191888,2128-12-24 13:29:00+00:00,2129-01-04 15:45:00+00:00,<NA>,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,<NA>,CATHOLIC,MARRIED,WHITE,2128-12-24 09:16:00+00:00,2128-12-24 12:44:00+00:00,ENTEROCUTANEOUS FISTULA,0,1
14,12371,10119,157466,2117-08-05 18:27:00+00:00,2117-08-19 16:15:00+00:00,<NA>,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2117-08-05 12:10:00+00:00,2117-08-05 19:48:00+00:00,ACUTE CHOLECYSTITIS,0,1
15,3075,2541,147135,2160-12-20 18:57:00+00:00,2161-01-31 11:40:00+00:00,<NA>,NEWBORN,PHYS REFERRAL/NORMAL DELI,SHORT TERM HOSPITAL,Private,<NA>,CATHOLIC,<NA>,WHITE,<NA>,<NA>,NEWBORN,0,1
16,6669,5484,149871,2136-04-25 16:14:00+00:00,2136-05-08 15:30:00+00:00,<NA>,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,<NA>,UNOBTAINABLE,<NA>,UNKNOWN/NOT SPECIFIED,<NA>,<NA>,NEWBORN,0,1
17,28386,23258,196695,2195-07-21 23:01:00+00:00,2195-07-28 00:21:00+00:00,2195-07-28 00:21:00+00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,<NA>,PROTESTANT QUAKER,MARRIED,WHITE,<NA>,<NA>,"STROKE,ENDOCARDITIS",1,1
18,25813,21151,169387,2193-03-26 19:57:00+00:00,2193-04-29 15:44:00+00:00,<NA>,EMERGENCY,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,Medicare,ENGL,NOT SPECIFIED,SINGLE,WHITE,2193-03-26 19:05:00+00:00,2193-03-26 20:58:00+00:00,ALTERED MENTAL STATUS,0,1
19,4826,3979,126329,2185-06-07 07:15:00+00:00,2185-06-14 17:00:00+00:00,<NA>,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicaid,ENGL,CATHOLIC,SINGLE,WHITE,<NA>,<NA>,MITRAL REGURGITATION\MINIMALLY INVASIVE MITRAL...,0,1
20,18503,15128,112441,2162-05-01 20:38:00+00:00,2162-05-05 20:00:00+00:00,<NA>,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,<NA>,CATHOLIC,MARRIED,WHITE,2162-05-01 19:50:00+00:00,2162-05-01 22:04:00+00:00,UPPER GIB,0,0
21,3103,2562,100290,2116-05-29 17:09:00+00:00,2116-06-11 16:25:00+00:00,<NA>,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,SNF,Medicare,<NA>,OTHER,DIVORCED,UNKNOWN/NOT SPECIFIED,<NA>,<NA>,CORONARY ARTERY DISEASE,0,1
22,53865,83802,133440,2170-01-04 16:01:00+00:00,2170-01-14 13:36:00+00:00,<NA>,EMERGENCY,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,<NA>,<NA>,DRUG ELUTING CORONARY ARTERY STENT,0,1
23,54944,87450,136481,2197-07-25 10:49:00+00:00,2197-08-09 13:00:00+00:00,<NA>,EMERGENCY,CLINIC REFERRAL/PREMATURE,REHAB/DISTINCT PART HOSP,Medicare,SPAN,CATHOLIC,SINGLE,HISPANIC/LATINO - CUBAN,2197-07-25 09:05:00+00:00,2197-07-25 11:48:00+00:00,STROKE;TELEMETRY;TRANSIENT ISCHEMIC ATTACK,0,1
24,5980,4935,166829,2119-01-19 21:11:00+00:00,2119-02-09 16:35:00+00:00,<NA>,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Private,<NA>,PROTESTANT QUAKER,MARRIED,WHITE,<NA>,<NA>,CONGESTIVE HEART FAILURE;NON Q WAVE MYOCARDIAL...,0,1

In [ ]:
query="""
select * from cdle-415809.CDLE.Patients

"""
df = bpd.read_gbq(query,use_cache=False)
df

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,33252,49367,F,2092-03-30 00:00:00+00:00,<NA>,<NA>,<NA>,0
1,2642,2793,F,1887-04-13 00:00:00+00:00,2187-04-18 00:00:00+00:00,2187-04-18 00:00:00+00:00,2187-04-18 00:00:00+00:00,1
2,23066,24444,M,2104-09-05 00:00:00+00:00,2168-09-03 00:00:00+00:00,2168-09-03 00:00:00+00:00,2168-09-03 00:00:00+00:00,1
3,15423,16312,M,2118-09-24 00:00:00+00:00,<NA>,<NA>,<NA>,0
4,29140,31000,F,2099-01-04 00:00:00+00:00,2176-11-16 00:00:00+00:00,2176-11-16 00:00:00+00:00,2176-11-16 00:00:00+00:00,1
5,37722,66109,F,2103-12-15 00:00:00+00:00,<NA>,<NA>,<NA>,0
6,38364,68601,F,2118-11-23 00:00:00+00:00,<NA>,<NA>,<NA>,0
7,37341,64752,F,1862-06-23 00:00:00+00:00,<NA>,<NA>,<NA>,0
8,8597,9083,M,2153-10-30 00:00:00+00:00,<NA>,<NA>,<NA>,0
9,18105,19170,F,2145-03-18 00:00:00+00:00,<NA>,<NA>,<NA>,0
10,11258,11897,F,2051-08-16 00:00:00+00:00,2123-07-18 00:00:00+00:00,<NA>,2123-07-18 00:00:00+00:00,1
11,985,1041,M,2116-03-11 00:00:00+00:00,<NA>,<NA>,<NA>,0
12,44309,91490,M,1810-09-02 00:00:00+00:00,<NA>,<NA>,<NA>,0
13,23548,24953,M,2135-06-09 00:00:00+00:00,<NA>,<NA>,<NA>,0
14,19036,20169,F,2123-12-22 00:00:00+00:00,<NA>,<NA>,<NA>,0
15,7087,7488,M,2112-10-15 00:00:00+00:00,<NA>,<NA>,<NA>,0
16,14684,15532,F,2169-11-18 00:00:00+00:00,<NA>,<NA>,<NA>,0
17,42153,83202,F,2113-06-14 00:00:00+00:00,<NA>,<NA>,<NA>,0
18,10696,11315,M,2108-12-08 00:00:00+00:00,<NA>,<NA>,<NA>,0
19,15256,16136,M,2084-10-13 00:00:00+00:00,2167-09-25 00:00:00+00:00,<NA>,2167-09-25 00:00:00+00:00,1
20,4370,4618,M,2123-06-15 00:00:00+00:00,2205-05-23 00:00:00+00:00,2205-05-23 00:00:00+00:00,2205-05-23 00:00:00+00:00,1
21,44458,92013,F,2057-02-23 00:00:00+00:00,<NA>,<NA>,<NA>,0
22,22878,24239,M,2089-03-18 00:00:00+00:00,2153-07-12 00:00:00+00:00,2153-07-12 00:00:00+00:00,2153-07-12 00:00:00+00:00,1
23,8773,9273,M,2093-06-03 00:00:00+00:00,2148-08-09 00:00:00+00:00,<NA>,2148-08-09 00:00:00+00:00,1
24,15427,16316,M,2146-04-10 00:00:00+00:00,<NA>,<NA>,<NA>,0

Os pacientes com datas de aniversario 300 anos antes significa que têm mais que 89 anos

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN ADMISSION_TYPE STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN ETHNICITY STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query ="""

UPDATE cdle-415809.CDLE.Data AS t1
SET t1.ADMISSION_TYPE = t2.ADMISSION_TYPE,
t1.ETHNICITY = t2.ETHNICITY
FROM cdle-415809.CDLE.Admissions AS t2
WHERE t1.SUBJECT_ID = CAST(t2.SUBJECT_ID AS STRING) and t1.HADM_ID = CAST(t2.HADM_ID AS STRING)

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY
0,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
1,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
2,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
3,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
4,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
5,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
6,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
7,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
8,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
9,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
10,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
11,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
12,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
13,58588,164898,248923,227346,Forgets limitations,Mental status,Restraint/Support Systems,8.3068,EMERGENCY,WHITE
14,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
15,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
16,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
17,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
18,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
19,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
20,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
21,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
22,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
23,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE
24,84624,157227,252147,224007,Oral,GI #1 Intub Site,GI/GU,14.818,EMERGENCY,WHITE

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN GENDER STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN DOBs TIMESTAMP
"""
df = bpd.read_gbq(query,use_cache=False)

query ="""

UPDATE cdle-415809.CDLE.Data AS t1
SET t1.GENDER = t2.GENDER,
t1.DOBs = t2.DOB
FROM cdle-415809.CDLE.Patients AS t2
WHERE t1.SUBJECT_ID = CAST(t2.SUBJECT_ID AS STRING)

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY,GENDER,DOBs
0,18822,177917,209986,456,55.333301544189453,NBP Mean,<NA>,21.0649,EMERGENCY,UNKNOWN/NOT SPECIFIED,M,2118-09-02 00:00:00+00:00
1,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
2,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
3,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
4,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
5,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
6,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
7,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
8,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
9,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
10,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
11,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
12,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
13,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
14,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
15,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
16,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
17,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
18,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
19,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
20,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
21,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
22,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
23,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00
24,14485,156459,298737,550,Universal,Precautions,<NA>,23.8012,EMERGENCY,WHITE,M,2089-06-15 00:00:00+00:00

# Preparação dos dados para o modelo

A nossa primeira tentativa era fazer um modelo de previsão para apenas uma doença, no entanto, ao tentarmos fazer a agrupação dos dados esta não estava a ser feita corretamente uma vez que, como foi dito anteriormente, cada paciente tinha mais que um diagnóstico associado, tinha também vários itens e procedimentos associados.

Com isto a nossa ideia seria não fazer um modelo apenas para uma doença mas para todas, assim como os procedimentos e itens.

In [ ]:
query="""

SELECT
  a.SUBJECT_ID,
  a.HADM_ID,
  a.ADMITTIME,
  a.DISCHTIME,
  STRING_AGG(DISTINCT cast(d.ICD9_CODE as STRING), ',') AS DIAGNOSES
FROM
  `cdle-415809.CDLE.Admissions` AS a
JOIN
  `cdle-415809.CDLE.coddiagnos` AS d
ON
  a.HADM_ID = d.HADM_ID
GROUP BY
  a.SUBJECT_ID, a.HADM_ID, a.ADMITTIME, a.DISCHTIME;

WITH Diagnoses AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    a.ADMITTIME,
    a.DISCHTIME,
    STRING_AGG(DISTINCT cast(d.ICD9_CODE as STRING), ',') AS DIAGNOSES
  FROM
    `cdle-415809.CDLE.Admissions` AS a
  JOIN
    `cdle-415809.CDLE.coddiagnos` AS d
  ON
    a.HADM_ID = d.HADM_ID
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID, a.ADMITTIME, a.DISCHTIME
),
Procedures AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT cast(p.ICD9_CODE as STRING), ',') AS PROCEDURES
  FROM
    `cdle-415809.CDLE.Admissions` AS a
  JOIN
    `cdle-415809.CDLE.codproce` AS p
  ON
    a.HADM_ID = p.HADM_ID
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
)
SELECT
  d.SUBJECT_ID,
  d.HADM_ID,
  d.ADMITTIME,
  d.DISCHTIME,
  d.DIAGNOSES,
  p.PROCEDURES
FROM
  Diagnoses d
LEFT JOIN
  Procedures p
ON
  d.HADM_ID = p.HADM_ID;

"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DIAGNOSES,PROCEDURES
0,94794,126264,2135-02-09 16:44:00+00:00,2135-02-16 17:18:00+00:00,"4280,41091,25042,3572,41401,36201,40390,5851,V...","3619,3612,3615,3722,3961,8856"
1,3271,160767,2126-01-17 16:38:00+00:00,2126-02-06 17:20:00+00:00,"V3101,76518,76529,77081,V290,V293,V053",9955
2,11317,150323,2134-02-02 02:33:00+00:00,2134-02-07 14:30:00+00:00,"41071,99672,27651,42833,4280,4240,5859,2762,41...","40,9904,8852,9920,66,3722,8855"
3,72555,194577,2144-08-09 06:51:00+00:00,2144-09-03 14:31:00+00:00,"82331,9584,86131,82030,2763,2761,9563,45341,29...","966,9671,7966,5411,8309,8669,8659,8345"
4,1992,173132,2177-09-29 11:30:00+00:00,2177-10-07 14:45:00+00:00,"55320,51881,2762,5180,5601,486,7907,27801,2720...","3891,9671,9604,5369,3893"
5,32691,121413,2195-07-21 14:24:00+00:00,2195-07-26 16:30:00+00:00,"41401,43330,4111,3051,30501,4019,2720","3613,3961,3615"
6,9503,103871,2135-06-15 23:16:00+00:00,2135-07-22 11:57:00+00:00,"73008,1985,1628,70709,5849,6822,70702,28529,V6...","7769,3491,9659,8628,8382,9915,8674,8669,8622,9..."
7,1262,183373,2120-12-10 07:05:00+00:00,2120-12-11 15:30:00+00:00,"85305,42731,E8809,E8490,3484,V5861,4019,41401,...","9907,9671"
8,30411,115736,2158-09-19 05:06:00+00:00,2158-09-21 14:00:00+00:00,"V3000,V053,V290",9955
9,4923,134937,2192-08-14 18:36:00+00:00,2192-09-04 15:20:00+00:00,"5712,5118,45620,2867,4280,4255,5849,2762,5180","3424,3491,9907,9904,3404,4233,3893,3492,3421"
10,19686,160562,2160-07-05 15:51:00+00:00,2160-07-16 15:30:00+00:00,"1983,1625,4240,4019,49390","331,159"
11,8900,102841,2191-02-18 19:17:00+00:00,2191-02-24 17:12:00+00:00,"5761,57451,4280,42731,35800,3320,4019,7211",5187
12,72364,174697,2106-06-24 07:30:00+00:00,2106-07-07 14:50:00+00:00,"5306,5192,51881,5119,9982,99831,99859,6821,787...","3491,602,2932,3893,966,4282"
13,22842,160727,2134-02-09 23:51:00+00:00,2134-02-12 10:50:00+00:00,"V3000,V290,V053",9955
14,66823,167634,2160-12-27 15:34:00+00:00,2160-12-31 21:20:00+00:00,"486,1625,1983,25000,41401,V4582,496,32723,4019...",<NA>
15,77013,141363,2191-03-18 01:30:00+00:00,2191-04-16 12:20:00+00:00,"2650,51881,2762,5070,29181,261,34400,4257,5770...","4311,9672,966,9604,3491,3324,9671,3893,3891,45..."
16,27247,124530,2118-03-06 06:35:00+00:00,2118-03-09 15:15:00+00:00,"34580,29689,2724",<NA>
17,1395,139826,2155-08-13 20:39:00+00:00,2155-08-19 16:25:00+00:00,"41041,41401,78551,9971,42731,25000,71906,4019,...","8872,3764,9961,8856,3601,3778,3606,3761,9920,3723"
18,9270,171336,2194-10-26 09:20:00+00:00,2194-12-17 14:40:00+00:00,"80124,30500,30560,9992,2763,85184,3485,8024,80...","966,311,8841,3891,4311,8851,3322,9672,387,9751..."
19,49098,176437,2122-04-27 19:33:00+00:00,2122-05-02 16:15:00+00:00,"42822,9982,4254,4260,V5332,4019,53081,71690,V1...","3774,50"
20,16684,143930,2189-02-24 09:04:00+00:00,2189-03-04 06:15:00+00:00,"042,5570,4210,99661,99831,449,99592,07030,2869...",3995
21,98006,129133,2173-09-17 20:36:00+00:00,2173-10-07 14:44:00+00:00,"82111,8080,81321,99593,99859,2762,2851,99749,5...","7966,7919,9229,7935,8851,387,7932,3897,7939,79..."
22,2637,116790,2127-10-08 01:23:00+00:00,2127-10-16 14:15:00+00:00,"99702,430,3490,E8798,E8497","3891,8891,8841"
23,92872,175600,2131-06-10 21:33:00+00:00,2131-06-11 11:30:00+00:00,"2762,30000,30501,V1581,34590,2761",<NA>
24,62495,105541,2143-01-29 20:18:00+00:00,2143-02-04 15:25:00+00:00,"03842,5845,5990,20300,99591,5859,25000,28522,2...",3893

In [ ]:
query="""
select Distinct(SUBJECT_ID) from cdle-415809.CDLE.Data

"""


df = bpd.read_gbq(query,use_cache=False)

df

   SUBJECT_ID
0       52247
1       54047
2       20502
3       27762
4       17309
5       13061
6       17836
7       25144
8       61749
9       69433
10       3114
11      15660
12       7776
13      65175
14       2187
15       2346
16      32320
17      88926
18      16460
19       6337
20      67538
21      28018
22      57752
23      66597
24      63932
...

[46438 rows x 1 columns]

In [ ]:
query="""

SELECT
  a.SUBJECT_ID,
  a.HADM_ID,
  STRING_AGG(DISTINCT cast(d.ICD9_CODE as STRING), ',') AS DIAGNOSES
FROM
  `cdle-415809.CDLE.Data` AS a
JOIN
  `cdle-415809.CDLE.coddiagnos` AS d
ON
  a.HADM_ID = cast(d.HADM_ID as STRING)
GROUP BY
  a.SUBJECT_ID, a.HADM_ID;

WITH Diagnoses AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(d.ICD9_CODE AS STRING), ',') AS DIAGNOSES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.coddiagnos` AS d
  ON
    a.HADM_ID = cast(d.HADM_ID as STRING)
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),
Procedures AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(p.ICD9_CODE AS STRING), ',') AS PROCEDURES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.codproce` AS p
  ON
    a.HADM_ID = cast(p.HADM_ID as STRING)
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),
Items AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(a.ITEMID AS STRING), ',') AS ITEMS,
    STRING_AGG(DISTINCT CAST(a.VALUE AS STRING), ',') AS VALUES
  FROM
    `cdle-415809.CDLE.Data` AS a
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
)

SELECT
  d.SUBJECT_ID,
  d.HADM_ID,
  d.DIAGNOSES,
  p.PROCEDURES,
  i.ITEMS,
  i.VALUES
FROM
  Diagnoses d
LEFT JOIN
  Procedures p
ON
  cast(d.HADM_ID as STRING) = cast(p.HADM_ID as STRING)
LEFT JOIN
  Items i
ON
  cast(d.HADM_ID as STRING) = cast(i.HADM_ID as STRING);

"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
0,51238,119031,"4019,42833,53081,V4501,43330,4280,4168,36250,4...","3521,8854,3961,3723,8856","225668,223960,224005,225101,223919,224259,2200...","120,36.4,3.2,Very Limited,Oriented,Excellent,7..."
1,29571,128317,"53081,V4501,2720,4019,57451,5761","5187,5185,5188","220581,161,807,549,642,770,198,456,1529,811,74...","99,No,102,1.1,No Limitations,28,50,Understands..."
2,19059,170643,"32723,2809,2762,4280,49390,4168,486,51881,4283...","9671,9390,9604","82,623,8478,170,762,1532,211,8480,848,8492,656...","Back,ICU Environment,73.666702270507812,House,..."
3,25178,169461,"4280,41401,25000,42822,42731,V4582",51,"220048,225074,226228,223970,227472,226109,2277...","Transvenous,179,136,Rash,Procedures,Children,R..."
4,4020,152270,"311,3314,3453,85220,9070,V1082,V452,51881","9671,9604,331","82,800,77,776,1047,707,629,1125,8480,663,159,8...","Supine,1 No Response,98.800003051757812,Full C..."
5,80555,162902,"430,4373,4359,3051,4019,496",3976,"227292,228096,228014,226185,224162,220645,2206...","121,Throbbing,House - Regular,107,5.6,19,Super..."
6,92455,143580,"2762,5770,42731,2724,9971,5078,2930,E8798,4011...","3891,3323,3893,5187,9608,9604,5185,5101,9915,9...","224847,227349,224788,226139,220581,224773,2277...","3,ED,3 rails up,9.6,99.6,AF (Atrial Fibrillati..."
7,21784,133182,"3963,41401,42731,39891,4111,25000,4019,5939","3615,3723,3521,3512,8856,3961,3761,8853,3612,8872","8480,919,154,1126,773,113,413,422,455,824,88,1...","7.44,CPAP+PS,48,7.37,Adequate,1573.32995605468..."
8,75089,160209,"5789,30000,78630,2767,5849,53081,5853,53010,36...",4513,"220047,223902,224027,224642,225103,225106,2206...","Oriented x3,45,59,28.1,130,None,163,46,Underst..."
9,10596,153625,"76519,V053,V3001,7761,7750,76528,7742","9955,9915","8502,4197,3313,3512,3734,3446,3412,3634,4188,3...","135,Held,124,.2,98.599998474121094,136,35.7000..."
10,22023,113339,"V502,V053,V290,V3000","640,9955","3348,3770,3780,3353,3338,3291,3408,3304,3734,3...","Warmer,4.82,Absent,28,0,Yes,Symmetrical,Active..."
11,15984,157734,"V1202,49392,4019,2762,2518,4659,4160,E9320",3891,"828,784,211,791,85,183,156,425,72,704,230,128,...","53,Turns by self,37.111099243164062,51,109,11...."
12,3425,158813,"5859,53081,2749,V5861,V0254,56981,9974,E8782,5...","5459,9904,3893,4641,4562,598,5732,8814,4674,9915","223982,224004,224072,220048,220292,225210,2262...","M,Loose,Indwelling Urinary Catheter,Understand..."
13,56210,174964,"4019,3051,2724,27650,49121,53081,5849,41401,42...",<NA>,"224027,227133,223752,224037,225097,224057,2239...","Foam Cleanser,152,Intact,Strong,.02,36,62,Axil..."
14,26231,151099,"4019,7942,0389,486,51881,49320,4589","9671,9604","642,652,818,8368,581,615,827,646,640,88,285,51...","2.9000000953674316,7.45,51,500,Rarely Moist,Ex..."
15,8490,114587,"769,0389,76383,7755,76504,7718,V3101,7746,7793","9983,9671,9955,9390,3893,966,9604,9915,3892","3690,4643,3688,3770,3746,3452,3467,3384,3803,3...","26.799999237060547,7.6999998092651367,b,194,10..."
16,29940,191704,"684,V3001,7470,V7219,V053","9547,9955","8502,5909,3348,3408,3320,3609,3559,3572,8510,4...","Jaundice,Active,106,Loud,Stable,90,40,Flat,98...."
17,60626,171464,"2851,25000,5849,5990,04186,27652,60000,99664,4...","4443,9904","224007,224650,224084,224016,220277,226543,2250...","Family at bedside,124,26,Oriented to own abili..."
18,81579,109770,"00845,28489,07951,2761,486,7908,2762,0785,3483...","9915,3324,3322,3979,331,9671,3891,9672,9925,9604","227456,227344,225667,227947,227454,224828,2206...","Feeding,IV Fluid,3.8,22.9,32.3,1500,Local/regi..."
19,17576,178174,"V3000,V502,V053","9955,640","3353,3412,3341,4175,8502,211,3312,3654,3603,37...","180,sent,65,48,Active,NEWBORN,Given,49,34,98.9..."
20,7139,115023,"30490,2800,49320,5680,4280,7513,5180,135,5070","966,9623,4593,4639,4319,4863,3893,5459","637,425,742,49,467,1536,187,617,783,82,704,640...","1.8999999761581421,51,42,Side to Side,99.80000..."
21,23628,130305,"77981,7742,76527,V053,7717,V3101,76518,7706,V502","9983,966,640,9955","3799,3559,1191,3511,4188,3583,3419,3340,3353,3...","1.2000000476837158,Medium,Subcostal,160,5.0006..."
22,16483,185899,"9694,E9502,30500,9678,E8160,2967,07054,E9503","9604,9671","8477,31,156,1397,83,32,1337,119,130,39,426,232...","7,4 Spontaneously,120,7.4000000953674316,48,1...."
23,97646,169246,"E9289,5990,30000,1623,73319,1985,51181,2449,51...","3491,3404,9229","223791,227487,220739,224756,227346,228096,2205...","Hearing Impaired,Patient refused,28,AtmosAir M..."
24,8909,124422,"76528,V053,V3000,7742,76519","9955,9983","31,3634,3304,3559,642,4171,3642,211,3568,8499,...","Pink,48,Voiding qs,3,Supine,30.399999618530273..."

In [ ]:
query="""

CREATE OR REPLACE TABLE `cdle-415809.CDLE.result_table` AS
WITH Diagnoses AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(d.ICD9_CODE AS STRING), ',') AS DIAGNOSES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.coddiagnos` AS d
  ON
    a.HADM_ID = CAST(d.HADM_ID AS STRING)
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),
Procedures AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(p.ICD9_CODE AS STRING), ',') AS PROCEDURES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.codproce` AS p
  ON
    a.HADM_ID = CAST(p.HADM_ID AS STRING)
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),
Items AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(a.ITEMID AS STRING), ',') AS ITEMS,
    STRING_AGG(DISTINCT CAST(a.VALUE AS STRING), ',') AS VALUES
  FROM
    `cdle-415809.CDLE.Data` AS a
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
)

SELECT
  d.SUBJECT_ID,
  d.HADM_ID,
  d.DIAGNOSES,
  p.PROCEDURES,
  i.ITEMS,
  i.VALUES
FROM
  Diagnoses d
LEFT JOIN
  Procedures p
ON
  CAST(d.HADM_ID AS STRING) = CAST(p.HADM_ID AS STRING)
LEFT JOIN
  Items i
ON
  CAST(d.HADM_ID AS STRING) = CAST(i.HADM_ID AS STRING);


"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
0,85278,162450,"1551,04185,53240,5720,73300,2859,5849,4019,996...","3893,9755,5110,5187,5164","224088,225122,220181,224023,224642,225113,2256...","Oriented x3,85,Children,Post line placement,Dr..."
1,13282,122678,"340,45340,51889,27652,2724,3051,41519",<NA>,"294,837,1484,470,184,128,1046,211,916,791,1089...","8.6000003814697266,Family Visited,2.3,102,88,D..."
2,53803,165032,"41401,725,3659,40390,53081,59651,5761,25000,27...","5188,5185","227445,223795,220179,225668,224730,223992,2240...","60.6,48,Consistently,97.2,None,Potential Probl..."
3,5889,153521,"V290,V3101,4589,76524,7766,7485,2767,769,76504","9604,9904,9671","3511,8529,3291,3502,3422,3771,3460,3759,3543,3...","Hand Containment,Retractions,24,69,Meconium,92..."
4,91280,114683,"2800,7802,2449,E8788,33828,5781,E8498,53989,53...","4523,4516","227368,224005,220635,225106,224026,220180,2279...","95,85,Call light within reach,WNL,25,Bedfast,1..."
5,1912,171954,"5439,19889,9974,V1582,5373,56881,1976,V1052,27...","3893,3998,4639,5459,8851,9905,387,9904,9902,54...","5814,1698,788,455,492,674,1533,522,679,470,627...","1.564810037612915,71,4.0999999046325684,75.071..."
6,7738,131019,"7230,3051,4241,2920,30500,311,30401,7455,43491","9465,3891","479,526,525,828,742,678,829,8380,86,187,821,67...","73,S,Potential Prob,Strong/Palpable,Sleeping,M..."
7,2170,158069,"4019,30401,2768,07030,07070,7823,5715,51881,48...",3891,"89,821,198,284,5819,479,84,707,211,1624,1286,4...","9.3999996185302734,24,4 Spontaneously,PNEUMONI..."
8,10904,169678,"81511,9040,9042,8750,2851,E970,8912","3929,7818,8241,8314,3322,3808,3889,7804","190,230,682,824,455,456,795,236,8381,816,415,7...","Back,122,Warm,125,112,3.9,143,107,130,40.9,16...."
9,81427,148999,"42741,E9378,34982,5845,04111,E9420,E9394,2724,...","9962,9604,3891,966,3897,9671","224650,224072,224077,224696,224958,224879,2248...","Suctioned,153,4 mm,67,All rails up (Restraint)..."
10,99211,179660,"2749,2761,5849,2449,41401,04185,73300,42833,42...",<NA>,"220615,224162,223783,220210,224016,224639,2201...","90,26,Independent,Teeth/Tissue WNL,Non-product..."
11,13296,121970,"4019,2720,V4582,E8781,4240,99702,42731,412","8853,3961,3524,8856,3723","1,781,547,8393,90,8368,189,524,526,8400,660,84...","Diminished,Regular,14.2,44.648799896240234,Thi..."
12,25288,113386,"V290,V053",9955,"8499,3348,3654,4171,3791,8510,4200,3799,211,34...","Given,40,54,3,Clear,36,31,Yes,70,165,Warmer,Sy..."
13,47677,199534,"78552,5934,42831,V1087,2689,27801,4011,4280,59...","3893,5503,3897","224168,220645,224373,227457,223900,228414,2272...","Back,44,94,62,Patient,96,98,131,63,On ,59,Easi..."
14,23167,145172,"4019,4241,41041,25000,41401,5990","3612,3961,3521","236,545,625,230,919,421,8467,524,623,916,113,5...","47.164798736572266,73,242,96,Left Leg,Other/Re..."
15,2851,190097,"V5861,4019,2859,42731,2749,3689,5859,2449,2720...","3523,3961,3733,8872,9904","1337,615,617,412,680,663,8552,519,815,236,324,...","58,81,OR Received,no data,3.2160799503326416,5..."
16,22735,182095,"29410,6144,5990,5770,042,70707,486,34590,2762,...","331,5491,3893,966","8401,8492,837,1418,324,154,1622,84,374,478,108...","134,Off,2.0999999046325684,Ceftriaxone,Y,Probl..."
17,5620,172046,"4240,42741,4271,2720,4280,9971","3961,3521,9962","926,8401,543,428,530,8456,244,425,631,828,8400...","Yes,Family Called,85,Positive,1089.35998535156..."
18,43147,180640,"51881,2639,3310,4280,28521,E8798,42731,43820,4...","9671,3893,9607","224077,224086,223754,227346,227669,224697,2247...","150,92,120,DNR (do not resuscitate),Patient/Fa..."
19,19312,112324,"4019,44103,30560,41400,V4581,V1259",<NA>,"791,31,723,617,166,861,8401,87,618,72,1536,581...","Oral,111,96.699996948242188,69.199996948242188..."
20,58297,112866,"8760,8820,8730,E966,88100,8601,E8499,8748","8659,9671","224632,225070,224038,224946,227959,220635,2239...","Foley,Circulation adequate,92,Yes, sedation ad..."
21,44511,184608,"42731,43310,4389,4280,4240,2749,43330,V1083,99...","3961,3613,3615,8872","228236,227472,223996,224756,224685,225231,2251...","PVC's,23,Activity,6.1,Married,28,4.2,339,11,25..."
22,12046,188024,"V053,V290,V3001",9955,"3656,3341,3447,3333,211,3445,31,3603,3685,3412...","4.89,100,42,1230,55,34,PRO,114,58,99.5,17.4,se..."
23,23053,191657,"30501,80126,85186,30560,E9289,30520,9130","3893,9671,9604","787,578,1431,776,656,1531,8406,467,479,169,129...","No anxiety,136,.2,No Spon Resp,Arm, Left Lower..."
24,48124,117438,"5128,99831,E8788,99591,20961,2724,5845,04112,2...","3404,3409,3403,3451,3324,3893","226512,225667,227457,225189,224089,220621,2206...","Medicated,Patient,90 Degrees,Potential Problem..."

Foi também feita uma exploração de forma a verificar se a quantidade de itens utilizados por cada paciente tinha um valor associado.

In [ ]:
query="""
WITH CountColumn1 AS (
  SELECT
    COUNT(SPLIT(ITEMS, ',')) AS count_col1
  FROM
    `cdle-415809.CDLE.result_table`
),
CountColumn2 AS (
  SELECT
    COUNT(SPLIT(VALUES, ',')) AS count_col2
  FROM
    `cdle-415809.CDLE.result_table`
)
SELECT
  *
FROM
  CountColumn1, CountColumn2
WHERE
  CountColumn1.count_col1 != CountColumn2.count_col2;
"""

df = bpd.read_gbq(query,use_cache=False)

df

Empty DataFrame
Columns: [count_col1, count_col2]
Index: []

[0 rows x 2 columns]

Aqui foi verificado que cada paciente podia ter mais que uma admissão no hospital

In [ ]:
query="""
SELECT
  SUBJECT_ID,
  COUNT(HADM_ID) AS Num_HADM_ID
FROM
 cdle-415809.CDLE.result_table
GROUP BY
  SUBJECT_ID
ORDER BY
  Num_HADM_ID DESC;



"""

df = bpd.read_gbq(query,use_cache=False)

df

   SUBJECT_ID  Num_HADM_ID
0       89363            1
1       58075            1
2       66264            4
3       59255            1
4       70417            1
5       14411            1
6        5463            1
7       62268            1
8       16660            1
9        1102            1
10      63639            1
11      21155            1
12      17137            1
13      49098            1
14       4166            2
15       6214            2
16      13144            1
17      98196            1
18      50137            1
19      23860            1
20      89292            1
21      49229            1
22      87607            1
23       4490            1
24      65097            1
...

[46438 rows x 2 columns]

In [ ]:
query="""
SELECT
  *
FROM
 cdle-415809.CDLE.Data
where SUBJECT_ID="4490"



"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY,GENDER,DOB
0,4490,198343,296939,470,15,O2 Flow (lpm),<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
1,4490,198343,296939,456,74.666702270507812,NBP Mean,<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
2,4490,198343,296939,456,74.666702270507812,NBP Mean,<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
3,4490,198343,296939,456,74.666702270507812,NBP Mean,<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
4,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
5,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
6,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
7,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
8,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
9,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
10,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
11,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
12,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
13,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
14,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
15,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
16,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
17,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
18,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
19,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
20,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
21,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
22,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
23,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00
24,4490,198343,296939,294,Right Antecub,IV #1 [Site],<NA>,8.7756,EMERGENCY,WHITE,F,2068-06-22 00:00:00+00

In [ ]:
query="""
SELECT
  *
FROM
  cdle-415809.CDLE.Data

where SUBJECT_ID="3271"

"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY,GENDER,DOB
0,3271,160767,235487,3583,2.3199999332427979,Previous Weight (kg),<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
1,3271,160767,235487,3583,2.3199999332427979,Previous Weight (kg),<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
2,3271,160767,235487,3583,2.3199999332427979,Previous Weight (kg),<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
3,3271,160767,235487,3583,2.3199999332427979,Previous Weight (kg),<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
4,3271,160767,235487,3583,2.3199999332427979,Previous Weight (kg),<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
5,3271,160767,235487,3583,2.3199999332427979,Previous Weight (kg),<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
6,3271,160767,235487,3583,2.3199999332427979,Previous Weight (kg),<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
7,3271,160767,235487,3663,174.95500183105469,Total Enteral/kg/day,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
8,3271,160767,235487,8502,29,BP Cuff [Diastolic],<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
9,3271,160767,235487,3313,71,BP Cuff [Systolic],<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
10,3271,160767,235487,3313,71,BP Cuff [Systolic],<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
11,3271,160767,235487,3313,71,BP Cuff [Systolic],<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
12,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
13,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
14,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
15,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
16,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
17,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
18,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
19,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
20,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
21,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
22,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
23,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00
24,3271,160767,235487,3603,30,Resp Rate,<NA>,18.0984,NEWBORN,ASIAN,M,2126-01-17 00:00:00+00

# Criação da tabela principal

Após feita a análise dos dados e feita a descoberta de todas as colunas importantes, criamos a tabela que vai ser usada para criar o modelo de previsão. Para já esta tabela contêm os ids do paciente e de admissão no hospital mas apenas para ser possivel fazer a associação dos dados. Na altura de treino do modelo esta será retirada.

In [ ]:
query = """

CREATE OR REPLACE TABLE cdle-415809.CDLE.Model AS
SELECT
  SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
FROM
  cdle-415809.CDLE.result_table

"""
df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
0,85278,162450,"1551,04185,53240,5720,73300,2859,5849,4019,996...","3893,9755,5110,5187,5164","224088,225122,220181,224023,224642,225113,2256...","Oriented x3,85,Children,Post line placement,Dr..."
1,13282,122678,"340,45340,51889,27652,2724,3051,41519",<NA>,"294,837,1484,470,184,128,1046,211,916,791,1089...","8.6000003814697266,Family Visited,2.3,102,88,D..."
2,53803,165032,"41401,725,3659,40390,53081,59651,5761,25000,27...","5188,5185","227445,223795,220179,225668,224730,223992,2240...","60.6,48,Consistently,97.2,None,Potential Probl..."
3,5889,153521,"V290,V3101,4589,76524,7766,7485,2767,769,76504","9604,9904,9671","3511,8529,3291,3502,3422,3771,3460,3759,3543,3...","Hand Containment,Retractions,24,69,Meconium,92..."
4,91280,114683,"2800,7802,2449,E8788,33828,5781,E8498,53989,53...","4523,4516","227368,224005,220635,225106,224026,220180,2279...","95,85,Call light within reach,WNL,25,Bedfast,1..."
5,1912,171954,"5439,19889,9974,V1582,5373,56881,1976,V1052,27...","3893,3998,4639,5459,8851,9905,387,9904,9902,54...","5814,1698,788,455,492,674,1533,522,679,470,627...","1.564810037612915,71,4.0999999046325684,75.071..."
6,7738,131019,"7230,3051,4241,2920,30500,311,30401,7455,43491","9465,3891","479,526,525,828,742,678,829,8380,86,187,821,67...","73,S,Potential Prob,Strong/Palpable,Sleeping,M..."
7,2170,158069,"4019,30401,2768,07030,07070,7823,5715,51881,48...",3891,"89,821,198,284,5819,479,84,707,211,1624,1286,4...","9.3999996185302734,24,4 Spontaneously,PNEUMONI..."
8,10904,169678,"81511,9040,9042,8750,2851,E970,8912","3929,7818,8241,8314,3322,3808,3889,7804","190,230,682,824,455,456,795,236,8381,816,415,7...","Back,122,Warm,125,112,3.9,143,107,130,40.9,16...."
9,81427,148999,"42741,E9378,34982,5845,04111,E9420,E9394,2724,...","9962,9604,3891,966,3897,9671","224650,224072,224077,224696,224958,224879,2248...","Suctioned,153,4 mm,67,All rails up (Restraint)..."
10,99211,179660,"2749,2761,5849,2449,41401,04185,73300,42833,42...",<NA>,"220615,224162,223783,220210,224016,224639,2201...","90,26,Independent,Teeth/Tissue WNL,Non-product..."
11,13296,121970,"4019,2720,V4582,E8781,4240,99702,42731,412","8853,3961,3524,8856,3723","1,781,547,8393,90,8368,189,524,526,8400,660,84...","Diminished,Regular,14.2,44.648799896240234,Thi..."
12,25288,113386,"V290,V053",9955,"8499,3348,3654,4171,3791,8510,4200,3799,211,34...","Given,40,54,3,Clear,36,31,Yes,70,165,Warmer,Sy..."
13,47677,199534,"78552,5934,42831,V1087,2689,27801,4011,4280,59...","3893,5503,3897","224168,220645,224373,227457,223900,228414,2272...","Back,44,94,62,Patient,96,98,131,63,On ,59,Easi..."
14,23167,145172,"4019,4241,41041,25000,41401,5990","3612,3961,3521","236,545,625,230,919,421,8467,524,623,916,113,5...","47.164798736572266,73,242,96,Left Leg,Other/Re..."
15,2851,190097,"V5861,4019,2859,42731,2749,3689,5859,2449,2720...","3523,3961,3733,8872,9904","1337,615,617,412,680,663,8552,519,815,236,324,...","58,81,OR Received,no data,3.2160799503326416,5..."
16,22735,182095,"29410,6144,5990,5770,042,70707,486,34590,2762,...","331,5491,3893,966","8401,8492,837,1418,324,154,1622,84,374,478,108...","134,Off,2.0999999046325684,Ceftriaxone,Y,Probl..."
17,5620,172046,"4240,42741,4271,2720,4280,9971","3961,3521,9962","926,8401,543,428,530,8456,244,425,631,828,8400...","Yes,Family Called,85,Positive,1089.35998535156..."
18,43147,180640,"51881,2639,3310,4280,28521,E8798,42731,43820,4...","9671,3893,9607","224077,224086,223754,227346,227669,224697,2247...","150,92,120,DNR (do not resuscitate),Patient/Fa..."
19,19312,112324,"4019,44103,30560,41400,V4581,V1259",<NA>,"791,31,723,617,166,861,8401,87,618,72,1536,581...","Oral,111,96.699996948242188,69.199996948242188..."
20,58297,112866,"8760,8820,8730,E966,88100,8601,E8499,8748","8659,9671","224632,225070,224038,224946,227959,220635,2239...","Foley,Circulation adequate,92,Yes, sedation ad..."
21,44511,184608,"42731,43310,4389,4280,4240,2749,43330,V1083,99...","3961,3613,3615,8872","228236,227472,223996,224756,224685,225231,2251...","PVC's,23,Activity,6.1,Married,28,4.2,339,11,25..."
22,12046,188024,"V053,V290,V3001",9955,"3656,3341,3447,3333,211,3445,31,3603,3685,3412...","4.89,100,42,1230,55,34,PRO,114,58,99.5,17.4,se..."
23,23053,191657,"30501,80126,85186,30560,E9289,30520,9130","3893,9671,9604","787,578,1431,776,656,1531,8406,467,479,169,129...","No anxiety,136,.2,No Spon Resp,Arm, Left Lower..."
24,48124,117438,"5128,99831,E8788,99591,20961,2724,5845,04112,2...","3404,3409,3403,3451,3324,3893","226512,225667,227457,225189,224089,220621,2206...","Medicated,Patient,90 Degrees,Potential Problem..."

Reparamos que nos faltavam uma coluna, como a idade, para ser utilizada pelo modelo, para isso tivemos que usar a data de nascimento e a data de admissão para fazer esse cálculo.

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN ADMs TIMESTAMP
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN ADML String
"""
df = bpd.read_gbq(query,use_cache=False)


query ="""

UPDATE cdle-415809.CDLE.Data AS t1
SET t1.ADMs = t2.ADMITTIME,
t1.ADML = t2.ADMISSION_LOCATION
FROM cdle-415809.CDLE.Admissions AS t2
WHERE t1.SUBJECT_ID = CAST(t2.SUBJECT_ID AS STRING) and t1.HADM_ID = CAST(t2.HADM_ID AS STRING)

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY,GENDER,DOBs,ADMs,ADML
0,13793,119190,294971,55,65,Assisted Systole,<NA>,0.5924,EMERGENCY,UNKNOWN/NOT SPECIFIED,M,2105-02-16 00:00:00+00:00,2177-08-08 18:16:00+00:00,TRANSFER FROM HOSP/EXTRAM
1,50597,139495,239243,226381,Single,Marital Status,ADT,12.8897,EMERGENCY,WHITE,F,2106-05-07 00:00:00+00:00,2180-03-24 15:14:00+00:00,CLINIC REFERRAL/PREMATURE
2,50597,139495,239243,226381,Single,Marital Status,ADT,12.8897,EMERGENCY,WHITE,F,2106-05-07 00:00:00+00:00,2180-03-24 15:14:00+00:00,CLINIC REFERRAL/PREMATURE
3,50597,139495,239243,226381,Single,Marital Status,ADT,12.8897,EMERGENCY,WHITE,F,2106-05-07 00:00:00+00:00,2180-03-24 15:14:00+00:00,CLINIC REFERRAL/PREMATURE
4,50597,139495,239243,226381,Single,Marital Status,ADT,12.8897,EMERGENCY,WHITE,F,2106-05-07 00:00:00+00:00,2180-03-24 15:14:00+00:00,CLINIC REFERRAL/PREMATURE
5,50597,139495,239243,226381,Single,Marital Status,ADT,12.8897,EMERGENCY,WHITE,F,2106-05-07 00:00:00+00:00,2180-03-24 15:14:00+00:00,CLINIC REFERRAL/PREMATURE
6,75815,149650,231972,220045,87,Heart Rate,Routine Vital Signs,1.013,EMERGENCY,WHITE,F,2046-03-22 00:00:00+00:00,2127-06-13 18:32:00+00:00,CLINIC REFERRAL/PREMATURE
7,98402,190856,262917,220180,55,Non Invasive Blood Pressure diastolic,Routine Vital Signs,2.9298,EMERGENCY,WHITE,F,2055-09-01 00:00:00+00:00,2111-03-06 16:50:00+00:00,EMERGENCY ROOM ADMIT
8,98402,190856,262917,220180,55,Non Invasive Blood Pressure diastolic,Routine Vital Signs,2.9298,EMERGENCY,WHITE,F,2055-09-01 00:00:00+00:00,2111-03-06 16:50:00+00:00,EMERGENCY ROOM ADMIT
9,98402,190856,262917,220180,55,Non Invasive Blood Pressure diastolic,Routine Vital Signs,2.9298,EMERGENCY,WHITE,F,2055-09-01 00:00:00+00:00,2111-03-06 16:50:00+00:00,EMERGENCY ROOM ADMIT
10,935,132801,284450,455,171,NBP [Systolic],<NA>,7.1947,EMERGENCY,WHITE,M,2113-02-02 00:00:00+00:00,2185-10-28 13:02:00+00:00,EMERGENCY ROOM ADMIT
11,27077,154353,214710,813,29.200000762939453,Hematocrit,Hematology,11.1742,EMERGENCY,WHITE,M,2080-02-22 00:00:00+00:00,2128-08-08 13:05:00+00:00,EMERGENCY ROOM ADMIT
12,96174,102283,200227,220228,9.7,Hemoglobin,Labs,2.817,EMERGENCY,WHITE - RUSSIAN,M,2062-12-24 00:00:00+00:00,2137-11-15 22:23:00+00:00,CLINIC REFERRAL/PREMATURE
13,65579,127074,234498,223907,2mm,Pupil Size Right,Neurological,0.8477,EMERGENCY,WHITE,F,2035-03-25 00:00:00+00:00,2100-12-23 19:48:00+00:00,EMERGENCY ROOM ADMIT
14,65579,127074,234498,223907,2mm,Pupil Size Right,Neurological,0.8477,EMERGENCY,WHITE,F,2035-03-25 00:00:00+00:00,2100-12-23 19:48:00+00:00,EMERGENCY ROOM ADMIT
15,65579,127074,234498,223907,2mm,Pupil Size Right,Neurological,0.8477,EMERGENCY,WHITE,F,2035-03-25 00:00:00+00:00,2100-12-23 19:48:00+00:00,EMERGENCY ROOM ADMIT
16,93078,142712,287221,224910,Moderate,Impaired Skin Drainage Amount #3,Skin - Impairment,21.1875,EMERGENCY,WHITE,F,2142-12-11 00:00:00+00:00,2182-12-11 07:31:00+00:00,CLINIC REFERRAL/PREMATURE
17,93078,142712,287221,224910,Moderate,Impaired Skin Drainage Amount #3,Skin - Impairment,21.1875,EMERGENCY,WHITE,F,2142-12-11 00:00:00+00:00,2182-12-11 07:31:00+00:00,CLINIC REFERRAL/PREMATURE
18,93078,142712,287221,224910,Moderate,Impaired Skin Drainage Amount #3,Skin - Impairment,21.1875,EMERGENCY,WHITE,F,2142-12-11 00:00:00+00:00,2182-12-11 07:31:00+00:00,CLINIC REFERRAL/PREMATURE
19,93078,142712,287221,224910,Moderate,Impaired Skin Drainage Amount #3,Skin - Impairment,21.1875,EMERGENCY,WHITE,F,2142-12-11 00:00:00+00:00,2182-12-11 07:31:00+00:00,CLINIC REFERRAL/PREMATURE
20,8641,151487,276802,8368,91,Arterial BP [Diastolic],<NA>,2.3248,EMERGENCY,WHITE,F,2066-02-21 00:00:00+00:00,2109-10-08 09:22:00+00:00,EMERGENCY ROOM ADMIT
21,30064,172342,226559,1521,4,Albumin,Chemistry,1.2664,EMERGENCY,BLACK/AFRICAN AMERICAN,F,2143-07-11 00:00:00+00:00,2196-03-02 02:49:00+00:00,EMERGENCY ROOM ADMIT
22,31294,101974,273970,130,Nodding,Communication,<NA>,8.7753,EMERGENCY,WHITE,M,2073-03-06 00:00:00+00:00,2119-01-17 21:27:00+00:00,TRANSFER FROM HOSP/EXTRAM
23,31294,101974,273970,130,Nodding,Communication,<NA>,8.7753,EMERGENCY,WHITE,M,2073-03-06 00:00:00+00:00,2119-01-17 21:27:00+00:00,TRANSFER FROM HOSP/EXTRAM
24,31294,101974,273970,130,Nodding,Communication,<NA>,8.7753,EMERGENCY,WHITE,M,2073-03-06 00:00:00+00:00,2119-01-17 21:27:00+00:00,TRANSFER FROM HOSP/EXTRAM

In [ ]:
query ="""select * FROM cdle-415809.CDLE.Data
WHERE DOBs IS NULL OR ADMs IS NULL """

df = bpd.read_gbq(query,use_cache=False)
df

Empty DataFrame
Columns: [SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, VALUE, ITEM_LABEL, CATEGORY, LOS, ADMISSION_TYPE, ETHNICITY, GENDER, DOB, ADM, AGE, AGEs, DOBs, ADMs, ADML]
Index: []

[0 rows x 18 columns]

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Data ADD COLUMN AGEs INT64
"""
df = bpd.read_gbq(query,use_cache=False)

query ="""

UPDATE `cdle-415809.CDLE.Data`
SET AGEs = DATE_DIFF(EXTRACT(DATE FROM ADMs), EXTRACT(DATE FROM DOBs), YEAR)
WHERE 1 = 1;

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY,GENDER,DOBs,ADMs,ADML,AGEs
0,24346,158461,255453,8535,Seedy,Stool [Color],<NA>,27.7426,NEWBORN,WHITE,M,2194-02-12 00:00:00+00:00,2194-02-12 20:36:00+00:00,CLINIC REFERRAL/PREMATURE,0
1,24346,158461,255453,8535,Seedy,Stool [Color],<NA>,27.7426,NEWBORN,WHITE,M,2194-02-12 00:00:00+00:00,2194-02-12 20:36:00+00:00,CLINIC REFERRAL/PREMATURE,0
2,24346,158461,255453,8535,Seedy,Stool [Color],<NA>,27.7426,NEWBORN,WHITE,M,2194-02-12 00:00:00+00:00,2194-02-12 20:36:00+00:00,CLINIC REFERRAL/PREMATURE,0
3,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
4,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
5,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
6,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
7,79310,192726,262851,224689,10,Respiratory Rate (spontaneous),Respiratory,7.5685,EMERGENCY,HISPANIC OR LATINO,F,2145-08-08 00:00:00+00:00,2186-06-27 22:00:00+00:00,CLINIC REFERRAL/PREMATURE,41
8,46057,188769,230192,220050,68,Arterial Blood Pressure systolic,Routine Vital Signs,2.0639,EMERGENCY,WHITE,M,2122-12-21 00:00:00+00:00,2202-06-04 23:06:00+00:00,EMERGENCY ROOM ADMIT,80
9,65270,132260,249636,220060,29,Pulmonary Artery Pressure diastolic,Hemodynamics,0.9435,EMERGENCY,WHITE,M,2037-02-05 00:00:00+00:00,2115-03-10 10:45:00+00:00,CLINIC REFERRAL/PREMATURE,78
10,3556,191718,275848,1162,16,BUN,<NA>,2.9645,EMERGENCY,WHITE,M,2061-06-23 00:00:00+00:00,2135-08-12 20:21:00+00:00,TRANSFER FROM HOSP/EXTRAM,74
11,87847,147666,289497,223761,99,Temperature Fahrenheit,Routine Vital Signs,0.9655,ELECTIVE,UNKNOWN/NOT SPECIFIED,M,2041-12-10 00:00:00+00:00,2111-11-18 07:30:00+00:00,PHYS REFERRAL/NORMAL DELI,70
12,31394,186138,251820,818,3,Lactic Acid(0.5-2.0),Chemistry,18.666,EMERGENCY,WHITE,M,2129-04-19 00:00:00+00:00,2195-10-23 12:00:00+00:00,EMERGENCY ROOM ADMIT,66
13,19107,160703,235244,1536,140,Sodium,Chemistry,9.6592,EMERGENCY,WHITE,F,2036-01-22 00:00:00+00:00,2101-04-11 20:41:00+00:00,EMERGENCY ROOM ADMIT,65
14,19107,160703,235244,1536,140,Sodium,Chemistry,9.6592,EMERGENCY,WHITE,F,2036-01-22 00:00:00+00:00,2101-04-11 20:41:00+00:00,EMERGENCY ROOM ADMIT,65
15,19107,160703,235244,1536,140,Sodium,Chemistry,9.6592,EMERGENCY,WHITE,F,2036-01-22 00:00:00+00:00,2101-04-11 20:41:00+00:00,EMERGENCY ROOM ADMIT,65
16,67256,122627,282370,223830,7.5,PH (Arterial),Labs,2.2713,EMERGENCY,HISPANIC/LATINO - DOMINICAN,M,2111-08-30 00:00:00+00:00,2189-12-13 13:59:00+00:00,TRANSFER FROM HOSP/EXTRAM,78
17,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
18,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
19,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
20,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
21,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
22,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
23,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
24,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60

A execução desta célula foi posterior à correção das idades posteriores a 89 anos, ou seja no caso de o utente ter 90 anos a idade devia ser 300, no entanto a correção foi executada e só depois é que executamos a célula.

In [ ]:
query ="""
select DISTINCT(SUBJECT_ID), AGEs from `cdle-415809.CDLE.Data`

WHERE AGEs>88;

"""
df = bpd.read_gbq(query,use_cache=False)

df

   SUBJECT_ID  AGEs
0       17720    90
1       89544    89
2        8582    90
3        4294    89
4       60792    90
5       12058    90
6        1271    90
7       16055    90
8       65604    90
9       20011    90
10      25975    95
11       8411    92
12      92700    90
13      91926    90
14      44878    89
15       6271    90
16      15867    90
17      60534    90
18       8411    90
19      86279    89
20      94200    90
21       4158    90
22      60868    90
23       4803    90
24      77934    90
...

[2554 rows x 2 columns]

In [ ]:
query ="""
select * from `cdle-415809.CDLE.Data`

WHERE SUBJECT_ID="17125";

"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY,GENDER,DOBs,ADMs,ADML,AGEs
0,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
1,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
2,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
3,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
4,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
5,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
6,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
7,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
8,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
9,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
10,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
11,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
12,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
13,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
14,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
15,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
16,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
17,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
18,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
19,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
20,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
21,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
22,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
23,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303
24,17125,176175,249291,128,Full Code,Code Status,<NA>,3.9365,EMERGENCY,WHITE,F,1801-10-25 00:00:00+00:00,2104-01-04 18:21:00+00:00,EMERGENCY ROOM ADMIT,303

Uma vez que as idades das pessoas com mais de 89 anos foi alterada tirando 300 anos à data de admissão por motivos de segurança, como explicado na explicação da tabela dada pelo site fornecido pela professora, fizemos o cálculo de retirar 210 à idade que o nosso primeiro calculo tinha dado de forma a conseguir obter a data correta das pessoas de 90 anos para cima.

In [ ]:
query="""
UPDATE `cdle-415809.CDLE.Data`
SET AGEs =
  CASE
    WHEN AGEs > 89 THEN AGEs - 210
    ELSE AGEs
  END
WHERE AGEs > 89;


"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,VALUE,ITEM_LABEL,CATEGORY,LOS,ADMISSION_TYPE,ETHNICITY,GENDER,DOBs,ADMs,ADML,AGEs
0,24346,158461,255453,8535,Seedy,Stool [Color],<NA>,27.7426,NEWBORN,WHITE,M,2194-02-12 00:00:00+00:00,2194-02-12 20:36:00+00:00,CLINIC REFERRAL/PREMATURE,0
1,24346,158461,255453,8535,Seedy,Stool [Color],<NA>,27.7426,NEWBORN,WHITE,M,2194-02-12 00:00:00+00:00,2194-02-12 20:36:00+00:00,CLINIC REFERRAL/PREMATURE,0
2,24346,158461,255453,8535,Seedy,Stool [Color],<NA>,27.7426,NEWBORN,WHITE,M,2194-02-12 00:00:00+00:00,2194-02-12 20:36:00+00:00,CLINIC REFERRAL/PREMATURE,0
3,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
4,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
5,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
6,32436,184018,293184,220635,2.2,Magnesium,Labs,16.8389,EMERGENCY,HISPANIC OR LATINO,M,2060-11-01 00:00:00+00:00,2129-03-04 02:50:00+00:00,EMERGENCY ROOM ADMIT,69
7,79310,192726,262851,224689,10,Respiratory Rate (spontaneous),Respiratory,7.5685,EMERGENCY,HISPANIC OR LATINO,F,2145-08-08 00:00:00+00:00,2186-06-27 22:00:00+00:00,CLINIC REFERRAL/PREMATURE,41
8,46057,188769,230192,220050,68,Arterial Blood Pressure systolic,Routine Vital Signs,2.0639,EMERGENCY,WHITE,M,2122-12-21 00:00:00+00:00,2202-06-04 23:06:00+00:00,EMERGENCY ROOM ADMIT,80
9,65270,132260,249636,220060,29,Pulmonary Artery Pressure diastolic,Hemodynamics,0.9435,EMERGENCY,WHITE,M,2037-02-05 00:00:00+00:00,2115-03-10 10:45:00+00:00,CLINIC REFERRAL/PREMATURE,78
10,3556,191718,275848,1162,16,BUN,<NA>,2.9645,EMERGENCY,WHITE,M,2061-06-23 00:00:00+00:00,2135-08-12 20:21:00+00:00,TRANSFER FROM HOSP/EXTRAM,74
11,87847,147666,289497,223761,99,Temperature Fahrenheit,Routine Vital Signs,0.9655,ELECTIVE,UNKNOWN/NOT SPECIFIED,M,2041-12-10 00:00:00+00:00,2111-11-18 07:30:00+00:00,PHYS REFERRAL/NORMAL DELI,70
12,31394,186138,251820,818,3,Lactic Acid(0.5-2.0),Chemistry,18.666,EMERGENCY,WHITE,M,2129-04-19 00:00:00+00:00,2195-10-23 12:00:00+00:00,EMERGENCY ROOM ADMIT,66
13,19107,160703,235244,1536,140,Sodium,Chemistry,9.6592,EMERGENCY,WHITE,F,2036-01-22 00:00:00+00:00,2101-04-11 20:41:00+00:00,EMERGENCY ROOM ADMIT,65
14,19107,160703,235244,1536,140,Sodium,Chemistry,9.6592,EMERGENCY,WHITE,F,2036-01-22 00:00:00+00:00,2101-04-11 20:41:00+00:00,EMERGENCY ROOM ADMIT,65
15,19107,160703,235244,1536,140,Sodium,Chemistry,9.6592,EMERGENCY,WHITE,F,2036-01-22 00:00:00+00:00,2101-04-11 20:41:00+00:00,EMERGENCY ROOM ADMIT,65
16,67256,122627,282370,223830,7.5,PH (Arterial),Labs,2.2713,EMERGENCY,HISPANIC/LATINO - DOMINICAN,M,2111-08-30 00:00:00+00:00,2189-12-13 13:59:00+00:00,TRANSFER FROM HOSP/EXTRAM,78
17,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
18,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
19,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
20,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
21,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
22,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
23,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60
24,78416,102966,259548,220045,91,Heart Rate,Routine Vital Signs,12.0183,EMERGENCY,WHITE,M,2123-10-28 00:00:00+00:00,2183-11-05 20:14:00+00:00,CLINIC REFERRAL/PREMATURE,60

Aqui procedemos a acrescentar as colunas que achamos importantes na tabela para ser usada no modelo

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Model ADD COLUMN GENDER STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model ADD COLUMN AGE INT64
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model ADD COLUMN ETHNICITY STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model ADD COLUMN ADMISSION_TYPE STRING
"""
df = bpd.read_gbq(query,use_cache=False)


query="""

ALTER TABLE cdle-415809.CDLE.Model ADD COLUMN ADMISSION_LOCATION STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model ADD COLUMN LOS FLOAT64
"""
df = bpd.read_gbq(query,use_cache=False)

In [ ]:


query ="""

UPDATE cdle-415809.CDLE.Model AS t1
SET
    t1.GENDER = t2.GENDER,
    t1.AGE = t2.AGEs,
    t1.ETHNICITY = t2.ETHNICITY,
    t1.ADMISSION_TYPE = t2.ADMISSION_TYPE,
    t1.ADMISSION_LOCATION = t2.ADML,
    t1.LOS = t2.LOS
FROM (
    SELECT
        t2.SUBJECT_ID,
        t2.HADM_ID,
        t2.GENDER,
        t2.AGEs,
        t2.ETHNICITY,
        t2.ADMISSION_TYPE,
        t2.ADML,
        t2.LOS,
        ROW_NUMBER() OVER (PARTITION BY t2.SUBJECT_ID, t2.HADM_ID ORDER BY t2.HADM_ID) AS row_num
    FROM
        cdle-415809.CDLE.Data AS t2
) AS t2
WHERE
    t1.SUBJECT_ID = CAST(t2.SUBJECT_ID AS STRING)
    AND t1.HADM_ID = CAST(t2.HADM_ID AS STRING)
    AND t2.row_num = 1;


"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES,GENDER,AGE,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,LOS
0,14256,196334,"32723,51884,V8535,2727,311,56400,5990,2535,250...",9390,"223948,227577,225074,223795,224168,224004,2240...","Right Side,76,Teeth/Tissue WNL,Localizes,105,7...",F,29,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.1297
1,54613,138542,"27669,60000,V4511,3569,78609,5856,33829,40391,...","9390,3995","228236,220615,227950,226499,225099,220739,2256...","None,Repositioned,Impaired,63,Thrill Yes,Sligh...",M,77,BLACK/AFRICAN AMERICAN,EMERGENCY,CLINIC REFERRAL/PREMATURE,1.8276
2,91199,108165,"99667,43811,43820,1921,7907,60000,04112,4660,7...","3897,207","224650,223934,225070,223917,223796,224105,2281...","Children,Oriented by RN,Confusion,Insp Wheeze,...",M,53,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.9225
3,8244,189569,"43310,4439,2720,2989,41401,29181,4019,4111,3051","3615,3722,8856,3613,8853,9904,3961","83,85,410,56,456,519,584,294,732,80,8371,8467,...","32,109,13.9,Small,1.14,.3,670,7,4.7,13,46,1 No...",M,64,UNKNOWN/NOT SPECIFIED,URGENT,TRANSFER FROM HOSP/EXTRAM,2.0319
4,2934,145863,"3310,2720,25000,2948,E8497,4019,5990,V5867,008...","9671,966,8841,4311,9604,8703","8381,829,618,682,8401,129,631,619,595,535,187,...","61.666698455810547,30 degrees,22.7,Extubated,P...",F,85,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,3.807
5,822,124634,"566,9072,2851,7070,3441,2765,591,78039,73009","8672,7789,8382,14,8622,9672,9604,9915","644,640,614,52,1480,500,781,8488,131,235,797,4...","Regular,13.352999687194824,Routine Change,Occ....",M,29,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,13.9901
6,27116,125849,"7840,07070,32723,53081,V4365,7842,4373,7242,3051","3951,8841","229,27,1337,723,1623,227467,220615,226545,127,...","0,M,272,Alert,154,107,75,182,8,3 mm,69,Side to...",M,53,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,1.1869
7,10656,193922,"4280,41401,3051,41071,V173,4148,53081","9907,3961,3615,3613","1044,444,779,394,128,637,388,477,1047,1425,676...","79,96.44000244140625,Yellow,Runs Vtach,No/Hemo...",M,43,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.0063
8,1684,138972,"51889,496,4019,4241,V1046,5920,4111,41401","3961,8872,3615,3612,3891,3521","1127,683,5813,71,1484,925,403,411,229,1089,733...","7.31,18,69,98.099998474121094,5 Oriented,5.331...",M,76,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,5.2071
9,68035,145990,"53081,2713,V5867,2689,25013",<NA>,"227968,220615,223900,225074,223780,225122,2262...","Spontaneously,Patient/Family,Family Visited,Me...",F,19,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,0.9271
10,12191,156167,"8360,56400,5990,5859,51882,04104,42830,71844,7...","9390,9904","1484,198,784,926,183,550,169,522,593,829,478,6...","169,3.9,42,Other/Remarks,1,82,105,Diabetic,Wal...",F,80,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.9975
11,27711,135403,"496,41071,2724,51881,2749,4387,5854,78551,5849...","9604,3891,9672,3995,3893,3895,4513,3322","817,338,60,525,791,860,211,776,605,5817,612,34...","151,595,Rare,158,228,CVVHD,13.2,96.59999847412...",M,72,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,8.1652
12,31539,166271,"412,53081,25000,5849,2930,41401,4019,5762,2859...","5187,9904,3893","128,220546,1425,573,8456,326,470,775,227443,82...","77,Children,139,34.7,Weak Palpable,247,132,57,...",F,88,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.4987
13,25261,132793,"V4573,5180,9973,6930,4019,V1052,5121,2449,2749...","554,3404","811,1536,297,547,161,5819,787,8547,821,1425,60...","On,.44999998807907104,62,Occ. Moist,5 Oriented...",M,69,WHITE - RUSSIAN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,0.8391
14,16784,193418,"V4581,53081,V433,41400,5119,4928,5569",3404,"223830,8454,220602,187,128,674,86,227465,825,1...","Steri-strip,3.2100000381469727,Cough/DeepBreat...",M,78,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.0548
15,88508,136928,"53081,1912,34690","113,9359","224024,225103,225074,225113,223898,224085,2250...","Yellow,130,98.8,Normal,9.2,124,Moderate to Sev...",F,44,WHITE,EMERGENCY,PHYS REFERRAL/NORMAL DELI,1.0096
16,97916,148314,"2859,V4581,V5866,412,53783,30000,4019,V4582,24...",9904,"225612,226185,220545,224731,223792,224028,2250...","59,2 Person Assist,30,13,85,2 GM Sodium Heart ...",F,81,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.0072
17,46820,148749,"2762,45621,5990,78552,5070,30501,V4987,5712,28...","5491,9671,9604,3491,4513,3897,966","228307,224717,223947,224027,226473,226846,2237...","3.8,36.9,43.5,Rare,5.3,338,Not specified,Soft,...",F,63,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,3.1886
18,50407,133457,"E8844,5119,4019,42731,2749,85221,514,78720,348...","131,966","223758,227810,223919,224005,228009,220210,2247...","Positive,99.6,Systolic,21,103,OT,Intact,Locali...",M,82,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,4.2184
19,10092,158742,"2720,4019,2518,49121,E9320,486",<NA>,"706,674,432,425,678,87,159,1125,599,549,128,86...","97.199996948242188,Walks Occasional,45 degrees...",M,58,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.2267
20,10258,152188,"78039,42731,E9342,4275,2859,4019,431,41519","9604,9905,9960,387,3893,3142,9910","785,853,1047,524,8435,596,54,1162,49,798,450,1...","98.666702270507812,LL Ant Forearm,14.5,3.09999...",M,56,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,21.4154
21,28450,180897,"5849,30560,2859,29181,2875,51881,2762,78039,92...","9671,9604","1434,8400,6207,660,50,455,40,637,859,6208,211,...","> Norm activity,Nasal Cannula,4.3,Done,52,Very...",M,65,BLACK/AFRICAN AMERICAN,EMERGENCY,EMERGENCY ROOM ADMIT,2.5385
22,94117,121455,"43330,4019,4321,V1254,496,2930,V1582,5306,3498...",<NA>,"223982,223905,226713,225184,227465,224650,2252...","Strong,94,16,Normal,100,Medium,White,97.2,Nurs...",M,90,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.8334
23,7007,112763,"V3000,V290,V053,V502","640,9955","3654,3412,3353,3333,3603,3685,3373,4175,3745,3...","41,Warmer,NEWBORN,2159,sent,Given,Active,B,53,...",M,0,OTHER,NEWBORN,CLINIC REFERRAL/PREMATURE,0.0959
24,22707,101789,"78039,1919,4019",<NA>,"87,128,423,581,454,32,926,1162,742,811,8467,32...","33.900001525878906,65,69,103,Medications,30 de...",F,69,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.1942

In [ ]:
query="""
SELECT
  SUM(CASE WHEN DIAGNOSES IS NULL THEN 1 ELSE 0 END) AS DIAGNOSES_nulls,
  SUM(CASE WHEN PROCEDURES IS NULL THEN 1 ELSE 0 END) AS PROCEDURES_nulls,
  SUM(CASE WHEN ITEMS IS NULL THEN 1 ELSE 0 END) AS ITEMS_nulls,
  SUM(CASE WHEN VALUES IS NULL THEN 1 ELSE 0 END) AS VALUES_nulls,
  SUM(CASE WHEN GENDER IS NULL THEN 1 ELSE 0 END) AS GENDER_nulls,
  SUM(CASE WHEN AGE IS NULL THEN 1 ELSE 0 END) AS AGE_nulls,
  SUM(CASE WHEN ETHNICITY IS NULL THEN 1 ELSE 0 END) AS ETHNICITY_nulls,
  SUM(CASE WHEN ADMISSION_TYPE IS NULL THEN 1 ELSE 0 END) AS ADMISSION_TYPE_nulls,
  SUM(CASE WHEN ADMISSION_LOCATION IS NULL THEN 1 ELSE 0 END) AS ADMISSION_LOCATION_nulls,
  SUM(CASE WHEN LOS IS NULL THEN 1 ELSE 0 END) AS target_nulls
FROM
  cdle-415809.CDLE.Model;
"""

df = bpd.read_gbq(query,use_cache=False)

df

,DIAGNOSES_nulls,PROCEDURES_nulls,ITEMS_nulls,VALUES_nulls,GENDER_nulls,AGE_nulls,ETHNICITY_nulls,ADMISSION_TYPE_nulls,ADMISSION_LOCATION_nulls,target_nulls
0,4,6569,0,0,0,0,0,0,0,0

Ao visualizar as linhas que contêm valores nulos verificamos que algumas medidas teriam que ser mudadas entre elas eliminar as linhas que tivessem valores nulos nos diagnosticos. Esta é uma parte muito importante para se perceber o que o doente tem e deve influenciar em muito o modelo. Como apresenta valores nulos em apenas 4 colunas num universo de 57196 linhas achamos que seja um valor irrisório.

Quanto aos procedimentos eles podem ou não ser importantes, dito isto iremos criar 2 modelos um sem os procedimentos nulos e outro com os procedimentos nulos.

In [ ]:
query ="""DELETE FROM cdle-415809.CDLE.Model
WHERE DIAGNOSES IS NULL """

df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES,GENDER,AGE,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,LOS
0,14256,196334,"32723,51884,V8535,2727,311,56400,5990,2535,250...",9390,"223948,227577,225074,223795,224168,224004,2240...","Right Side,76,Teeth/Tissue WNL,Localizes,105,7...",F,29,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.1297
1,54613,138542,"27669,60000,V4511,3569,78609,5856,33829,40391,...","9390,3995","228236,220615,227950,226499,225099,220739,2256...","None,Repositioned,Impaired,63,Thrill Yes,Sligh...",M,77,BLACK/AFRICAN AMERICAN,EMERGENCY,CLINIC REFERRAL/PREMATURE,1.8276
2,91199,108165,"99667,43811,43820,1921,7907,60000,04112,4660,7...","3897,207","224650,223934,225070,223917,223796,224105,2281...","Children,Oriented by RN,Confusion,Insp Wheeze,...",M,53,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.9225
3,8244,189569,"43310,4439,2720,2989,41401,29181,4019,4111,3051","3615,3722,8856,3613,8853,9904,3961","83,85,410,56,456,519,584,294,732,80,8371,8467,...","32,109,13.9,Small,1.14,.3,670,7,4.7,13,46,1 No...",M,64,UNKNOWN/NOT SPECIFIED,URGENT,TRANSFER FROM HOSP/EXTRAM,2.0319
4,2934,145863,"3310,2720,25000,2948,E8497,4019,5990,V5867,008...","9671,966,8841,4311,9604,8703","8381,829,618,682,8401,129,631,619,595,535,187,...","61.666698455810547,30 degrees,22.7,Extubated,P...",F,85,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,3.807
5,822,124634,"566,9072,2851,7070,3441,2765,591,78039,73009","8672,7789,8382,14,8622,9672,9604,9915","644,640,614,52,1480,500,781,8488,131,235,797,4...","Regular,13.352999687194824,Routine Change,Occ....",M,29,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,13.9901
6,27116,125849,"7840,07070,32723,53081,V4365,7842,4373,7242,3051","3951,8841","229,27,1337,723,1623,227467,220615,226545,127,...","0,M,272,Alert,154,107,75,182,8,3 mm,69,Side to...",M,53,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,1.1869
7,10656,193922,"4280,41401,3051,41071,V173,4148,53081","9907,3961,3615,3613","1044,444,779,394,128,637,388,477,1047,1425,676...","79,96.44000244140625,Yellow,Runs Vtach,No/Hemo...",M,43,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.0063
8,1684,138972,"51889,496,4019,4241,V1046,5920,4111,41401","3961,8872,3615,3612,3891,3521","1127,683,5813,71,1484,925,403,411,229,1089,733...","7.31,18,69,98.099998474121094,5 Oriented,5.331...",M,76,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,5.2071
9,68035,145990,"53081,2713,V5867,2689,25013",<NA>,"227968,220615,223900,225074,223780,225122,2262...","Spontaneously,Patient/Family,Family Visited,Me...",F,19,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,0.9271
10,12191,156167,"8360,56400,5990,5859,51882,04104,42830,71844,7...","9390,9904","1484,198,784,926,183,550,169,522,593,829,478,6...","169,3.9,42,Other/Remarks,1,82,105,Diabetic,Wal...",F,80,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.9975
11,27711,135403,"496,41071,2724,51881,2749,4387,5854,78551,5849...","9604,3891,9672,3995,3893,3895,4513,3322","817,338,60,525,791,860,211,776,605,5817,612,34...","151,595,Rare,158,228,CVVHD,13.2,96.59999847412...",M,72,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,8.1652
12,31539,166271,"412,53081,25000,5849,2930,41401,4019,5762,2859...","5187,9904,3893","128,220546,1425,573,8456,326,470,775,227443,82...","77,Children,139,34.7,Weak Palpable,247,132,57,...",F,88,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.4987
13,25261,132793,"V4573,5180,9973,6930,4019,V1052,5121,2449,2749...","554,3404","811,1536,297,547,161,5819,787,8547,821,1425,60...","On,.44999998807907104,62,Occ. Moist,5 Oriented...",M,69,WHITE - RUSSIAN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,0.8391
14,16784,193418,"V4581,53081,V433,41400,5119,4928,5569",3404,"223830,8454,220602,187,128,674,86,227465,825,1...","Steri-strip,3.2100000381469727,Cough/DeepBreat...",M,78,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.0548
15,88508,136928,"53081,1912,34690","113,9359","224024,225103,225074,225113,223898,224085,2250...","Yellow,130,98.8,Normal,9.2,124,Moderate to Sev...",F,44,WHITE,EMERGENCY,PHYS REFERRAL/NORMAL DELI,1.0096
16,97916,148314,"2859,V4581,V5866,412,53783,30000,4019,V4582,24...",9904,"225612,226185,220545,224731,223792,224028,2250...","59,2 Person Assist,30,13,85,2 GM Sodium Heart ...",F,81,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.0072
17,46820,148749,"2762,45621,5990,78552,5070,30501,V4987,5712,28...","5491,9671,9604,3491,4513,3897,966","228307,224717,223947,224027,226473,226846,2237...","3.8,36.9,43.5,Rare,5.3,338,Not specified,Soft,...",F,63,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,3.1886
18,50407,133457,"E8844,5119,4019,42731,2749,85221,514,78720,348...","131,966","223758,227810,223919,224005,228009,220210,2247...","Positive,99.6,Systolic,21,103,OT,Intact,Locali...",M,82,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,4.2184
19,10092,158742,"2720,4019,2518,49121,E9320,486",<NA>,"706,674,432,425,678,87,159,1125,599,549,128,86...","97.199996948242188,Walks Occasional,45 degrees...",M,58,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.2267
20,10258,152188,"78039,42731,E9342,4275,2859,4019,431,41519","9604,9905,9960,387,3893,3142,9910","785,853,1047,524,8435,596,54,1162,49,798,450,1...","98.666702270507812,LL Ant Forearm,14.5,3.09999...",M,56,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,21.4154
21,28450,180897,"5849,30560,2859,29181,2875,51881,2762,78039,92...","9671,9604","1434,8400,6207,660,50,455,40,637,859,6208,211,...","> Norm activity,Nasal Cannula,4.3,Done,52,Very...",M,65,BLACK/AFRICAN AMERICAN,EMERGENCY,EMERGENCY ROOM ADMIT,2.5385
22,94117,121455,"43330,4019,4321,V1254,496,2930,V1582,5306,3498...",<NA>,"223982,223905,226713,225184,227465,224650,2252...","Strong,94,16,Normal,100,Medium,White,97.2,Nurs...",M,90,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.8334
23,7007,112763,"V3000,V290,V053,V502","640,9955","3654,3412,3353,3333,3603,3685,3373,4175,3745,3...","41,Warmer,NEWBORN,2159,sent,Given,Active,B,53,...",M,0,OTHER,NEWBORN,CLINIC REFERRAL/PREMATURE,0.0959
24,22707,101789,"78039,1919,4019",<NA>,"87,128,423,581,454,32,926,1162,742,811,8467,32...","33.900001525878906,65,69,103,Medications,30 de...",F,69,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.1942

In [ ]:
query="""
CREATE OR REPLACE TABLE cdle-415809.CDLE.Model_SNull AS
SELECT *
FROM cdle-415809.CDLE.Model
WHERE PROCEDURES IS NOT NULL;

"""

df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES,GENDER,AGE,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,LOS
0,14256,196334,"32723,51884,V8535,2727,311,56400,5990,2535,250...",9390,"223948,227577,225074,223795,224168,224004,2240...","Right Side,76,Teeth/Tissue WNL,Localizes,105,7...",F,29,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.1297
1,54613,138542,"27669,60000,V4511,3569,78609,5856,33829,40391,...","9390,3995","228236,220615,227950,226499,225099,220739,2256...","None,Repositioned,Impaired,63,Thrill Yes,Sligh...",M,77,BLACK/AFRICAN AMERICAN,EMERGENCY,CLINIC REFERRAL/PREMATURE,1.8276
2,91199,108165,"99667,43811,43820,1921,7907,60000,04112,4660,7...","3897,207","224650,223934,225070,223917,223796,224105,2281...","Children,Oriented by RN,Confusion,Insp Wheeze,...",M,53,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.9225
3,8244,189569,"43310,4439,2720,2989,41401,29181,4019,4111,3051","3615,3722,8856,3613,8853,9904,3961","83,85,410,56,456,519,584,294,732,80,8371,8467,...","32,109,13.9,Small,1.14,.3,670,7,4.7,13,46,1 No...",M,64,UNKNOWN/NOT SPECIFIED,URGENT,TRANSFER FROM HOSP/EXTRAM,2.0319
4,2934,145863,"3310,2720,25000,2948,E8497,4019,5990,V5867,008...","9671,966,8841,4311,9604,8703","8381,829,618,682,8401,129,631,619,595,535,187,...","61.666698455810547,30 degrees,22.7,Extubated,P...",F,85,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,3.807
5,822,124634,"566,9072,2851,7070,3441,2765,591,78039,73009","8672,7789,8382,14,8622,9672,9604,9915","644,640,614,52,1480,500,781,8488,131,235,797,4...","Regular,13.352999687194824,Routine Change,Occ....",M,29,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,13.9901
6,27116,125849,"7840,07070,32723,53081,V4365,7842,4373,7242,3051","3951,8841","229,27,1337,723,1623,227467,220615,226545,127,...","0,M,272,Alert,154,107,75,182,8,3 mm,69,Side to...",M,53,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,1.1869
7,10656,193922,"4280,41401,3051,41071,V173,4148,53081","9907,3961,3615,3613","1044,444,779,394,128,637,388,477,1047,1425,676...","79,96.44000244140625,Yellow,Runs Vtach,No/Hemo...",M,43,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.0063
8,1684,138972,"51889,496,4019,4241,V1046,5920,4111,41401","3961,8872,3615,3612,3891,3521","1127,683,5813,71,1484,925,403,411,229,1089,733...","7.31,18,69,98.099998474121094,5 Oriented,5.331...",M,76,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,5.2071
9,12191,156167,"8360,56400,5990,5859,51882,04104,42830,71844,7...","9390,9904","1484,198,784,926,183,550,169,522,593,829,478,6...","169,3.9,42,Other/Remarks,1,82,105,Diabetic,Wal...",F,80,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.9975
10,27711,135403,"496,41071,2724,51881,2749,4387,5854,78551,5849...","9604,3891,9672,3995,3893,3895,4513,3322","817,338,60,525,791,860,211,776,605,5817,612,34...","151,595,Rare,158,228,CVVHD,13.2,96.59999847412...",M,72,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,8.1652
11,31539,166271,"412,53081,25000,5849,2930,41401,4019,5762,2859...","5187,9904,3893","128,220546,1425,573,8456,326,470,775,227443,82...","77,Children,139,34.7,Weak Palpable,247,132,57,...",F,88,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.4987
12,25261,132793,"V4573,5180,9973,6930,4019,V1052,5121,2449,2749...","554,3404","811,1536,297,547,161,5819,787,8547,821,1425,60...","On,.44999998807907104,62,Occ. Moist,5 Oriented...",M,69,WHITE - RUSSIAN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,0.8391
13,16784,193418,"V4581,53081,V433,41400,5119,4928,5569",3404,"223830,8454,220602,187,128,674,86,227465,825,1...","Steri-strip,3.2100000381469727,Cough/DeepBreat...",M,78,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.0548
14,88508,136928,"53081,1912,34690","113,9359","224024,225103,225074,225113,223898,224085,2250...","Yellow,130,98.8,Normal,9.2,124,Moderate to Sev...",F,44,WHITE,EMERGENCY,PHYS REFERRAL/NORMAL DELI,1.0096
15,97916,148314,"2859,V4581,V5866,412,53783,30000,4019,V4582,24...",9904,"225612,226185,220545,224731,223792,224028,2250...","59,2 Person Assist,30,13,85,2 GM Sodium Heart ...",F,81,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.0072
16,46820,148749,"2762,45621,5990,78552,5070,30501,V4987,5712,28...","5491,9671,9604,3491,4513,3897,966","228307,224717,223947,224027,226473,226846,2237...","3.8,36.9,43.5,Rare,5.3,338,Not specified,Soft,...",F,63,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,3.1886
17,50407,133457,"E8844,5119,4019,42731,2749,85221,514,78720,348...","131,966","223758,227810,223919,224005,228009,220210,2247...","Positive,99.6,Systolic,21,103,OT,Intact,Locali...",M,82,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,4.2184
18,10258,152188,"78039,42731,E9342,4275,2859,4019,431,41519","9604,9905,9960,387,3893,3142,9910","785,853,1047,524,8435,596,54,1162,49,798,450,1...","98.666702270507812,LL Ant Forearm,14.5,3.09999...",M,56,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,21.4154
19,28450,180897,"5849,30560,2859,29181,2875,51881,2762,78039,92...","9671,9604","1434,8400,6207,660,50,455,40,637,859,6208,211,...","> Norm activity,Nasal Cannula,4.3,Done,52,Very...",M,65,BLACK/AFRICAN AMERICAN,EMERGENCY,EMERGENCY ROOM ADMIT,2.5385
20,7007,112763,"V3000,V290,V053,V502","640,9955","3654,3412,3353,3333,3603,3685,3373,4175,3745,3...","41,Warmer,NEWBORN,2159,sent,Given,Active,B,53,...",M,0,OTHER,NEWBORN,CLINIC REFERRAL/PREMATURE,0.0959
21,19432,172262,"25000,2859,4019,42731,5789,V433,V4581,2765","8847,4573","706,786,535,82,131,283,195,8428,324,683,478,84...","118,99.400001525878906,PAC's,28.5,2.7000000476...",M,81,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,5.6117
22,25473,135301,"36281,40403,4401","3950,8845","527,919,674,791,83,637,781,646,467,325,677,104...","116,4.059999942779541,117.66699981689453,97,Le...",M,43,HISPANIC OR LATINO,EMERGENCY,EMERGENCY ROOM ADMIT,1.7688
23,14761,101026,"4280,1179,481,53081,4019,5119,2875,99859,2859","3491,9915,966,9672","609,530,221,828,357,82,704,817,680,339,187,87,...","98.800003051757812,15.625,.5,166,91.3332977294...",F,83,WHITE,URGENT,PHYS REFERRAL/NORMAL DELI,9.2
24,20756,112319,"99812,4240,4580,41401,4019,25000,412,2440","3723,8856,3961,3615,3611,8853","394,682,466,325,663,626,787,131,186,412,1047,1...","52.947399139404297,Bedrest,786.27099609375,119...",M,75,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,1.2218

# Identificação das colunas importantes

Selecionamos as colunas mais importantes, ou seja retiramos as colunas que continham ids

In [ ]:
query="""
CREATE OR REPLACE TABLE cdle-415809.CDLE.Dataset AS
SELECT
  DIAGNOSES,
  PROCEDURES,
  ITEMS,
  VALUES,
  GENDER,
  AGE,
  ETHNICITY,
  ADMISSION_TYPE,
  ADMISSION_LOCATION,
  LOS AS target,
  RAND() AS random
FROM
  cdle-415809.CDLE.Model;

"""

df = bpd.read_gbq(query,use_cache=False)

df

,DIAGNOSES,PROCEDURES,ITEMS,VALUES,GENDER,AGE,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,target,random
0,"9973,9982,2724,41401,4019,5180,4275,41041,3051","3606,8853,3601,3723,8856","784,618,733,8365,525,723,707,522,156,88,786,10...","79,123,CCU,Hematoma,91,27,30.600000381469727,O...",F,59,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,1.543,0.029918
1,"4019,5845,42822,4280,E8499,V4502,2720,42789,24...",<NA>,"82,617,793,171,926,156,825,478,161,524,1125,15...","Left Side,127,3865,55,Medications,Bedfast,199,...",M,72,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.7414,0.201817
2,"76528,7793,V290,V053,77981,77089,76519,V502,V3001","640,9915,9955","3664,3385,3291,3384,3686,3791,3547,3292,3430,8...","Given,121,2.6099998950958252,5,Flat,98.1999969...",M,0,WHITE,NEWBORN,** INFO NOT AVAILABLE **,7.2239,0.29186
3,"V1552,4019,43811,42731,43820,E9290,43889,78791...",9671,"220277,224086,220739,227952,224735,225639,2240...","Arouse to Voice,2.5,548,4 mm,549,29,127,Altere...",M,57,UNKNOWN/NOT SPECIFIED,EMERGENCY,CLINIC REFERRAL/PREMATURE,3.3952,0.782564
4,"78552,70715,42731,4280,4439,99592,3572,5849,27...","9904,3893,7768","1534,593,723,1517,855,210,31,576,156,411,8457,...","62.333301544189453,84,35.4,6 Obeys Commands,Po...",M,82,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.4192,0.024965
5,"7906,42822,41401,78551,20208,79902,4254,27788,...","40,9925,3995,3761,3893,8857,46,66,3606,3722","223900,227466,224373,223904,220635,224028,2247...","71.1,Bedrest,Oriented x3,Mild to Moderate,Bed ...",M,74,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,6.8606,0.688592
6,"42731,5849,5070,5990,E8859,2760,9210,71945,518...","966,9672","228099,225667,224785,227955,227443,223795,2240...","1.22,Perineum,At Rest,Weak Palpable,12.9,111,6...",F,94,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,14.2963,0.47134
7,"V053,7756,74783,7470,77181,7786,7455,7742,7757...","3891,9955,3893,640,9604,9671,966,9915,9390,389...","3325,3427,3655,467,3405,183,852,3340,3520,3292...","Large,435,289,8.6999998092651367,98.1999969482...",M,0,MULTI RACE ETHNICITY,NEWBORN,CLINIC REFERRAL/PREMATURE,24.8132,0.559361
8,"51881,5601,2764,1539",9671,"324,780,210,157,8467,184,39,211,478,926,294,50...",".20999999344348907,58,Drager,MED,66,Teeth/Tiss...",F,74,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,0.1524,0.691884
9,"V090,5191,99659,V1209,47874,7802,4786,2794,401...","14,9723,3404,9604,9671,3179,9605,9815,311,3348...","434,677,596,8416,8449,457,1529,130,8554,450,36...","8.6000003814697266,100,Given,36.27780151367187...",F,37,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,3.6938,0.721403
10,"76528,V053,V290,V3000,76519",9955,"3654,3603,3761,3313,3834,3312,4175,211,3447,34...","12.7,a,Absent,41,98.800003051757812,U,6.12,Act...",F,0,WHITE,NEWBORN,PHYS REFERRAL/NORMAL DELI,0.174,0.877491
11,"63391,6391,63381,49390,4019","6601,743,5425","1528,825,813,1286,919,1530,1533,806,925,815,92...","S,1.2,30.899999618530273,550,13.3,NSP,23.2,GYN",F,40,BLACK/AFRICAN AMERICAN,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.1603,0.761694
12,"V502,V3001,V290",640,"3313,211,3685,3607,3333,3780,3745,834,3291,376...","Right Foot,48,42,4.59,247,156,81,100,5,Soft,No...",M,0,WHITE,NEWBORN,PHYS REFERRAL/NORMAL DELI,0.1893,0.374787
13,"V4581,4019,42823,33394,4240,486,4280,42731,272...",<NA>,"167,5817,159,807,5815,1536,27,300,674,599,617,...","99,97.599998474121094,91,55,ON,66,32,Right Sid...",F,93,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.2966,0.792942
14,"E8136,8300,41401,V4582,86415,80222,81322,2760,...","7932,7675,7692,3893,9672,966,7673,7902,3323","227688,224974,228229,220050,226107,225094,2252...","67,Sharp,20,374,-5 Unarousable, no response to...",F,61,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,7.0583,0.91831
15,"3051,34690,6824,71103,4019,72706,6826,V071,250...","3893,8083,8191,8033,9912,8073","223784,220739,228096,225106,224561,223985,2256...","Other,Good,127,Not specified,Brisk ,12.7,Orien...",M,45,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.9308,0.656473
16,"78559,1550,29630,5738,5712,5990,2851,07054,2875","9906,9904,9905,966,5419,9907,5462,3886","8368,325,8402,811,456,156,614,157,821,833,8549...","CPAP+PS,35,Bilious,1.1,Prob. Inadequate,36.599...",F,49,BLACK/AFRICAN AMERICAN,EMERGENCY,EMERGENCY ROOM ADMIT,9.576,0.394621
17,"41401,4019,25000,4111","3961,3612,3615","187,413,788,515,72,780,522,791,8400,8429,543,5...","Incent Spiromete,45,37.299999237060547,33%,4.9...",M,67,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,1.2472,0.961643
18,"5845,6826,4423,6822,51889,44421,3694,44422,V43...","9359,3949,4516,9904,4011,3893,8622,3803,3950","684,52,640,244,8448,83,1522,51,1286,424,8551,7...","1351.8900146484375,Mottled,Sharp,3.38461995124...",F,83,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,5.8071,0.658761
19,"3899,72252,53081,5859,73730,33818,V4582,2851,4...","8104,8163,8106,863,7859,8452,8105,8451,7779,39...","223989,223834,225137,227752,224769,223919,2275...","Circulation adequate,1.9,Non-productive,18,Rar...",M,68,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,2.643,0.599126
20,"5180,5191,99659,5990,25000,2859,74190,46411,51...","966,315,3321,3174,9915,9604","814,706,1337,357,1286,817,582,8401,1533,203,15...","1;3.3,1.5,417,23.299999237060547,91,Present,Se...",F,54,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,22.5927,0.07887
21,"2930,V707,99662,5990,E8706,9982,5609,5070,41401","3606,9672,3723,540,9607,3601,3931","200,548,585,138,428,829,434,722,338,116,477,16...","42.857101440429688,-1,Oriented x 2,35.29999923...",F,75,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,7.1069,0.834351
22,"4280,51884,27801,42731,42831,53081,311,42830,3...",<NA>,"220602,226228,223988,224168,225643,224876,2246...","9.6,Friend,97.2,Strong,100,Obeys Commands,PT,D...",F,64,BLACK/AFRICAN AMERICAN,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.0837,0.752791
23,"V1582,1962,2910,1514,34982,5180,496,32723,30390",437,"220635,224043,223796,227073,227946,227947,2237...","24,Occurence of assault,Family at bedside,Verb...",M,64,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,4.4068,0.901911
24,"1970,V1005,87342,E8889,3320,85200,486,1985,518...","9672,9604","327,362,345,6208,232,1536,220227,8554,8457,776...","135,134,Unresponsive,145,Right Radial,116,154,...",M,85,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,6.4742,0.475147

In [ ]:
query="""
CREATE OR REPLACE TABLE cdle-415809.CDLE.Dataset_SNull AS
SELECT
  DIAGNOSES,
  PROCEDURES,
  ITEMS,
  VALUES,
  GENDER,
  AGE,
  ETHNICITY,
  ADMISSION_TYPE,
  ADMISSION_LOCATION,
  LOS AS target,
  RAND() AS random
FROM
  cdle-415809.CDLE.Model_SNull;

"""

df = bpd.read_gbq(query,use_cache=False)

df

,DIAGNOSES,PROCEDURES,ITEMS,VALUES,GENDER,AGE,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,target,random
0,"5185,78551,486,4240,42731,5570,4280,5845,41031","966,13,8856,8611,3995,3723,8872,3895,3761,9962...","153,8477,158,115,8548,161,83,706,364,286,2,139...","Teeth/Tissue WNL,1792.530029296875,37.55559921...",M,63,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,23.2259,0.618855
1,"V053,V721,V3000,V290",9955,"3759,3447,3770,4200,3789,3412,4175,3761,3341,3...","52.7,d,75,314,31,43,1,sent,5.18,139,98,100.099...",F,0,WHITE,NEWBORN,PHYS REFERRAL/NORMAL DELI,0.4704,0.867513
2,"25000,V1046,3348,57450,4019,5761,53081","5188,9607,5185","470,425,1532,161,772,791,837,807,1536,428,1522...","98.900001525878906,131,Tachypneic,116,.6,61.66...",M,71,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,0.8584,0.875634
3,"00845,E8849,80122,4275,92231,30390,9130,86121,...","9607,966,3322,9960,9672,9462,3891,9604","327,1534,623,1337,171,198,641,158,190,169,596,...","1.9,62.5,Chest Xray,66,1:2.3,61,Bedrest,6 Obey...",M,47,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,13.9807,0.665134
4,"4280,5859,42822,5849,40390,1628,486,7821,2724,...","9671,966,9604","226138,224017,224004,224161,227457,224169,2200...","117,91,645,97.7,Suctioning,Oriented by RN,648,...",M,74,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,3.3104,0.928296
5,"19881,99591,19889,1983,2765,1974,2859,5672,1976","9904,4591,9239,5419,9359","82,506,806,8422,775,772,1533,550,235,796,167,6...","No/Other Remarks,66,Serous,Assist Control,104,...",F,43,WHITE,EMERGENCY,PHYS REFERRAL/NORMAL DELI,2.5804,0.388979
6,"V3000,V502,76526,7793,V053,V290,77081,76516","966,9915,9955,640","3568,3519,3791,3450,3293,3771,183,3456,3770,41...","14.434300422668457,134,Sleeping,36.40000152587...",M,0,BLACK/AFRICAN AMERICAN,NEWBORN,PHYS REFERRAL/NORMAL DELI,22.8554,0.338648
7,"V290,56089,77989,V3000",9915,"3742,3339,8532,3607,211,3513,3333,3768,3341,33...","Symmetrical,Done,36.299999237060547,125,Active...",M,0,ASIAN - ASIAN INDIAN,NEWBORN,PHYS REFERRAL/NORMAL DELI,0.193,0.967219
8,"4280,1120,00845,4439,412,41401,2449,1123,V4581...","14,9904,3893,9359,8872,3949,8622","733,807,660,242,211,31,467,491,813,512,773,413...","Contact,112,25.431999206542969,2654.8701171875...",F,82,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,3.9124,0.363179
9,"75016,7560,V053,7564,75522,75265,V3001,7793,V721","9543,9955","3568,3686,8532,3583,31,3627,834,3447,3540,3652...","62,27,48,Retractions,Cannula,98.40000152587890...",M,0,WHITE,NEWBORN,** INFO NOT AVAILABLE **,5.9878,0.440309
10,"41071,78552,28529,43850,34590,78003,99592,5070...",966,"224016,227073,220621,227121,226169,226707,2240...","Localizes,Provided comfort with lines and tube...",F,78,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,1.8995,0.795312
11,4373,3972,"1530,467,827,72,159,161,648,83,167,788,550,477...","2 mm,Sl. Limited,13.1,93,1.7,72,Invasive Lines...",F,61,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,2.0167,0.400332
12,"5070,51882,30550,E8502,53081,4019,3484,96500,E...","9604,9671,3893,9960","861,1162,1525,585,824,426,547,920,1483,1538,24...","2 Person Assist,150,0,117,Logroll x4assist,MED...",M,29,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.1153,0.746367
13,"42731,V1582,1409,25000,4400,4822,41401","4223,3605,3611,8855,3615,3722,3606,8872","684,813,387,833,8476,198,77,186,8401,229,604,7...","cs 205,Pt Verbalized,6.619999885559082,16,122,...",M,79,UNKNOWN/NOT SPECIFIED,ELECTIVE,PHYS REFERRAL/NORMAL DELI,9.8049,0.790135
14,"3051,4019,41401,4280,4111","3722,8853,8960,8856,3612,3961,3615","662,1047,776,236,585,1697,1484,829,94,8422,825...","Back,58.0281982421875,Serosanguinous,59,1.7,77...",M,57,ASIAN,EMERGENCY,EMERGENCY ROOM ADMIT,2.1399,0.145186
15,"2761,2763,2449,3310,4019,51881,99592,29410,507...","3893,3324,9671,9604","224904,223876,227678,224170,223874,227671,2240...","98,9,8.8,Aerosol-cool,Present,148,54,78,Family...",F,90,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,5.7694,0.11424
16,"29281,48241,570,2768,70700,78791,57512,70720,4...","3893,9960,9915,3324,527,9604,9672,966,9962,332...","227949,224832,224688,224028,227543,224023,2248...","2 Person Assist,4.5,320,1.7,1.16,7.15,Blanket,...",F,65,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,14.048,0.604995
17,"V1082,V1046,2449,1120,V153,4111,71695,V173,V43...","3615,3613,3961","224009,225664,224043,224639,226873,224026,2237...","58,Rarely Moist,128,Scant ,Asthma,78,6,None,We...",M,67,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,1.1366,0.251607
18,"2762,82101,2800,78009,E8160,83500,3051,80702,8...","7915,7865,7975,7815,9671,9904,7932","226544,226537,742,680,8390,582,1531,229,499,15...","11,88,104,No anxiety,696,Lip,Right Leg,7.4,Off...",M,47,HISPANIC OR LATINO,EMERGENCY,EMERGENCY ROOM ADMIT,2.6488,0.639604
19,"8670,2724,40290,E8796,4829,78720,2867,5990,287...","9604,3995,9671,8191,3895","223794,224372,227445,223781,223986,223985,2273...","+1 Anxious, apprehensive, but not aggressive,T...",M,81,BLACK/AFRICAN AMERICAN,EMERGENCY,CLINIC REFERRAL/PREMATURE,3.4635,0.407663
20,"7464,4412,4019,V433,V151","8872,3845,3961","122,1697,8375,806,642,8488,88,813,516,5813,848...","12.5,1:2.8,4.6511998176574707,49,29.8318996429...",M,48,UNKNOWN/NOT SPECIFIED,ELECTIVE,PHYS REFERRAL/NORMAL DELI,2.1747,0.195397
21,"2724,4019,41011,4299,41401,311,2761","9920,40,3722,3607,45,66,8856","225094,224650,226168,224023,227429,228299,2256...","20.7,Family Visited,23,117,65,72,105,Lifts and...",F,67,WHITE,URGENT,TRANSFER FROM HOSP/EXTRAM,1.3042,0.659655
22,"5119,E9331,1963,5849,4280,1982,5185,1985,1970,...","3897,8611,3891,3893,15","223920,224794,224085,223904,224639,223985,2246...","Chairfast,97.6,Compression sleeve,Normal stren...",M,71,WHITE,EMERGENCY,PHYS REFERRAL/NORMAL DELI,2.9581,0.297188
23,"5859,2449,V422,78039,25000,34830,44023,42823,2...","9604,966,9671","228137,224281,223679,224911,223911,224072,2251...","88,82,170,67.8,Positive,Plan of Care,273,Yello...",M,77,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,9.6739,0.185878
24,"5224,41401,6930,5990,4588,E9308,4241,99731,V12...","3722,9604,9672,8856,3615,3521,3961,3611,3893,2309","224879,223991,224958,226381,224089,224043,2261...","Spontaneously,MMV/PSV/AutoFlow,43,Undigested F...",F,73,OTHER,EMERGENCY,CLINIC REFERRAL/PREMATURE,8.949,0.167119

# Criação do modelo

In [ ]:
query="""
CREATE OR REPLACE MODEL CDLE.Linear_reg_SNull
OPTIONS(model_type='linear_reg', input_label_cols=['target']) AS
SELECT
  SPLIT(DIAGNOSES, ',') AS DIAGNOSES,
  SPLIT(PROCEDURES, ',') AS PROCEDURES,
  SPLIT(ITEMS, ',') AS ITEMS,
  SPLIT(VALUES, ',') AS VALUES,
  GENDER,
  AGE,
  ETHNICITY,
  ADMISSION_TYPE,
  ADMISSION_LOCATION,
  target
FROM
  CDLE.Dataset_SNull
WHERE
  random < 0.7;
"""

df = bpd.read_gbq(query,use_cache=False)

df

In [ ]:
query="""
CREATE OR REPLACE MODEL CDLE.Linear_reg
OPTIONS(model_type='linear_reg', input_label_cols=['target']) AS
SELECT
  SPLIT(DIAGNOSES, ',') AS DIAGNOSES,
  SPLIT(PROCEDURES, ',') AS PROCEDURES,
  SPLIT(ITEMS, ',') AS ITEMS,
  SPLIT(VALUES, ',') AS VALUES,
  GENDER,
  AGE,
  ETHNICITY,
  ADMISSION_TYPE,
  ADMISSION_LOCATION,
  target
FROM
  CDLE.Dataset
WHERE
  random < 0.7;
"""

df = bpd.read_gbq(query,use_cache=False)

df

Houve uma tentativa de criar os modelos aqui no notebook mas estavam a ocorrer erros, por isso foram feitas em consultas_sql para mitiar os erros e conseguimos criar o modelo

Com a tentativa de utilização do dataset, tanto com valores nulos como sem eles, foram obtidos resultados muito maus

dataset com nulos



![image.png]()

dataset sem nulos

![image.png]()

Como os modelos com todos os diagnosticos, procedimentos e items para cada paciente não estavam a dar bons resultados resolvemos fazer 2 datasets novos contendo apenas 3 e 5 valores diferentes para os diagnosticos, procedimentos e items

In [ ]:
query="""
select Distinct(SUBJECT_ID) from CDLE.patient_codes_diag where CODE_DIAG ="4019" or CODE_DIAG="41401" or CODE_DIAG="42731"

"""

df = bpd.read_gbq(query,use_cache=False)

df

    SUBJECT_ID
0        52247
1        20502
2        25144
3        69433
4         2187
5         2346
6        16460
7        66597
8         5670
9         6288
10       45521
11        5370
12       76923
13       52897
14       28346
15       29347
16        8956
17        3824
18       10007
19        5819
20        9324
21       14408
22       44902
23       85615
24        4548
...

[25039 rows x 1 columns]

Identificação dos diagnosticos com mais pacientes associados

In [ ]:
query="""

SELECT
  d.CODE_DIAG,
  COUNT(Distinct(p.HADM_ID)) AS Num_Pacientes
FROM
  `cdle-415809.CDLE.Data` AS p
JOIN
  `cdle-415809.CDLE.patient_codes_diag` AS d
ON
  p.SUBJECT_ID = cast(d.SUBJECT_ID as STRING)
GROUP BY
  d.CODE_DIAG
ORDER BY
  Num_Pacientes DESC
LIMIT 5;
"""

df = bpd.read_gbq(query,use_cache=False)
df

  CODE_DIAG  Num_Pacientes
0     41401          14829
1      5849          13117
2      4019          23778
3     42731          14435
4      4280          15600

[5 rows x 2 columns]

itens mais utilizados pelos pacientes com pelo menos 1 dos 3 e 5 diagnosticos mais frequentes

In [ ]:
query="""

WITH DiagnosticoPacientes AS (
  SELECT
    p.ITEMID,
    p.SUBJECT_ID
  FROM
    `cdle-415809.CDLE.Data` AS p
  JOIN
    `cdle-415809.CDLE.patient_codes_diag` AS d
  ON
    p.SUBJECT_ID = CAST(d.SUBJECT_ID AS STRING)
  WHERE
    d.CODE_DIAG IN ('4019', '41401', '4280')
),
ItemCount AS (
  SELECT
    ITEMID,
    COUNT(DISTINCT SUBJECT_ID) AS Num_Pacientes
  FROM
    DiagnosticoPacientes
  GROUP BY
    ITEMID
  ORDER BY
    Num_Pacientes DESC
  LIMIT 3
)
SELECT
  ITEMID,
  Num_Pacientes AS Total_Num_Pacientes
FROM
  ItemCount;


"""

df = bpd.read_gbq(query,use_cache=False)
df

  ITEMID  Total_Num_Pacientes
0    919                14980
1    212                14788
2    161                14780

[3 rows x 2 columns]

In [ ]:
query="""

WITH DiagnosticoPacientes AS (
  SELECT
    p.ITEMID,
    p.SUBJECT_ID
  FROM
    `cdle-415809.CDLE.Data` AS p
  JOIN
    `cdle-415809.CDLE.patient_codes_diag` AS d
  ON
    p.SUBJECT_ID = CAST(d.SUBJECT_ID AS STRING)
  WHERE
    d.CODE_DIAG IN ('4019', '41401', '4280','42731', '5849')
),
ItemCount AS (
  SELECT
    ITEMID,
    COUNT(DISTINCT SUBJECT_ID) AS Num_Pacientes
  FROM
    DiagnosticoPacientes
  GROUP BY
    ITEMID
  ORDER BY
    Num_Pacientes DESC
  LIMIT 5
)
SELECT
  ITEMID,
  Num_Pacientes AS Total_Num_Pacientes
FROM
  ItemCount;


"""

df = bpd.read_gbq(query,use_cache=False)
df

  ITEMID  Total_Num_Pacientes
0    432                16567
1    161                16573
2    919                16818
3    212                16582
4    829                16572

[5 rows x 2 columns]

In [ ]:
query="""

select * from CDLE.Itens where ITEMID in (919, 161,212,432,829)


"""

df = bpd.read_gbq(query,use_cache=False)
df

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,748,829,Potassium (3.5-5.3),<NA>,carevue,chartevents,Chemistry,<NA>,<NA>,<NA>
1,1152,919,Service,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
2,399,432,Level of Conscious,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
3,213,212,Heart Rhythm,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>
4,162,161,Ectopy Type,<NA>,carevue,chartevents,<NA>,<NA>,<NA>,<NA>

Criação da tabela com os 3 diagnosticos e 3 items mais frequentes

In [ ]:
query="""
CREATE OR REPLACE TABLE `cdle-415809.CDLE.result_tables` AS
WITH Diagnoses AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(d.ICD9_CODE AS STRING), ',') AS DIAGNOSES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.coddiagnos` AS d
  ON
    a.HADM_ID = CAST(d.HADM_ID AS STRING)
  WHERE
    d.ICD9_CODE IN ('4019', '41401', '4280')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),

Items AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG( CAST(a.ITEMID AS STRING), ',') AS ITEMS,
    STRING_AGG( CAST(a.VALUE AS STRING), ',') AS VALUES
  FROM
    `cdle-415809.CDLE.Data` AS a
  WHERE
    CAST(a.ITEMID AS STRING) IN ('919', '161', '212')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
)

SELECT
  d.SUBJECT_ID,
  d.HADM_ID,
  d.DIAGNOSES,
  i.ITEMS,
  i.VALUES
FROM
  Diagnoses d
LEFT JOIN
  Items i
ON
  CAST(d.HADM_ID AS STRING) = CAST(i.HADM_ID AS STRING);


"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,DIAGNOSES,ITEMS,VALUES
0,5606,121228,"41401,4019,4280","161,161,212,212,161,212,212,161,212,161,212,21...","PVC's,PVC's,Atrial Fib,Atrial Fib,PVC's,Atrial..."
1,16423,186792,4280,"161,212,161,161,161,161,212,161,212,212,212,91...","None,Sinus Tachy,None,None,None,None,Sinus Tac..."
2,6234,158177,4019,"161,161,161,161,212,161,161,161,212,161,212,21...","None,None,None,None,Normal Sinus,None,None,Non..."
3,73832,166993,4019,<NA>,<NA>
4,21990,146046,4280,<NA>,<NA>
5,9736,130626,4019,"161,212,161,161,161,212,212,161,161,212,212,21...","None,Atrial Flutter,None,None,PVC's,Atrial Flu..."
6,495,186199,4280,"212,161,212,212,161,212,161,212,161,161,212,21...","Normal Sinus,None,Normal Sinus,Normal Sinus,No..."
7,75938,183122,4019,<NA>,<NA>
8,91136,172178,4019,<NA>,<NA>
9,1593,126902,4019,"161,161,212,161,212,161,212,161,212,212,212,21...","None,None,Normal Sinus,None,Normal Sinus,None,..."
10,4935,166829,"41401,4280","161,161,212,161,212,161,212,161,161,212,212,16...","PAC's,None,A Paced,None,Normal Sinus,None,Norm..."
11,27335,110499,4019,"161,161,212,212,212,161,212,212,161,161,919,21...","None,None,Normal Sinus,Normal Sinus,Normal Sin..."
12,28378,120103,4019,"212,212,212,212,212,161,161,212,161,161,161,16...","Atrial Fib,Atrial Fib,Atrial Fib,Atrial Fib,At..."
13,26935,178349,"41401,4019","212,212,161,212,212,161,212,161,161,212,161,21...","A Paced,A Paced,PAC's,A Paced,A Paced,None,Nor..."
14,3718,171172,4019,"161,212,212,161,161,161,212,161,212,161,161,16...","None,Normal Sinus,Normal Sinus,None,None,None,..."
15,1890,155480,4280,"161,161,161,212,161,161,161,161,161,212,212,16...","PVC's,PVC's,PVC's,A Paced,PVC's,PVC's,PVC's,PV..."
16,52592,115663,4019,<NA>,<NA>
17,60403,153507,"41401,4019",<NA>,<NA>
18,99554,173030,"4019,41401",<NA>,<NA>
19,72197,130412,4019,<NA>,<NA>
20,29035,169994,4280,<NA>,<NA>
21,22096,110582,"4019,41401","161,161,212,161,212,161,161,212,212,212,212,21...","None,None,Normal Sinus,None,Normal Sinus,None,..."
22,9889,193825,4280,"212,212,161,212,212,161,161,161,212,161,161,21...","Normal Sinus,Normal Sinus,None,Normal Sinus,No..."
23,31239,121924,4019,"161,161,212,161,212,212,212,161,212,161,161,21...","None,None,Sinus Brady,None,Sinus Brady,Sinus B..."
24,22421,173894,4019,"161,212,161,161,161,212,212,161,161,212,212,16...","None,Normal Sinus,None,None,None,Normal Sinus,..."

Criação de uma tabela semelhante mas com os 5 diagnosticos e items

In [ ]:
query="""
CREATE OR REPLACE TABLE `cdle-415809.CDLE.result_tables2` AS
WITH Diagnoses AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(d.ICD9_CODE AS STRING), ',') AS DIAGNOSES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.coddiagnos` AS d
  ON
    a.HADM_ID = CAST(d.HADM_ID AS STRING)
  WHERE
    d.ICD9_CODE IN ('4019', '41401', '4280','42731', '5849')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),

Items AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG( CAST(a.ITEMID AS STRING), ',') AS ITEMS,
    STRING_AGG( CAST(a.VALUE AS STRING), ',') AS VALUES
  FROM
    `cdle-415809.CDLE.Data` AS a
  WHERE
    CAST(a.ITEMID AS STRING) IN ('919', '161', '212','432','829')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
)

SELECT
  d.SUBJECT_ID,
  d.HADM_ID,
  d.DIAGNOSES,
  i.ITEMS,
  i.VALUES
FROM
  Diagnoses d
LEFT JOIN
  Items i
ON
  CAST(d.HADM_ID AS STRING) = CAST(i.HADM_ID AS STRING);


"""

df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,DIAGNOSES,ITEMS,VALUES
0,27619,187945,4019,"829,919,829","4.1,TSU,4.1"
1,98281,117684,"4019,41401",<NA>,<NA>
2,1639,176027,"41401,4019","161,161,432,432,212,212,212,161,432,432,829,16...","None,None,Confused,Dozing Intermit,Sinus Tachy..."
3,21990,146046,4280,<NA>,<NA>
4,74002,155504,"42731,4280",<NA>,<NA>
5,10612,112958,"4280,5849","212,212,212,212,161,212,212,161,212,161,161,16...","Sinus Brady,2nd AVB/Mobitz I,2nd AVB/Mobitz I,..."
6,60733,143438,"42731,41401",<NA>,<NA>
7,75938,183122,4019,<NA>,<NA>
8,91136,172178,4019,<NA>,<NA>
9,27970,145895,4280,"212,161,432,161,212,161,212,212,161,212,161,16...","AV Paced,None,Alert,None,AV Paced,None,AV Pace..."
10,25725,179209,"4280,42731","161,161,161,161,161,212,212,161,161,432,161,21...","None,None,None,None,None,Normal Sinus,Normal S..."
11,2263,164035,"4019,41401","212,161,161,212,829,212,212,212,212,212,161,43...","Normal Sinus,None,None,Normal Sinus,3.1,Normal..."
12,50762,194353,"4019,42731,4280,5849",<NA>,<NA>
13,30604,141024,"4019,42731","212,212,212,161,161,161,212,161,212,212,161,21...","Normal Sinus,Normal Sinus,Normal Sinus,None,No..."
14,14891,195340,"4019,41401","212,212,212,212,212,212,161,212,161,161,212,82...","Sinus Tachy,Normal Sinus,Sinus Tachy,Normal Si..."
15,11466,159610,"41401,4019","212,161,212,161,212,161,212,161,161,919,212,21...","Normal Sinus,PVC's,Normal Sinus,PVC's,Normal S..."
16,31284,142084,4019,"432,212,212,212,161,161,212,432,212,432,161,21...","Arouse to Voice,Normal Sinus,Normal Sinus,Norm..."
17,28562,177344,"4019,4280","212,161,212,161,212,161,161,212,161,829,161,16...","Sinus Brady,None,Junctional,PAC's,Normal Sinus..."
18,16249,164809,41401,"161,212,829,161,432,432,212,161,212,212,161,21...","None,Normal Sinus,3.9,None,Alert,Alert,Normal ..."
19,72197,130412,4019,<NA>,<NA>
20,11710,177094,"42731,4019","161,161,161,212,212,829,212,212,161,432,161,16...","None,None,None,Sinus Tachy,Normal Sinus,4.2,Si..."
21,71349,102891,"4280,42731,41401",<NA>,<NA>
22,85363,106556,"41401,4019",<NA>,<NA>
23,26390,118066,4280,"161,161,212,212,161,432,161,161,212,212,161,21...","None,None,Normal Sinus,Sinus Tachy,None,Sedate..."
24,29436,178339,"4280,5849,4019",<NA>,<NA>

Identificação dos procedimentos mais frequentes para os pacientes com os 3 e 5 diagnosticos mais frequentes

In [ ]:
query="""

WITH DiagnosticoPacientes AS (
  SELECT
    p.SUBJECT_ID,
    p.HADM_ID
  FROM
    `cdle-415809.CDLE.result_tables` AS p
  JOIN
    `cdle-415809.CDLE.patient_codes_diag` AS d
  ON
    p.SUBJECT_ID = CAST(d.SUBJECT_ID AS STRING)
  WHERE
    d.CODE_DIAG IN ('4019', '41401', '4280')
)

SELECT
  proc.CODE_PROC,
  COUNT(DISTINCT dp.HADM_ID) AS Num_Pacientes
FROM
  DiagnosticoPacientes AS dp
JOIN
  `cdle-415809.CDLE.patient_codes_proc` AS proc
ON
  dp.SUBJECT_ID = CAST(proc.SUBJECT_ID AS STRING)
GROUP BY
  proc.CODE_PROC
ORDER BY
  Num_Pacientes DESC
LIMIT 5;

"""

df = bpd.read_gbq(query,use_cache=False)
df

   CODE_PROC  Num_Pacientes
0       9671           7059
1       9604           7787
2       3961           7375
3       9904           6469
4       3893          10870

[5 rows x 2 columns]

In [ ]:
query="""

WITH DiagnosticoPacientes AS (
  SELECT
    p.SUBJECT_ID,
    p.HADM_ID
  FROM
    `cdle-415809.CDLE.result_tables2` AS p
  JOIN
    `cdle-415809.CDLE.patient_codes_diag` AS d
  ON
    p.SUBJECT_ID = CAST(d.SUBJECT_ID AS STRING)
  WHERE
    d.CODE_DIAG IN ('4019', '41401', '4280','42731', '5849')
)

SELECT
  proc.CODE_PROC,
  COUNT(DISTINCT dp.HADM_ID) AS Num_Pacientes
FROM
  DiagnosticoPacientes AS dp
JOIN
  `cdle-415809.CDLE.patient_codes_proc` AS proc
ON
  dp.SUBJECT_ID = CAST(proc.SUBJECT_ID AS STRING)
GROUP BY
  proc.CODE_PROC
ORDER BY
  Num_Pacientes DESC
LIMIT 5;

"""

df = bpd.read_gbq(query,use_cache=False)
df

   CODE_PROC  Num_Pacientes
0       3893          13247
1       9671           8285
2       9604           9377
3       3961           7796
4        966           7887

[5 rows x 2 columns]

Criação das tabelas mas agr com os 3 e 5 diagnosticos, procedimentos e items mais frequentes

In [ ]:
query="""
CREATE OR REPLACE TABLE `cdle-415809.CDLE.result_tables` AS
WITH Diagnoses AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(d.ICD9_CODE AS STRING), ',') AS DIAGNOSES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.coddiagnos` AS d
  ON
    a.HADM_ID = CAST(d.HADM_ID AS STRING)
  WHERE
    d.ICD9_CODE IN ('4019', '41401', '4280')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),

Items AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG( CAST(a.ITEMID AS STRING), ',') AS ITEMS,
    STRING_AGG( CAST(a.VALUE AS STRING), ',') AS VALUES
  FROM
    `cdle-415809.CDLE.Data` AS a
  WHERE
    CAST(a.ITEMID AS STRING) IN ('919', '161', '212')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),

Procedures AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(p.ICD9_CODE AS STRING), ',') AS PROCEDURES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.codproce` AS p
  ON
    a.HADM_ID = CAST(p.HADM_ID AS STRING)
  WHERE
    CAST(p.ICD9_CODE AS STRING) IN ('3893', '9604', '3961')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
)

SELECT
  d.SUBJECT_ID,
  d.HADM_ID,
  d.DIAGNOSES,
  i.ITEMS,
  i.VALUES,
  p.PROCEDURES
FROM
  Diagnoses d
LEFT JOIN
  Items i
ON
  CAST(d.HADM_ID AS STRING) = CAST(i.HADM_ID AS STRING)
LEFT JOIN
  Procedures p
ON
  CAST(d.HADM_ID AS STRING) = CAST(p.HADM_ID AS STRING);


"""


df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,DIAGNOSES,ITEMS,VALUES,PROCEDURES
0,27665,186634,4280,"161,161,212,161,212,161,161,161,161,161,212,21...","None,None,Normal Sinus,None,Normal Sinus,None,...",3893
1,44539,105487,4019,<NA>,<NA>,<NA>
2,22639,140256,"4019,41401","212,212,212,212,212,161,161,161,212,212,161,16...","Normal Sinus,Normal Sinus,Normal Sinus,Normal ...",3961
3,64655,116224,4019,<NA>,<NA>,9604
4,17778,147225,4280,"161,212,212,212,212,161,161,212,212,161,212,16...","PVC's,Normal Sinus,Normal Sinus,Normal Sinus,N...","3893,9604"
5,902,137798,4280,"161,212,161,212,212,161,212,212,212,212,212,16...","None,Sinus Tachy,None,Sinus Tachy,Normal Sinus...",3893
6,41724,131406,4019,<NA>,<NA>,<NA>
7,91563,155738,4280,<NA>,<NA>,<NA>
8,29035,124081,4019,<NA>,<NA>,<NA>
9,11449,126033,"41401,4280","212,161,161,161,161,212,161,161,161,212,212,21...","Normal Sinus,None,None,None,None,Normal Sinus,...",<NA>
10,51226,105929,"41401,4280",<NA>,<NA>,<NA>
11,22637,166874,"41401,4019,4280","212,212,161,161,212,161,161,212,212,212,212,16...","Normal Sinus,Normal Sinus,PVC's,None,Sinus Tac...",<NA>
12,1478,158399,"4019,41401","161,212,161,161,212,161,161,161,161,161,161,21...","None,Normal Sinus,None,None,Normal Sinus,None,...",<NA>
13,4587,167141,4280,"212,212,212,161,161,161,161,161,212,212,212,16...","1st Deg AV Block,Atrial Fib,Atrial Fib,None,No...",9604
14,5121,108353,"4019,41401","212,161,212,161,212,161,161,212,161,212,212,21...","Normal Sinus,PAC's,Normal Sinus,PAC's,Normal S...",<NA>
15,25671,184923,4019,"161,212,161,161,161,212,212,161,212,161,212,21...","None,Sinus Tachy,None,None,None,Normal Sinus,N...",<NA>
16,94530,169198,4280,<NA>,<NA>,3893
17,49068,105351,4280,<NA>,<NA>,9604
18,29129,193390,"41401,4280","161,212,212,161,161,212,161,161,161,161,212,21...","PVC's,Atrial Fib,Atrial Fib,PVC's,PVC's,Atrial...","9604,3893"
19,21573,150676,41401,"161,212,161,212,161,161,161,212,161,161,161,21...","None,Normal Sinus,None,Normal Sinus,None,None,...",<NA>
20,21503,104981,4019,"212,212,161,212,212,161,212,161,161,212,161,16...","Normal Sinus,Normal Sinus,None,Sinus Tachy,Nor...",<NA>
21,42437,173199,"4280,4019",<NA>,<NA>,3893
22,73811,140572,"4280,41401",<NA>,<NA>,<NA>
23,43529,194815,"4280,41401",<NA>,<NA>,<NA>
24,75083,119635,"4280,41401,4019",<NA>,<NA>,<NA>

In [ ]:
query="""
CREATE OR REPLACE TABLE `cdle-415809.CDLE.result_tables2` AS
WITH Diagnoses AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(d.ICD9_CODE AS STRING), ',') AS DIAGNOSES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.coddiagnos` AS d
  ON
    a.HADM_ID = CAST(d.HADM_ID AS STRING)
  WHERE
    d.ICD9_CODE IN ('4019', '41401', '4280','42731', '5849')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),

Items AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG( CAST(a.ITEMID AS STRING), ',') AS ITEMS,
    STRING_AGG( CAST(a.VALUE AS STRING), ',') AS VALUES
  FROM
    `cdle-415809.CDLE.Data` AS a
  WHERE
    CAST(a.ITEMID AS STRING) IN ('919', '161', '212','432','829')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
),

Procedures AS (
  SELECT
    a.SUBJECT_ID,
    a.HADM_ID,
    STRING_AGG(DISTINCT CAST(p.ICD9_CODE AS STRING), ',') AS PROCEDURES
  FROM
    `cdle-415809.CDLE.Data` AS a
  JOIN
    `cdle-415809.CDLE.codproce` AS p
  ON
    a.HADM_ID = CAST(p.HADM_ID AS STRING)
  WHERE
    CAST(p.ICD9_CODE AS STRING) IN ('3893', '9604', '3961','9671','966')
  GROUP BY
    a.SUBJECT_ID, a.HADM_ID
)

SELECT
  d.SUBJECT_ID,
  d.HADM_ID,
  d.DIAGNOSES,
  i.ITEMS,
  i.VALUES,
  p.PROCEDURES
FROM
  Diagnoses d
LEFT JOIN
  Items i
ON
  CAST(d.HADM_ID AS STRING) = CAST(i.HADM_ID AS STRING)
LEFT JOIN
  Procedures p
ON
  CAST(d.HADM_ID AS STRING) = CAST(p.HADM_ID AS STRING);


"""


df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,DIAGNOSES,ITEMS,VALUES,PROCEDURES
0,9064,165690,"42731,4280","161,212,161,161,161,919,212,212,212,212,212,21...","None,Atrial Fib,None,None,PVC's,VSU,Atrial Fib...",3893
1,14977,188511,4280,"432,161,161,212,829,212,161,161,212,161,212,21...","Dozing Intermit,None,None,Normal Sinus,4.6,Nor...",3961
2,30662,105899,"42731,41401","212,161,212,212,212,161,212,212,212,161,161,16...","Normal Sinus,PAC's,Normal Sinus,Normal Sinus,A...",3961
3,2879,111390,42731,"212,919,829,161,212,212,212,432,829,212,161,16...","Normal Sinus,CSU,5.1,None,Normal Sinus,Normal ...",3961
4,32367,116509,"4019,41401","161,212,432,432,212,432,161,161,212,432,212,21...","PAC's,Normal Sinus,Alert,Arouse to Voice,Norma...",<NA>
5,41724,131406,4019,<NA>,<NA>,<NA>
6,29035,124081,4019,<NA>,<NA>,<NA>
7,15157,156695,"41401,4280,42731,4019","161,161,212,161,161,432,212,161,212,432,432,16...","PVC's,PVC's,Normal Sinus,None,None,Alert,Norma...",<NA>
8,14060,171645,"5849,4019","161,829,432,432,432,212,432,212,161,161,432,21...","None,3.4,Arouse to Stimul,Paralytic Med,Sedate...","3893,9604"
9,9072,129562,4019,"212,432,161,161,161,432,161,161,212,161,212,16...","Normal Sinus,Arouse to Stimul,None,None,None,A...",<NA>
10,24133,174049,"4019,42731,4280","161,212,161,212,212,212,161,919,212,161,161,16...","None,AV Paced,None,AV Paced,A Paced,Normal Sin...",3961
11,66631,138094,42731,<NA>,<NA>,<NA>
12,53012,154973,"41401,4280",<NA>,<NA>,<NA>
13,29470,161564,"5849,42731",<NA>,<NA>,966
14,64361,122095,"42731,4019",<NA>,<NA>,966
15,2406,161120,4019,"432,161,432,212,161,212,161,432,212,432,161,21...","Alert,None,Alert,Normal Sinus,None,Normal Sinu...",<NA>
16,13359,159975,"4019,41401","161,161,212,212,432,161,161,432,432,212,161,21...","PVC's,PVC's,Normal Sinus,Normal Sinus,Alert,No...",3961
17,68242,174308,"42731,4019",<NA>,<NA>,"3961,966,3893"
18,55328,132274,"4019,4280,5849",<NA>,<NA>,3893
19,32513,138704,4019,"161,161,212,212,212,161,212,212,161,161,161,21...","None,None,Normal Sinus,Sinus Tachy,Normal Sinu...","3893,9671"
20,10461,197845,"4280,4019","161,212,212,212,161,212,212,161,161,432,212,16...","None,Normal Sinus,Normal Sinus,Normal Sinus,No...",<NA>
21,15329,116559,"5849,4019","212,161,161,161,212,432,212,161,161,212,212,21...","Sinus Tachy,None,None,None,Normal Sinus,Arouse...",<NA>
22,12117,168757,"42731,4019","161,161,432,161,212,161,161,432,829,212,829,21...","None,None,Alert,None,Atrial Fib,None,None,Leth...",3961
23,13518,132539,4019,"212,212,161,161,919,212,212,212,212,161,212,16...","A Paced,Normal Sinus,None,None,CSU,A Paced,Nor...",3961
24,28185,139675,4019,"212,432,161,161,432,212,161,161,212,432,432,21...","Normal Sinus,Arouse to Pain,None,None,Arouse t...","966,3893"

Criação das tabelas para serem utilizadas pelos modelos

In [ ]:
query = """

CREATE OR REPLACE TABLE cdle-415809.CDLE.Model2 AS
SELECT
  SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
FROM
  cdle-415809.CDLE.result_tables

"""
df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
0,44539,105487,4019,<NA>,<NA>,<NA>
1,41724,131406,4019,<NA>,<NA>,<NA>
2,91563,155738,4280,<NA>,<NA>,<NA>
3,46960,153896,4019,"3893,3961",<NA>,<NA>
4,29035,124081,4019,<NA>,<NA>,<NA>
5,51226,105929,"41401,4280",<NA>,<NA>,<NA>
6,6378,122006,4280,3893,"212,161,161,161,161,161,212,212,212,161,161,16...","Normal Sinus,None,None,None,None,None,Normal S..."
7,17149,142072,"4280,41401",<NA>,"161,212,212,212,212,161,212,161,212,161,212,21...","PVC's,Normal Sinus,Normal Sinus,Normal Sinus,S..."
8,84842,175601,4019,9604,<NA>,<NA>
9,32225,139616,4019,<NA>,"161,919,161,161,161,161,212,212,161,161,212,21...","None,CME,None,None,None,None,V Paced,V Paced,N..."
10,96785,161844,4019,9604,<NA>,<NA>
11,16301,101057,"4280,4019","3893,9604","161,212,212,212,212,161,212,161,161,161,212,21...","None,Normal Sinus,Normal Sinus,Normal Sinus,No..."
12,15343,116861,41401,<NA>,"212,161,161,919,161,161,212,161,212,212,161,16...","Normal Sinus,None,PVC's,CME,PVC's,PVC's,Normal..."
13,16300,148753,"41401,4019",3961,"212,212,161,161,161,161,212,212,161,212,212,21...","Normal Sinus,Normal Sinus,Vent. Bigeminy,PVC's..."
14,46246,160593,4280,"9604,3893",<NA>,<NA>
15,5731,129672,4019,9604,"161,161,161,212,212,212,161,212,161,212,161,16...","None,None,None,Normal Sinus,Normal Sinus,Norma..."
16,19080,139562,4280,"9604,3893","161,212,161,161,212,212,161,212,212,212,212,21...","None,Normal Sinus,None,None,Normal Sinus,Atria..."
17,31226,167178,"41401,4019",<NA>,"161,212,212,161,161,212,161,212,212,212,161,21...","None,Normal Sinus,Sinus Brady,None,None,Normal..."
18,73811,140572,"4280,41401",<NA>,<NA>,<NA>
19,43529,194815,"4280,41401",<NA>,<NA>,<NA>
20,75083,119635,"4280,41401,4019",<NA>,<NA>,<NA>
21,22176,131977,4280,<NA>,"212,161,212,161,212,161,212,161,161,212,212,21...","Sinus Tachy,None,Sinus Tachy,None,Sinus Tachy,..."
22,782,125662,"4019,41401","3893,3961","161,212,212,161,212,161,161,161,212,161,161,16...","None,A Paced,Normal Sinus,None,Normal Sinus,No..."
23,32237,102644,"4019,41401",3961,"161,212,212,212,212,161,161,161,161,212,161,16...","None,Normal Sinus,Sinus Tachy,Normal Sinus,Sin..."
24,29219,128173,4019,9604,"212,212,161,161,161,161,161,212,161,212,161,21...","Normal Sinus,Normal Sinus,None,None,None,None,..."

In [ ]:
query = """

CREATE OR REPLACE TABLE cdle-415809.CDLE.Model3 AS
SELECT
  SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
FROM
  cdle-415809.CDLE.result_tables2

"""
df = bpd.read_gbq(query,use_cache=False)
df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES
0,10207,118574,"5849,4019","966,9671","161,432,432,161,161,432,212,212,212,212,212,21...","None,Lethargic,Lethargic,None,None,Lethargic,N..."
1,2332,134935,"5849,42731","3893,9604","432,161,161,161,161,212,212,212,161,161,161,16...","Arouse to Pain,None,PAC's,None,None,Atrial Fib..."
2,13123,135204,"42731,5849,4280","9604,9671",<NA>,<NA>
3,29019,183832,4019,<NA>,"161,212,212,212,161,161,161,161,212,161,432,16...","None,Sinus Brady,Sinus Brady,Sinus Brady,None,..."
4,41724,131406,4019,<NA>,<NA>,<NA>
5,24258,103498,41401,<NA>,"161,432,212,432,161,161,212,212,212,212,161,21...","None,Alert,Normal Sinus,Alert,PVC's,PVC's,Norm..."
6,29035,124081,4019,<NA>,<NA>,<NA>
7,56930,109803,"41401,4019",3961,<NA>,<NA>
8,5331,142049,"41401,42731,4019",3961,"161,212,432,212,161,432,829,161,212,212,212,82...","PAC's,Atrial Fib,Alert,Atrial Fib,None,Sleepin..."
9,26042,125867,5849,<NA>,"212,161,161,161,432,161,919,161,161,212,161,21...","Normal Sinus,None,None,None,Confused,None,MED,..."
10,56478,171250,"42731,5849,4280",3893,<NA>,<NA>
11,66631,138094,42731,<NA>,<NA>,<NA>
12,53012,154973,"41401,4280",<NA>,<NA>,<NA>
13,6539,163591,"4019,5849,42731,4280","3893,9604,966","212,161,212,161,161,212,212,161,212,212,161,16...","Atrial Fib,None,Sinus Tachy,PAC's,PVC's,Atrial..."
14,5319,162749,4019,3893,"161,432,161,161,212,212,161,212,161,161,212,21...","None,Alert,None,None,Normal Sinus,Normal Sinus..."
15,12942,125177,4019,<NA>,"161,161,212,212,212,432,212,212,161,432,212,16...","None,None,Sinus Brady,Normal Sinus,Sinus Brady..."
16,1236,139338,42731,<NA>,"161,212,161,161,212,212,161,161,161,212,432,21...","PAC's,Normal Sinus,PAC's,None,Sinus Tachy,Norm..."
17,2859,115225,"4019,41401",3961,"432,212,161,161,161,161,212,161,212,919,161,82...","Alert,Normal Sinus,None,None,None,None,Normal ..."
18,16053,113453,4280,<NA>,"829,829","4.1,4.2"
19,18802,192204,"4280,4019,42731",<NA>,"161,161,432,432,161,161,161,212,212,212,161,16...","PVC's,PVC's,Sleeping,Alert,PVC's,None,PVC's,At..."
20,7477,185666,"4280,4019,42731",<NA>,"161,212,161,161,432,212,212,212,161,161,161,21...","None,Normal Sinus,None,None,Alert,Normal Sinus..."
21,24154,134072,4019,"9604,9671","161,212,432,212,161,432,161,212,161,161,161,16...","None,Normal Sinus,Arouse to Voice,Normal Sinus..."
22,97441,154392,"4280,4019",<NA>,<NA>,<NA>
23,27427,110578,"4280,5849,42731",966,"212,212,212,212,161,212,161,212,161,212,212,16...","Atrial Fib,Sinus Tachy,Atrial Fib,Atrial Fib,N..."
24,13259,159675,"41401,4280,4019",3893,"212,161,432,161,161,161,212,161,212,161,212,16...","Normal Sinus,PVC's,Alert,None,None,None,Normal..."

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Model2 ADD COLUMN GENDER STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model2 ADD COLUMN AGE INT64
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model2 ADD COLUMN ETHNICITY STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model2 ADD COLUMN ADMISSION_TYPE STRING
"""
df = bpd.read_gbq(query,use_cache=False)


query="""

ALTER TABLE cdle-415809.CDLE.Model2 ADD COLUMN ADMISSION_LOCATION STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model2 ADD COLUMN LOS FLOAT64
"""
df = bpd.read_gbq(query,use_cache=False)

In [ ]:
query="""

ALTER TABLE cdle-415809.CDLE.Model3 ADD COLUMN GENDER STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model3 ADD COLUMN AGE INT64
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model3 ADD COLUMN ETHNICITY STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model3 ADD COLUMN ADMISSION_TYPE STRING
"""
df = bpd.read_gbq(query,use_cache=False)


query="""

ALTER TABLE cdle-415809.CDLE.Model3 ADD COLUMN ADMISSION_LOCATION STRING
"""
df = bpd.read_gbq(query,use_cache=False)

query="""

ALTER TABLE cdle-415809.CDLE.Model3 ADD COLUMN LOS FLOAT64
"""
df = bpd.read_gbq(query,use_cache=False)

In [ ]:
query ="""

UPDATE cdle-415809.CDLE.Model2 AS t1
SET
    t1.GENDER = t2.GENDER,
    t1.AGE = t2.AGEs,
    t1.ETHNICITY = t2.ETHNICITY,
    t1.ADMISSION_TYPE = t2.ADMISSION_TYPE,
    t1.ADMISSION_LOCATION = t2.ADML,
    t1.LOS = t2.LOS
FROM (
    SELECT
        t2.SUBJECT_ID,
        t2.HADM_ID,
        t2.GENDER,
        t2.AGEs,
        t2.ETHNICITY,
        t2.ADMISSION_TYPE,
        t2.ADML,
        t2.LOS,
        ROW_NUMBER() OVER (PARTITION BY t2.SUBJECT_ID, t2.HADM_ID ORDER BY t2.HADM_ID) AS row_num
    FROM
        cdle-415809.CDLE.Data AS t2
) AS t2
WHERE
    t1.SUBJECT_ID = CAST(t2.SUBJECT_ID AS STRING)
    AND t1.HADM_ID = CAST(t2.HADM_ID AS STRING)
    AND t2.row_num = 1;


"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES,GENDER,AGE,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,LOS
0,24761,175628,41401,3961,"212,161,212,212,212,161,212,161,161,161,212,21...","Sinus Brady,PVC's,Normal Sinus,Normal Sinus,No...",M,49,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,6.575
1,19286,195185,"4019,41401",3961,"161,212,161,212,161,212,161,212,161,212,161,16...","None,Normal Sinus,None,Sinus Tachy,None,Normal...",M,59,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.6317
2,50636,194847,"41401,4019,4280",3893,<NA>,<NA>,F,72,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,6.6116
3,96838,126405,4019,<NA>,<NA>,<NA>,M,71,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.5677
4,50991,178779,"4019,4280",3893,<NA>,<NA>,M,77,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,0.7718
5,70226,114222,4019,9604,<NA>,<NA>,F,79,BLACK/AFRICAN AMERICAN,EMERGENCY,CLINIC REFERRAL/PREMATURE,12.322
6,58700,109471,4019,<NA>,<NA>,<NA>,M,56,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.4195
7,9673,163732,4019,<NA>,"212,212,161,212,161,212,161,161,161,161,212,16...","Sinus Brady,Normal Sinus,None,Sinus Brady,None...",M,67,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,2.2977
8,83310,166410,4019,"9604,3893",<NA>,<NA>,M,56,BLACK/AFRICAN AMERICAN,EMERGENCY,PHYS REFERRAL/NORMAL DELI,11.9648
9,97206,110487,"41401,4280",<NA>,<NA>,<NA>,M,90,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.6136
10,3733,141771,4019,<NA>,"161,161,919,212,161,212,161,161,212,161,161,21...","None,None,NME,Normal Sinus,None,Normal Sinus,N...",M,76,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,0.9512
11,31968,127882,4019,<NA>,"161,161,212,212,161,212,212,212,919,161,161,16...","None,None,AV Paced,AV Paced,None,AV Paced,AV P...",F,81,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,4.1909
12,12241,123417,"4019,41401,4280",3961,"161,161,212,212,161,212,161,161,161,161,161,16...","None,None,Normal Sinus,Normal Sinus,PVC's,Norm...",M,77,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,2.9997
13,98336,186728,"4280,4019,41401",<NA>,<NA>,<NA>,F,60,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,0.8714
14,26470,159207,"41401,4019",3961,"212,161,161,212,161,212,212,161,161,212,212,21...","Normal Sinus,None,None,Normal Sinus,None,Norma...",M,69,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,3.2493
15,22521,143944,41401,3961,"212,161,161,212,212,161,212,212,161,161,161,21...","Normal Sinus,None,None,Normal Sinus,Normal Sin...",F,56,WHITE,URGENT,TRANSFER FROM HOSP/EXTRAM,1.9972
16,22936,117912,"4019,41401",3961,"161,161,212,161,212,212,161,161,161,161,161,21...","None,None,Normal Sinus,None,Normal Sinus,Norma...",M,69,UNKNOWN/NOT SPECIFIED,ELECTIVE,PHYS REFERRAL/NORMAL DELI,0.925
17,69233,111857,"41401,4019",<NA>,<NA>,<NA>,M,65,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.7998
18,53081,170721,"4280,4019",<NA>,<NA>,<NA>,M,69,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.0019
19,955,185674,"4019,41401",<NA>,"212,212,161,212,212,161,212,161,212,161,212,21...","Normal Sinus,Normal Sinus,PAC's,Normal Sinus,N...",M,74,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,0.6777
20,90521,195402,"4019,4280",<NA>,<NA>,<NA>,F,85,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,4.1674
21,97178,101679,"41401,4019",<NA>,<NA>,<NA>,M,61,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.7648
22,8912,122860,"4280,41401",3961,"161,212,161,212,212,161,161,161,212,161,161,16...","None,Normal Sinus,None,Normal Sinus,Normal Sin...",F,59,UNKNOWN/NOT SPECIFIED,EMERGENCY,EMERGENCY ROOM ADMIT,1.0715
23,28291,172712,"41401,4280,4019",<NA>,"161,212,212,161,161,212,161,161,212,161,161,16...","PVC's,Normal Sinus,Normal Sinus,None,None,Norm...",F,86,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,0.7473
24,13523,169847,4019,<NA>,"161,161,212,161,161,161,161,161,212,212,161,16...","None,None,Normal Sinus,None,None,None,None,Non...",F,76,WHITE,EMERGENCY,PHYS REFERRAL/NORMAL DELI,3.244

In [ ]:
query ="""

UPDATE cdle-415809.CDLE.Model3 AS t1
SET
    t1.GENDER = t2.GENDER,
    t1.AGE = t2.AGEs,
    t1.ETHNICITY = t2.ETHNICITY,
    t1.ADMISSION_TYPE = t2.ADMISSION_TYPE,
    t1.ADMISSION_LOCATION = t2.ADML,
    t1.LOS = t2.LOS
FROM (
    SELECT
        t2.SUBJECT_ID,
        t2.HADM_ID,
        t2.GENDER,
        t2.AGEs,
        t2.ETHNICITY,
        t2.ADMISSION_TYPE,
        t2.ADML,
        t2.LOS,
        ROW_NUMBER() OVER (PARTITION BY t2.SUBJECT_ID, t2.HADM_ID ORDER BY t2.HADM_ID) AS row_num
    FROM
        cdle-415809.CDLE.Data AS t2
) AS t2
WHERE
    t1.SUBJECT_ID = CAST(t2.SUBJECT_ID AS STRING)
    AND t1.HADM_ID = CAST(t2.HADM_ID AS STRING)
    AND t2.row_num = 1;


"""
df = bpd.read_gbq(query,use_cache=False)

df

,SUBJECT_ID,HADM_ID,DIAGNOSES,PROCEDURES,ITEMS,VALUES,GENDER,AGE,ETHNICITY,ADMISSION_TYPE,ADMISSION_LOCATION,LOS
0,9412,114483,"4019,5849,4280",<NA>,"212,161,212,212,161,919,212,212,161,432,161,21...","Sinus Brady,PVC's,Normal Sinus,Normal Sinus,No...",M,65,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.1052
1,40644,118853,"5849,41401","3893,9671,9604",<NA>,<NA>,F,69,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.6443
2,96838,126405,4019,<NA>,<NA>,<NA>,M,71,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.5677
3,8512,162973,5849,<NA>,"161,212,432,161,161,161,212,161,161,161,161,16...","None,Normal Sinus,Alert,None,None,None,Normal ...",M,60,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.893
4,23783,138311,4019,<NA>,"161,212,432,161,161,212,212,161,432,212,161,21...","None,Normal Sinus,Alert,None,None,Sinus Brady,...",M,72,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.566
5,28078,122847,4019,9671,"161,212,212,919,432,161,212","None,Normal Sinus,Normal Sinus,NSU,Unresponsiv...",F,80,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,0.2326
6,58700,109471,4019,<NA>,<NA>,<NA>,M,56,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.4195
7,32317,128577,"41401,42731,4019","3961,3893","432,212,161,161,161,829,212,161,212,161,161,21...","Paralytic Med,Normal Sinus,None,None,None,3.7,...",F,76,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,2.3491
8,791,170658,"4019,41401",3961,"161,212,161,212,161,212,161,212,161,161,212,21...","None,Sinus Tachy,None,Normal Sinus,None,Sinus ...",F,70,UNKNOWN/NOT SPECIFIED,URGENT,TRANSFER FROM HOSP/EXTRAM,1.1431
9,24924,162178,"41401,4280,4019","9604,9671","161,161,212,212,161,161,161,161,161,212,212,43...","None,None,Normal Sinus,Normal Sinus,None,None,...",F,81,WHITE,URGENT,TRANSFER FROM HOSP/EXTRAM,3.6521
10,23251,158445,5849,<NA>,"212,432,161,161,212,212,161,161,161,212,161,21...","Junctional,Sleeping,None,None,Junctional,Junct...",M,78,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.3519
11,26338,182527,4019,<NA>,"212,432,161,161,432,161,212,212,161,432,161,43...","Normal Sinus,Alert,None,None,Alert,None,Normal...",F,56,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,0.8607
12,65449,169230,"5849,4280","3893,966",<NA>,<NA>,M,25,BLACK/AFRICAN AMERICAN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,10.8316
13,14788,104205,"41401,42731",<NA>,"161,161,212,161,161,212,161,212,212,212,432,16...","PVC's,None,Normal Sinus,None,None,1st Deg AV B...",M,87,WHITE,ELECTIVE,PHYS REFERRAL/NORMAL DELI,3.2451
14,67397,187311,"4019,42731,41401",3961,<NA>,<NA>,F,69,ASIAN - VIETNAMESE,EMERGENCY,PHYS REFERRAL/NORMAL DELI,1.416
15,69233,111857,"41401,4019",<NA>,<NA>,<NA>,M,65,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.7998
16,53081,170721,"4280,4019",<NA>,<NA>,<NA>,M,69,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,2.0019
17,23153,169398,4019,3893,"432,212,432,829,161,432,432,212,161,212,161,16...","Alert,Sinus Tachy,Alert,4,None,Alert,Alert,Sin...",F,54,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,1.3451
18,20976,191032,41401,3961,"161,161,212,432,161,432,161,212,212,212,161,16...","PAC's,None,Normal Sinus,Alert,None,Alert,None,...",M,82,UNKNOWN/NOT SPECIFIED,ELECTIVE,PHYS REFERRAL/NORMAL DELI,3.1465
19,45277,183834,"4019,41401",9671,<NA>,<NA>,M,48,WHITE,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,4.8041
20,3862,149703,"42731,4019","9671,966,9604,3893","212,161,161,432,432,829,212,432,212,161,161,16...","Atrial Fib,PVC's,None,Alert,Alert,4,Atrial Fib...",M,83,WHITE,EMERGENCY,EMERGENCY ROOM ADMIT,2.7476
21,97178,101679,"41401,4019",<NA>,<NA>,<NA>,M,61,WHITE,EMERGENCY,CLINIC REFERRAL/PREMATURE,0.7648
22,1988,177047,41401,"9604,9671,3893",<NA>,<NA>,F,57,BLACK/AFRICAN AMERICAN,EMERGENCY,EMERGENCY ROOM ADMIT,5.9088
23,16608,100458,4019,"9604,966,3893","161,161,212,161,212,161,161,212,212,161,212,16...","None,None,Normal Sinus,None,Sinus Tachy,None,N...",F,60,UNKNOWN/NOT SPECIFIED,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,8.7429
24,11858,177531,5849,<NA>,"212,161,829,212,161,161,212,161,161,432,161,21...","Normal Sinus,None,4.5,Normal Sinus,None,None,N...",M,31,HISPANIC OR LATINO,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,3.0068

Após preparadas as tabelas com os dados iremos proceder à preparação e a uma ultima alteração aos dados para depois serem implementados e testados os modelos